form-select<div class="card bg-light mb-3">
  <h2 class="card-header h3">Un-Published Assets Available By Request</h2>
  <div class="card-body">
    <div class="text-muted text-small mb-2">
      <p>Make <b>marked non-published</b> assets be available anyway by request, after the patron fills out a form?</p>
    </div>

    <% if allow_change_by_request? %>
      <%= form_with(model: work.oral_history_content!, url: update_oh_available_by_request_admin_work_path(work), method: :put, local: true) do |f|  %>

        <table class="table table-sm">
          <tr>
            <td style="width: 2rem">
              <%= f.radio_button :available_by_request_mode, "off" %>
            </td>
            <td>
              <label for="oral_history_content_available_by_request_mode_off">No</label>
              <div class="text-muted">Disabled / Off</div>
              <div class="text-muted">NOT using 'Available by Request' feature</div>

            </td>
          </tr>
          <tr>
            <td><%= f.radio_button :available_by_request_mode, "automatic" %></td>
            <td>
              <label for="oral_history_content_available_by_request_mode_automatic">Automatic</label>
              <div class="text-muted">Yes, after filling out a form</div>
              <div class="text-muted">Used with <code>free access, without internet release</code></div>
            </td>
          </tr>
          <tr>
            <td><%= f.radio_button :available_by_request_mode, "manual_review" %></td>
            <td>
              <label for="oral_history_content_available_by_request_mode_manual_review">Manual Review</label>
              <div class="text-muted">Yes, after filling out a form and an administrator approves</div>
              <div class="text-muted">Used with <code>restricted</code>, <code>permissions required</code>, and others</div>
            </td>
          </tr>
        </table>

            <%# f.select :available_by_request_mode,
                    OralHistoryContent::AVAILABLE_BY_REQUEST_INPUT_PROMPT,
                    {},
                    class: "form-select" %>

        <%= submit_tag "Save Changes", class: "btn btn-primary mb-3" %>


        <table class="table table-sm">
          <% private_asset_members.each do |asset| %>
            <tr>
              <td style="width: 2rem">
                <%= hidden_field_tag "available_by_request[#{asset.id}]", false %>
                <%= check_box_tag "available_by_request[#{asset.id}]", true, asset.oh_available_by_request,
                  id: "available_by_request_#{asset.friendlier_id}",
                  title: "#{asset.title} is available by request" %>
              </td>
              <td>
                <label for="<%= "available_by_request_#{asset.friendlier_id}" %>" class="w-100">
                  <%= asset.title %>
                </label>
              </td>
              <td><%= asset.friendlier_id %></td>
              <td><%= ScihistDigicoll::Util.humanized_content_type(asset.content_type) %></td>
            </tr>
          <% end %>
        </table>
      <% end %>
    <% else %>
      <hr>
      <p>There are no unpublished assets.</p>
    <% end %>
  </div>
</div>
