<% provide :page_title, construct_page_title(collection.title) %>
<div itemscope itemtype="http://schema.org/CollectionPage" class="collection-show <%= collection.department&.parameterize %>">

  <% if has_deeper_search? %>
    <%# we're going into a specified search, just tiny header %>
    <div class="collection-mini-header">
        <div class="show-genre">
          <% if collection.department != Collection::DEPARTMENT_EXHIBITION_VALUE %>
            <%= link_to "Collections", collections_path %>
          <% else %>
            Exhibitions
          <% end %>
        </div>

        <h1>
          <%= link_to collection.title, collection_path(collection), class: "title-link" %> <%= publication_badge(collection) %>
          <% if can? :update, collection %>
            <%= link_to "Edit", edit_admin_collection_path(collection), class: "btn btn-secondary float-end" %>
          <% end %>
        </h1>
    </div>
  <% else %>
    <%# no specified search, LOTS of collection metadata %>
    <section class="collection-top">
      <div class="collection-header">
        <div class="collection-header-title">
          <header>
            <div class="show-genre">
              <% if collection.department != Collection::DEPARTMENT_EXHIBITION_VALUE %>
                <%= link_to "Collections", collections_path %>
              <% else %>
                Exhibitions
              <% end %>
            </div>
            <h1>
              <%= link_to collection.title, collection_path(collection), class: "title-link" %> <%= publication_badge(collection) %>
              <% if can? :update, collection %>
                <%= link_to "Edit", edit_admin_collection_path(collection), class: "btn btn-secondary float-end" %>
              <% end %>
            </h1>
          </header>

          <p class="show-item-count">
            <%= render CollectionCountComponent.new(collection) %>
          </p>

          <div class="collection-search-form">
            <%= form_tag "", method: :get do |f| %>
             <div class="input-group">
                <%= search_field_tag :q, '', class: "q form-control",
                    id: "collectionQ",
                    autocomplete: "off",
                    placeholder: t("collection.search_form.search_field.placeholder"),
                    :"aria-label" => t('collection.search_form.search_field.label')
                %>
                <label class="visually-hidden" for="collectionQ"><%= t('collection.search_form.search_field.label') %></label>
                <button type="submit" class="btn btn-brand-main" title="Search">
                  <%= t('blacklight.search.form.submit') %>
                </button>
              </div>
              <%= hidden_field_tag :sort, params[:sort], id: 'collection_sort' %>

              <% if collection.department == 'Archives' %>
                <div class="row mx-0">
                  <div class="col gx-0">
                    <label  for="box_id">Box</label>
                    <%= search_field_tag :box_id,    params[:box_id],    class: "box_id form-control",    id: "box_id",
                    :"aria-label" => 'Box'
                    %>
                  </div>
                  <div class="col gx-0 ms-3">
                    <label for="folder_id">Folder</label>
                    <%= search_field_tag :folder_id, params[:folder_id], class: "folder_id form-control", id: "folder_id",
                    :"aria-label" => 'Folder' %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>

        </div>

        <div class="collection-header-thumb">
          <%= render ThumbComponent.new(collection.leaf_representative, thumb_size: :collection_show_page, placeholder_img_url: asset_path("default_collection.svg")) %>
        </div>
      </div>

      <div class="collection-about">
        <div class="collection-description">
          <div class="collection-description-text <%= 'short-text' if collection.description.length <= 220 %>">
            <%= DescriptionDisplayFormatter.new(collection.description).format %>
          </div>

          <% if  @collection_opac_urls.opac_urls.present? || @related_link_filter.finding_aid_related_links.present? %>
            <div class="other-system-links">
            <% @collection_opac_urls.opac_urls.each do |opac_url| %>
              <%= link_to "View in Library Catalog", opac_url, class: "btn btn-brand-main" %>
            <% end %>

            <% @related_link_filter.finding_aid_related_links.collect(&:url).compact.each do |finding_aid_url| %>
              <%= link_to "View Collection Guide", finding_aid_url, class: "btn btn-brand-main" %>
            <% end %>
            </div>
          <% end %>
        </div>

        <% if collection.funding_credit.present? %>
          <div class="collection-funding-credit">
            <% if collection.funding_credit.image.present? %>
              <%= image_tag collection.funding_credit.image_path, class: "funding-credit-image" %>
            <% end %>
            <div class="funding-credit-text">
              <% if collection.department == "Center for Oral History" %>
                This oral history project
              <% else %>
                Digitization and cataloging of this collection
              <% end %>
                made possible by the generosity of
              <%= link_to_if collection.funding_credit.url.present?,
                    collection.funding_credit.name,
                    collection.funding_credit.url,
                    target: "_blank"
              %>
            </div>
          </div>
        <% end %>

      </div>


      <% if  @related_link_filter.general_related_links.present? %>
        <div class="related-links">
          <h2 class="attribute-sub-head">Learn More</h2>
          <div class="related-links show-sub-head-body">
            <% @related_link_filter.general_related_links.each do |link| %>
              <%= render RelatedLinkComponent.new(related_link: link) %>
            <% end %>
          </div>
        </div>
      <% end %>

    </section>
  <% end %>

  <%= render blacklight_config.view_config(document_index_view_type).constraints_component.new(search_state: search_state) %>

  <div class="row">
    <% if @response.documents.present? %>
      <div class="sidebar-col">
        <% conf = blacklight_config.view_config(document_index_view_type) %>
        <%= render conf.sidebar_component.new(blacklight_config: blacklight_config,
                                        response: @response,
                                        view_config: conf) %>
      </div>
      <div class="content-col">
        <%# per-page and sort controls, from Blacklight partial %>
        <%= render blacklight_config.view_config(document_index_view_type).search_header_component.new %>
        <%= render "document_list", documents: @response.documents %>
        <%= render 'catalog/results_pagination' %>
      </div>
    <% else %>
      <div class="ms-3">
        <%= render 'catalog/zero_results' %>
      </div>
    <% end %>
  </div>
</div>
