<h1>Oral history access requests</h1>

<p>Patron requests for restricted oral histories.</p>


<h2>Download a spreadsheet of requests</h2>
<div class="border p-2 mb-5">
  <%= simple_form_for(:report, url: report_admin_oral_history_requests_path, method: :post) do |f| %>
    <div class="row">
      <div class="col">
        <%= f.input :start_date,
          as: :date, html5: true, required: false,
          label: "Start date" %>
      </div>
      <div class="col">
        <%= f.input :end_date,
          as: :date, html5: true, required: false,
          label: "End date"  %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.button :submit, value: "Download report" %>
      </div>
    </div>
  <% end %>
</div>

<h2>Oral History Requests</h2>
<div class="border p-2 mb-5">
  <%= simple_form_for(:query, url: admin_oral_history_requests_path, method: :get) do |f| %>
    <div class="row mb-3">
      <div class="input-group col-sm-10">
        <div class="input-group-prepend">
          <%= f.label :status, "Status", class: "input-group-text" %>
        </div>
        <%= f.select :status,
          status_filter_options,
          { selected: "Any"},
            {
            class: "custom-select",
            onchange: "this.form.submit()"
            }
        %>
      </div>
    </div>
  <% end %>
  <table class="table admin-list request-list">
    <thead>
      <tr class="d-flex">
        <th class="col-2">Date</th>
        <th class="col-2">Patron</th>
        <th class="col-3">Oral History</th>
        <th class="col-4">Intended use</th>
        <th class="col-1">Delivery Status</th>
      </tr>
    </thead>

    <tbody>
      <% @oral_history_requests.each do |oh_request| %>
        <tr class="d-flex" data-request-id="<%= oh_request.id %>">
          <td class="col-sm-2">
            <span class="text-nowrap small"><%= l(oh_request.created_at, format: '%b %d %Y') %></span>
            <br/>
            <span class="text-nowrap small"><%= l(oh_request.created_at, format: '%H:%M %Z') %></span>
          </td>
          <td class="col-sm-2"><%= oh_request.patron_name %>
            <% if oh_request.patron_institution.present? %>, <%= oh_request.patron_institution %><% end %><br/>
            <span class="small">(<%= link_to oh_request.requester_email, "mailto:#{oh_request.requester_email}" %>)</span>
          </td>
          <td class="col-sm-3"><%= link_to(oh_request.work.title.delete_prefix("Oral history interview with "), work_path(oh_request.work.friendlier_id))%> <span class="small">(#<%= oh_request.oral_history_number %>)</span></td>
          <td class="col-sm-4">
             <%= oh_request.intended_use %>
          </td>
          <td class="col-sm-1 request-list-delivery-status">
            <%= link_to oh_request.delivery_status, admin_oral_history_request_path(oh_request) %>
          </td>
        </tr>
      <%end %>
    </tbody>
  </table>
</div>

<%= paginate @oral_history_requests, theme: 'twitter-bootstrap-4' %>