<h1>Oral History Access Request</h1>

<dl>
  <dt>Oral history</dt>
  <dd><%= link_to @oral_history_request.work.title, work_path(@oral_history_request.work), target: "_blank" %></dd>

  <dt>Delivery status</dt>
  <dd><%= @oral_history_request.delivery_status %></dd>

  <dt>Patron</dt>
  <dd><%= @oral_history_request.patron_name %>
    (<%= link_to @oral_history_request.requester_email, "mailto:#{@oral_history_request.requester_email}" %>)
  </dd>

  <dt>Institution</dt>
  <dd><%= @oral_history_request.patron_institution.presence || "[blank]" %>

  <dt>Intended use</dt>
  <dd><%= simple_format @oral_history_request.intended_use %>
</dl>

<hr>

<h2>Approve or Reject</h2>

<%= simple_form_for(:oral_history_request_approval, url: respond_admin_oral_history_request_path(@oral_history_request)) do |form| %>
  <%= form.input :notes_from_staff, as: :text, required: false, label: "Message to patron", input_html: { value: @oral_history_request.notes_from_staff, rows: 5 }  %>

  <%= form.button :button, "Approve", type: "submit", name: "disposition", value: "approve", class: "btn-success" %>
  <%= form.button :button, "Reject", type: "submit", name: "disposition", value: "reject", class: "btn-danger float-end" %>

  <small class="form-text text-muted scihist-hint mt-5 mb-2 w-25">You may also dismiss this request. The request will be marked as "dismissed" and set aside. No email will be sent to the requester. Use this for duplicate or stale requests.</small>
  <%= form.button :button, "Dismiss", type: "submit", name: "disposition", value: "dismiss", class: "btn-danger",
   data: { confirm: 'Are you sure you want to dismiss this request?
The request will be set aside
and the requester will NOT be notified.' } %>
<% end %>
