<h1>Fixity report</h1>
<div class"mt-3">
    <% if @fixity_report_info[:bad_assets].present? %>
        <h2><i class="fa fa-times" aria-hidden="true" style="color:red;"></i> Failures</h2>
    <% else %>
        <h2><i class="fa fa-check" aria-hidden="true" style="color:green;"></i> OK</h2>
    <% end %>
</div>
<ul style="list-style-type:none;">
<% @fixity_report_info[:bad_assets].each do |asset| %>
    <li><i class="fa fa-times" aria-hidden="true" style="color:red;"></i> <%= link_to(asset.title, admin_asset_path(asset)) %></li>
<% end %>
</ul>

<h2>Fixity stats</h2>
<table class="table mt-3">
  <thead>
    <tr>
      <th>Which assets</th>
      <th>How many</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>All</td>
        <td><%= @fixity_report_info[:asset_count] %></td>
      </tr>

      <tr>
        <td>With no files (can't run a check on these)</td>
        <td><%= @fixity_report_info[:no_stored_files] %></td>
      </tr>
      <tr>
        <td>With files, and thus eligible for fixity checks</td>
        <td><%= @fixity_report_info[:stored_files] %></td>
      </tr>

      <tr>
        <td>With files, haven't been checked yet</td>
        <td><%= @fixity_report_info[:no_checks] %></td>
      </tr>
      <tr>
      <tr>
        <td>With files, have been checked</td>
        <td><%= @fixity_report_info[:with_checks] %></td>
      </tr>
      <tr>

      <tr>
        <td>With files, checked, but not for the past week</td>
        <td><%= @fixity_report_info[:stale_checks] %></td>
      </tr>
      <tr>
        <td>With files, checked in the past week</td>
        <td><%= @fixity_report_info[:recent_checks] %></td>
      </tr>

      <tr>
        <td>With files, ingested in the past 7 days</td>
        <td><%= @fixity_report_info[:recent_files] %></td>
      </tr>
      <tr>
        <td>With files, and due to be checked (have not been checked for 7 days, or ever)</td>
        <td><%= @fixity_report_info[:no_checks_or_stale_checks] %></td>
      </tr>
      <tr>
        <td>With files, ingested more than 7 days ago, and should thus have recent checks but don't</td>
        <td><%= @fixity_report_info[:not_recent_with_no_checks_or_stale_checks] %></td>
      </tr>
  </tbody>
</table>

<div>
  <em>This report took <%= @fixity_report_info[:duration].round(2) %> seconds to generate.</em>
</div>