<h1>Fixity report</h1>
<div class"mt-3">
  <%# never fear, bad_assets is memoized %>
  <% if @fixity_report.bad_assets.present? %>
      <div class="alert alert-danger">
        <h2 class="alert alert-danger border-0"><i class="fa fa fa-thumbs-down" aria-hidden="true"></i>
          <%= pluralize(@fixity_report.bad_assets.count, 'failure') %>
        </h2>
        <ul class="list-unstyled">
          <% @fixity_report.bad_assets.each do |asset| %>
              <li >
                <i class="fa fa-times" aria-hidden="true" ></i>
                <%= link_to(asset.title, admin_asset_path(asset)) %>
              </li>
          <% end %>
        </ul>
      </div>
  <% else %>
      <h2 class="alert alert-success"><i class="fa fa-thumbs-up" aria-hidden="true"></i> OK</h2>
  <% end %>
</div>

<h2>Fixity stats</h2>
<table class="table mt-3">
  <thead>
    <tr>
      <th>Which assets</th>
      <th>How many</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>All</td>
        <td><%=  @fixity_report.asset_count %></td>
      </tr>

      <tr>
        <td>With no files, so can't be checked</td>
        <td><%=  @fixity_report.no_stored_files %></td>
      </tr>
      <tr>
        <td>With files, and thus eligible for fixity checks</td>
        <td><%= @fixity_report.stored_files %></td>
      </tr>

      <tr>
        <td>With files, haven't been checked yet</td>
        <td><%= @fixity_report.no_checks %></td>
      </tr>
      <tr>
      <tr>
        <td>With files, have been checked</td>
        <td><%= @fixity_report.with_checks %></td>
      </tr>
      <tr>

      <tr>
        <td>With files, checked, but not for the past week</td>
        <td><%= @fixity_report.stale_checks %></td>
      </tr>
      <tr>
        <td>With files, checked in the past week</td>
        <td><%= @fixity_report.recent_checks %></td>
      </tr>

      <tr>
        <td>With files, ingested in the past 7 days</td>
        <td><%= @fixity_report.recent_files %></td>
      </tr>
      <tr>
        <td>With files, and due to be checked (have not been checked for 7 days, or ever)</td>
        <td><%= @fixity_report.no_checks_or_stale_checks %></td>
      </tr>
      <tr>
        <td>With files, ingested more than 7 days ago, and should thus have recent checks but don't</td>
        <td><%= @fixity_report.not_recent_with_no_checks_or_stale_checks %></td>
      </tr>
  </tbody>
</table>