<div>Managing an Asset</div>
<h1><%= @asset.title %></h1>
<%if @asset.parent %>
  <p>In Work: <%= link_to @asset.parent.title, [:admin, @asset.parent] %> </p>
<% end %>
<p>
  <%= link_to "Edit", edit_admin_asset_path(@asset), class: "btn btn-primary" %>
  <%= link_to "Convert to child work", convert_to_child_work_admin_asset_path(@asset), method: "put", class: "btn btn-primary" %>
</p>

<div class="row">
  <div class="col-sm-6">
    <% if @asset.file_derivatives[:thumb_large] && @asset.file_derivatives[:thumb_large_2X] %>
      <%= thumb_image_tag @asset, size: :large, style: "max-width: 100%" %>
    <% elsif ! @asset.stored? %>
      <p class="text-white bg-danger">
        Waiting on ingest...
      </p>
    <% else %>
      <p class="text-white bg-danger">
        Derivatives not available
      </p>
    <% end %>

    <% if @asset.file %>
      <%= link_to "Download Original",
            @asset.file.url(response_content_disposition: ContentDisposition.format(disposition: :attachment, filename: DownloadFilenameHelper.filename_for_asset(@asset))),
            class: "btn btn-outline-primary btn-lg mt-4" %>
    <% end %>


    <% if @asset.transcription.present? || @asset.english_translation.present? %>
      <ul class="nav nav-tabs mt-4" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="transcription-tab" data-toggle="tab" href="#transcriptionText" role="tab" aria-controls="transcriptionText" aria-selected="true">Transcription</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="english-translation-tab" data-toggle="tab" href="#englishTranslationText" role="tab" aria-controls="englishTranslationText" aria-selected="false">English Translation</a>
        </li>
      </ul>
      <div class="tab-content pt-2 pb-2 border-bottom" id="myTabContent">
        <div class="tab-pane text-brand-serif show active" id="transcriptionText" role="tabpanel" aria-labelledby="transcription--tab">
          <%= simple_format(html_escape(@asset.transcription)) %>
        </div>
        <div class="tab-pane text-brand-serif" id="englishTranslationText" role="tabpanel" aria-labelledby="english-translation-tab">
          <%= simple_format(html_escape(@asset.english_translation)) %>
        </div>
      </div>
    <% end %>

    <% if @asset.content_type&.start_with?("video/") && @asset.active_encode_statuses.present? %>
      <h3 class="mt-4 mb-4">HLS Encode Jobs</h3>
      <% @asset.active_encode_statuses.order(updated_at: :desc).each do |status| %>
        <dl class='row'>
          <dt class="col-sm-4">started</dt><dd class="col-sm-8"><%= l status.created_at, format: :admin %></dd>
          <dt class="col-sm-4">last updated</dt><dd class="col-sm-8"><%= l status.updated_at, format: :admin %></dd>
          <dt class="col-sm-4">state</dt>
            <dd class="col-sm-8">
              <%= status.state %>
              <% if status.running? && status.percent_complete.to_i > 0 %>
                (<%= status.percent_complete  %>%)
              <% end %>
            </dd>
          <dt class="col-sm-4">job id</dt>
            <dd class="col-sm-8">
              <%= status.active_encode_id %><br>
              <%= link_to "[In AWS MediaConvert Console]", "https://us-east-1.console.aws.amazon.com/mediaconvert/home?#/jobs/summary/#{ status.active_encode_id }", target: "_blank" %>
            </dd>
          <% if status.encode_error.present? %>
            <dt>Error</dt>
            <dd><code><%= status.encode_error %></code></dd>
          <% end %>
          <% if status.hls_master_playlist_s3_url.present? %>
            <dt class="col-sm-4">.m3u8 playlist</dt>
            <dd class="col-sm-8">
              <%= text_field_tag "", status.hls_master_playlist_s3_url, readonly: true, style: "width: 100%" %><br>
              <%= link_to "[In AWS S3 Console]", S3ConsoleUri.from_uri(status.hls_master_playlist_s3_url).console_uri, target: "_blank" %>
            </dd>
          <% end %>
        </dl>
        <% if status.running? %>
          <%= link_to "Refresh status", admin_refresh_active_encode_status_path(status.id), method: "put", class: "btn btn-primary btn-sm" %>
        <% end %>
        <hr>
      <% end %>
    <% end %>

  </div>

  <div class="col-sm-6">

      <% if !@asset.published? && work_is_oral_history? && @asset.oh_available_by_request %>
        <div class="row">
          <div class="col-sm-12">
            <span class="h3">
              <span class="badge badge-warning">Un-published, but marked available by request</span>
            </span>
              <% if @asset.parent %>
                More info at <%= link_to "Work Oral History Management", admin_work_path(@asset.parent, anchor: "tab=nav-oral-histories") %>
              <% end %>
          </div>
        </div>
      <% end %>

    <dl class="row">

      <% if @asset.role.present? %>
        <dt class="col-sm-4">Role</dt>
        <dd class="col-sm-8"><span class="badge badge-info"><%= @asset.role.humanize.downcase %></span></dd>
      <% end %>

      <dt class="col-sm-4">Created</dt>
      <dd class="col-sm-8"><%= l @asset.created_at, format: :admin %></dd>

      <dt class="col-sm-4">Last Modified</dt>
      <dd class="col-sm-8"><%= l @asset.updated_at, format: :admin %></dd>

      <dt class="col-sm-4">Internal ID</dt>
      <dd class="col-sm-8 text-monospace small"><%= @asset.id %></dd>

      <dt class="col-sm-4">Orig. Filename</dt>
      <dd class="col-sm-8"><%= @asset&.file&.metadata.try { |h| h["filename"]} %></dd>

      <dt class="col-sm-4">Alt text</dt>
      <dd class="col-sm-8"><%= @asset.alt_text %></dd>

      <dt class="col-sm-4">Caption</dt>
      <dd class="col-sm-8"><%= @asset.caption %></dd>


      <%if @asset.stored? %>
        <dt class="col-sm-4">File in s3</dt>
        <dd class="col-sm-8"><%= link_to @asset.file.url(public: true).split('/').last, S3ConsoleUri.from_shrine_uploaded_file(@asset.file).console_uri %></dd>

        <dt class="col-sm-4">Stored in S3 bucket</dt>
        <dd class="col-sm-8"><%= @asset.file.storage.try(:bucket).try(:name) || "UNKNOWN" %></dd>
      <% end %>

      <dt class="col-sm-4">Content-type</dt>
      <dd class="col-sm-8"><%= @asset.content_type %></dd>

      <dt class="col-sm-4">File Size</dt>
      <dd class="col-sm-8"><%= ScihistDigicoll::Util.simple_bytes_to_human_string(@asset.size) %></dd>


      <dt class="col-sm-4">Signatures</dt>
      <dd class="col-sm-8">
        <dl class="row">
          <dt class="col-sm-2">MD5</dt>
          <dd class="col-sm-10 text-truncate">
            <%= text_field_tag "", @asset.md5, readonly: true, style: "width: 100%" %>
          </dd>

          <dt class="col-sm-2">SHA1</dt>
          <dd class="col-sm-10 text-truncate" title="foo">
            <%= text_field_tag "", @asset.sha1, readonly: true, style: "width: 100%" %>
          </dd>

          <dt class="col-sm-2">SHA512</dt>
          <dd class="col-sm-10 text-truncate" title="foo">
            <%= text_field_tag "", @asset.sha512, readonly: true, style: "width: 100%" %>
          </dd>
        </dl>
      </dd>


      <%= render 'admin/assets/fixity' %>

    <% if @asset.admin_note.present? %>
      <dt class="col-sm-4">Admin Note</dt>
      <dd class="col-sm-8">
        <% @asset.admin_note.each do |note| %>
          <%= simple_format note %>
        <% end %>
      </dd>
    <% end %>

    </dl>

    <h3>Media-specific Technical Metadata</h3>

    <dl class="row">
      <% if @asset.width.present? %>
        <dt class="col-sm-4">Width</dt>
        <dd class="col-sm-8"><%= @asset.width %> px</dd>
      <% end %>

      <% if @asset.height.present? %>
        <dt class="col-sm-4">Height</dt>
        <dd class="col-sm-8"><%= @asset.height %> px</dd>
      <% end %>

      <% if @asset.file_metadata&.dig("duration_seconds").present? %>
        <dt class="col-sm-4">Duration</dt>
        <dd class="col-sm-8"><%= format_ohms_timestamp(@asset.file_metadata["duration_seconds"]) %></dd>
      <% end %>

      <% if @asset.file_metadata&.dig("bitrate").present? %>
        <dt class="col-sm-4">Bitrate</dt>
        <dd class="col-sm-8"><%= @asset.file_metadata["bitrate"] / 1000 %> kb/s</dd>
      <% end %>

      <% if @asset.file_metadata&.dig("video_codec").present? %>
        <dt class="col-sm-4">Video Codec</dt>
        <dd class="col-sm-8"><%= @asset.file_metadata["video_codec"] %></dd>
      <% end %>

      <% if @asset.file_metadata&.dig("video_bitrate").present? %>
        <dt class="col-sm-4">Video Bitrate</dt>
        <dd class="col-sm-8"><%= @asset.file_metadata["video_bitrate"] / 1000 %> kb/s</dd>
      <% end %>


      <% if @asset.file_metadata&.dig("frame_rate").present? %>
        <dt class="col-sm-4">Frame rate</dt>
        <dd class="col-sm-8"><%= @asset.file_metadata["frame_rate"]  %> fps</dd>
      <% end %>


      <% if @asset.file_metadata&.dig("audio_bitrate").present? %>
        <dt class="col-sm-4">Audio Bitrate</dt>
        <dd class="col-sm-8"><%= @asset.file_metadata["audio_bitrate"] / 1000 %> kb/s</dd>
      <% end %>

      <% if @asset.file_metadata&.dig("audio_codec").present? %>
        <dt class="col-sm-4">Audio Codec</dt>
        <dd class="col-sm-8"><%= @asset.file_metadata["audio_codec"] %></dd>
      <% end %>

      <% if @asset.file_metadata&.dig("audio_sample_rate").present? %>
        <dt class="col-sm-4">Audio Sample Rate</dt>
        <dd class="col-sm-8"><%= (@asset.file_metadata["audio_sample_rate"].to_f / 1000).round(1) %> kHz</dd>
      <% end %>

      <% if @asset.file_metadata&.dig("audio_channels").present? %>
        <dt class="col-sm-4">Audio Channels</dt>
        <dd class="col-sm-8"><%= @asset.file_metadata["audio_channels"] %>
          <% if @asset.file_metadata&.dig("audio_channel_layout").present? %>
          (<%= @asset.file_metadata["audio_channel_layout"] %>)
          <% end %>
        </dd>
      <% end %>
    </dl>

    <h2 class="mt-4">Derivatives</h2>

    <p>
      <%= simple_form_for(@asset, wrapper: :horizontal_form) do |f| %>

        <p class="text-muted small mt-3">
            Use the <b>restricted</b> storage type for confidential files such as restricted oral histories.
            Otherwise, normally use <b>public</b> storage type. After changing Derivative Storage Type
            it may take a few minutes for derivative locations to be updated.</p>
        </p>

        <div class="row mb-3">
          <div class="col-sm-4">
            <%= f.label :derivative_storage_type %>
          </div>
          <div class="col-sm-8">
            <%= f.input_field :derivative_storage_type,
              as: :select,
              collection: Asset::DERIVATIVE_STORAGE_TYPE_LOCATIONS.keys,
              include_blank: false,
              class: "custom-select" %>
          </div>
        </div>

        <%= f.button :submit, "Update Derivative Storage Type" %>
      <% end %>
    </p>

    <ul class="list-unstyled">
      <% @asset.file_derivatives.each_pair do |key, derivative| %>
        <li>
          <%= link_to key, derivative.url %>
          <% if derivative.storage_key == :restricted_kithe_derivatives %>
            <span class="badge badge-warning">on restricted storage</span>
          <% elsif @asset.derivative_storage_type == "restricted" %>
            <span class="badge badge-danger">unexpectedly on public storage</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
