<div>Managing an Asset</div>
<h1><%= @asset.title %></h1>
<%if @asset.parent %>
  <p>In Work: <%= link_to @asset.parent.title, [:admin, @asset.parent] %> </p>
<% end %>
<p>
  <%= link_to "Edit", edit_admin_asset_path(@asset), class: "btn btn-primary" %>
  <%= link_to "Convert to child work", convert_to_child_work_admin_asset_path(@asset), method: "put", class: "btn btn-primary" %>
</p>

<div class="row">
  <div class="col-sm-6">
    <% if @asset.derivative_for(:thumb_large) && @asset.derivative_for(:thumb_large_2X) %>
      <%= thumb_image_tag @asset, size: :large, style: "max-width: 100%" %>
    <% elsif ! @asset.stored? %>
      <p class="text-white bg-danger">
        Waiting on ingest...
      </p>
    <% else %>
      <p class="text-white bg-danger">
        Derivatives not available
      </p>
    <% end %>

    <% if @asset.file %>
      <%= link_to "Download Original",
            @asset.file.url(response_content_disposition: ContentDisposition.format(disposition: :attachment, filename: @asset.title)),
            class: "btn btn-outline-primary btn-lg mt-4" %>
      <% end %>
  </div>

  <div class="col-sm-6">
    <dl class="row">
      <dt class="col-sm-4">Created</dt>
      <dd class="col-sm-8"><%= l @asset.created_at, format: :admin %></dd>

      <dt class="col-sm-4">Last Modified</dt>
      <dd class="col-sm-8"><%= l @asset.updated_at, format: :admin %></dd>


      <dt class="col-sm-4">Orig. Filename</dt>
      <dd class="col-sm-8"><%= @asset&.file&.metadata.try { |h| h["filename"]} %></dd>

      <dt class="col-sm-4">Content-type</dt>
      <dd class="col-sm-8"><%= @asset.content_type %></dd>

      <dt class="col-sm-4">File Size</dt>
      <dd class="col-sm-8"><%= number_to_human_size(@asset.size) %></dd>

      <dt class="col-sm-4">Signatures</dt>
      <dd class="col-sm-8">
        <dl class="row">
          <dt class="col-sm-2">MD5</dt>
          <dd class="col-sm-10 text-truncate">
            <%= text_field_tag "", @asset.md5, readonly: true, style: "width: 100%" %>
          </dd>

          <dt class="col-sm-2">SHA1</dt>
          <dd class="col-sm-10 text-truncate" title="foo">
            <%= text_field_tag "", @asset.sha1, readonly: true, style: "width: 100%" %>
          </dd>

          <dt class="col-sm-2">SHA512</dt>
          <dd class="col-sm-10 text-truncate" title="foo">
            <%= text_field_tag "", @asset.sha512, readonly: true, style: "width: 100%" %>
          </dd>
        </dl>
      </dd>

      <dt class="col-sm-4">Fixity audits</dt>
      <dd class="col-sm-8">
        <dl class="row">
          <dt class="col-sm-2">Status</dt>
          <dd class="col-sm-10">
            <% if @asset.stored? %>
              <% if  @fixity_checker.checks_for_this_uri.present? %>
                <% if @fixity_checker.latest_passed?  %>
                  <i class="fa fa-check" aria-hidden="true" style="color:green;"></i> OK
                <% else %>
                  <ul style="list-style: none;">
                    <li>
                      <i class="fa fa-times" aria-hidden="true" style="color:red;"></i>
                      <strong>FAILURE</strong>
                    </li>
                    <li>
                      Check ID: <code><%= @fixity_checker.newest_check.id %></code>
                    </li>
                    <li>
                      Time: <code><%= @fixity_checker.newest_check.created_at %></code>
                    </li>
                    <li>
                      Expected: <code><%= @fixity_checker.newest_check.expected_result %></code>
                    </li>
                    <li>
                      Actual: <code><%= @fixity_checker.newest_check.actual_result %></code>
                    </li>
                    <li>
                      Checked URI: <code><%= @fixity_checker.newest_check.checked_uri %></code>
                    </li>
                  </ul>
                <% end %>
              <% else %>
                No fixity checks yet.
              <% end %>
            <% else %>
              This file is still being ingested.
            <% end %>
          </dd>

          <%# Details with assets with actual checks to report about: %>
          <% if @asset.stored? && @fixity_checker.checks_for_this_uri.present? %>
            <dt class="col-sm-2">Latest</dt>
            <dd class="col-sm-10 text-truncate">
              <%= "#{time_ago_in_words(@fixity_checker.newest_check.created_at)} ago" %>
            </dd>
            <dt class="col-sm-2">Earliest</dt>
            <dd class="col-sm-10 text-truncate">
              <%= "#{time_ago_in_words(@fixity_checker.oldest_check.created_at)} ago" %>
            </dd>
            <dt class="col-sm-12">
              <a data-toggle="collapse" href="#collapseFixityDetails"
                role="button" aria-expanded="false"
                aria-controls="collapseProvenanceNotes">Details</a>
            </dt>
            <dd class="col-sm-12 collapse" id="collapseFixityDetails">
              <% @fixity_checker.checks_for_this_uri.each do | ch| %>
                <div>
                  <%if ch.passed? %>
                    <i class="fa fa-check" aria-hidden="true" style="color:green;"></i> <span class="sr-only">Passed</span>
                  <% else %>
                    <i class="fa fa-times" aria-hidden="true" style="color:red;"></i> <span class="sr-only">Failed</span>
                  <% end %>
                  <%= l ch.created_at, format: :admin %>
                </div>
              <% end %>
            </dd>
          <% end %>
        </dl>
      </dd>

      <dt class="col-sm-4">Dimensions</dt>
      <dd class="col-sm-8">
        <dl>
          <% if @asset.width %>
            <dt>Width</dt><dd><%= @asset.width %> px</dd>
          <% end %>
          <% if @asset.height %>
            <dt>Height</dt><dd><%= @asset.height %> px</dd>
          <% end %>
        </dl>
      </dd>

      <dt class="col-sm-4">Created</dt>
      <dd class="col-sm-8"><%= l @asset.created_at, format: :admin %></dd>

      <dt class="col-sm-4">Last Updated</dt>
      <dd class="col-sm-8"><%= l @asset.updated_at, format: :admin %></dd>

    </dl>


    <h2 class="mt-4">Derivatives</h2>
    <ul class="list-unstyled">
      <% @asset.derivatives.sort_by(&:key).each do |derivative| %>
        <li><%= link_to derivative.key, derivative.url %></li>
      <% end %>
    </ul>
  </div>
</div>