<div>Managing an Asset</div>
<h1><%= @asset.title %></h1>
<%if @asset.parent %>
  <p>In Work: <%= link_to @asset.parent.title, [:admin, @asset.parent] %> </p>
<% end %>
<p>
  <%= link_to "Edit", edit_admin_asset_path(@asset), class: "btn btn-primary" %>
  <%= link_to "Convert to child work", convert_to_child_work_admin_asset_path(@asset), method: "put", class: "btn btn-primary" %>
</p>

<div class="row">
  <div class="col-sm-6">
    <% if @asset.file_derivatives[:thumb_large] && @asset.file_derivatives[:thumb_large_2X] %>
      <%= thumb_image_tag @asset, size: :large, style: "max-width: 100%" %>
    <% elsif ! @asset.stored? %>
      <p class="text-white bg-danger">
        Waiting on ingest...
      </p>
    <% else %>
      <p class="text-white bg-danger">
        Derivatives not available
      </p>
    <% end %>

    <% if @asset.file %>
      <%= link_to "Download Original",
            @asset.file.url(response_content_disposition: ContentDisposition.format(disposition: :attachment, filename: DownloadFilenameHelper.filename_for_asset(@asset))),
            class: "btn btn-outline-primary btn-lg mt-4" %>
      <% end %>
  </div>

  <div class="col-sm-6">

      <% if !@asset.published? && work_is_oral_history? && @asset.oh_available_by_request %>
        <div class="row">
          <div class="col-sm-12">
            <span class="h3">
              <span class="badge badge-warning">Un-published, but marked available by request</span>
            </span>
              <% if @asset.parent %>
                More info at <%= link_to "Work Oral History Management", admin_work_path(@asset.parent, anchor: "nav-oral-histories") %>
              <% end %>
          </div>
        </div>
      <% end %>

    <dl class="row">

      <% if @asset.role.present? %>
        <dt class="col-sm-4">Role</dt>
        <dd class="col-sm-8"><span class="badge badge-info"><%= @asset.role.humanize.downcase %></span></dd>
      <% end %>

      <dt class="col-sm-4">Created</dt>
      <dd class="col-sm-8"><%= l @asset.created_at, format: :admin %></dd>

      <dt class="col-sm-4">Last Modified</dt>
      <dd class="col-sm-8"><%= l @asset.updated_at, format: :admin %></dd>

      <dt class="col-sm-4">Orig. Filename</dt>
      <dd class="col-sm-8"><%= @asset&.file&.metadata.try { |h| h["filename"]} %></dd>

      <dt class="col-sm-4">Alt text</dt>
      <dd class="col-sm-8"><%= @asset.alt_text %></dd>

      <%if @asset.stored? && Shrine.storages[:store].try('bucket').try('name') %>
        <dt class="col-sm-4">File in s3</dt>
        <dd class="col-sm-8"><%= link_to @asset.file.url(public: true).split('/').last, S3ConsoleUri.new(@asset.file.url(public: true)).console_uri %></dd>

        <dt class="col-sm-4">Stored in S3 bucket</dt>
        <dd class="col-sm-8"><%= Shrine.storages[:store].bucket.name %></dd>
      <% end %>

      <dt class="col-sm-4">Content-type</dt>
      <dd class="col-sm-8"><%= @asset.content_type %></dd>

      <dt class="col-sm-4">File Size</dt>
      <dd class="col-sm-8"><%= ScihistDigicoll::Util.simple_bytes_to_human_string(@asset.size) %></dd>


      <dt class="col-sm-4">Signatures</dt>
      <dd class="col-sm-8">
        <dl class="row">
          <dt class="col-sm-2">MD5</dt>
          <dd class="col-sm-10 text-truncate">
            <%= text_field_tag "", @asset.md5, readonly: true, style: "width: 100%" %>
          </dd>

          <dt class="col-sm-2">SHA1</dt>
          <dd class="col-sm-10 text-truncate" title="foo">
            <%= text_field_tag "", @asset.sha1, readonly: true, style: "width: 100%" %>
          </dd>

          <dt class="col-sm-2">SHA512</dt>
          <dd class="col-sm-10 text-truncate" title="foo">
            <%= text_field_tag "", @asset.sha512, readonly: true, style: "width: 100%" %>
          </dd>
        </dl>
      </dd>


      <%= render 'admin/assets/fixity' %>

      <dt class="col-sm-4">Dimensions</dt>
      <dd class="col-sm-8">
        <dl>
          <% if @asset.width %>
            <dt>Width</dt><dd><%= @asset.width %> px</dd>
          <% end %>
          <% if @asset.height %>
            <dt>Height</dt><dd><%= @asset.height %> px</dd>
          <% end %>
        </dl>
      </dd>

    <% if @asset.admin_note.present? %>
      <dt class="col-sm-4">Admin Note</dt>
      <dd class="col-sm-8">
        <% @asset.admin_note.each do |note| %>
          <%= simple_format note %>
        <% end %>
      </dd>
    <% end %>

    </dl>

    <h2 class="mt-4">Derivatives</h2>

    <p>
      <%= simple_form_for(@asset, wrapper: :horizontal_form) do |f| %>

        <p class="text-muted small mt-3">
            Use the <b>restricted</b> storage type for confidential files such as restricted oral histories.
            Otherwise, normally use <b>public</b> storage type. After changing Derivative Storage Type
            it may take a few minutes for derivative locations to be updated.</p>
        </p>

        <div class="row mb-3">
          <div class="col-sm-4">
            <%= f.label :derivative_storage_type %>
          </div>
          <div class="col-sm-8">
            <%= f.input_field :derivative_storage_type,
              as: :select,
              collection: Asset::DERIVATIVE_STORAGE_TYPE_LOCATIONS.keys,
              include_blank: false,
              class: "custom-select" %>
          </div>
        </div>

        <%= f.button :submit, "Update Derivative Storage Type" %>
      <% end %>
    </p>

    <ul class="list-unstyled">
      <% @asset.file_derivatives.each_pair do |key, derivative| %>
        <li>
          <%= link_to key, derivative.url %>
          <% if derivative.storage_key == :restricted_kithe_derivatives %>
            <span class="badge badge-warning">on restricted storage</span>
          <% elsif @asset.derivative_storage_type == "restricted" %>
            <span class="badge badge-danger">unexpectedly on public storage</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
