<p>A fixity check for asset <%= @asset.friendlier_id %> on <%= mailer.hostname %> just failed at <%= mailer.date %>.</p>

<dt>Asset:</dt>
  <dd><%= mailer.asset_link %></dd>
<% if mailer.work %>
  <dt>Work:</dt>
  <dd><%= mailer.work_link %></dd>
<% else %>
  <p>This asset is not part of a work.</p>
<% end %>
<dt>Failing FixityCheck id:</dt>
  <dd><%= @fixity_check.id %></dd>
<dt>Time:</dt>
  <dd><%= mailer.date %></dd>
<dt>Expected #{ @fixity_check.hash_function }:</dt>
  <dd><%= @fixity_check.expected_result %></dd>
<dt>Actual #{ @fixity_check.hash_function }:</dt>
  <dd><%= @fixity_check.actual_result %></dd>
<dt>Checked file location</dt>
  <dd><%= link_to_if @fixity_check.checked_uri_in_s3_console, @fixity_check.checked_uri, @fixity_check.checked_uri_in_s3_console %></dd>