<p id="notice"><%= notice %></p>

<h1>Google Arts and Culture Downloads</h1>

<div class="border p-3 mb-5">
  <h2>1: Load eligible works into your cart</h1>
  <p>Only works that are eligible for Google Arts and Culture will be added. This will not remove any works from your cart; it only adds them.</p>
  <%= simple_form_for(:load_into_cart, url: load_into_cart_admin_google_arts_and_culture_downloads_path, method: :post) do |f| %>
    <div class="row">
      <div class="col">
        <%= f.input :created_at_start_date,
          as: :date, html5: true, required: false,
          label: "Created on or after" %>
      </div>
      <div class="col">
        <%= f.input :created_at_end_date,
          as: :date, html5: true, required: false,
          label: "Created on or before"  %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= f.input :modified_at_start_date,
          as: :date, html5: true, required: false,
          label: "Modified on or after" %>
      </div>
      <div class="col">
        <%= f.input :modified_at_end_date,
          as: :date, html5: true, required: false,
          label: "Modified on or before"  %>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <%= f.button :submit, value: "Add works to your cart" %>
      </div>
    </div>
  <% end %>
</div>

<div class="border p-3 mb-5">
  <h2>2: Prepare a download</h1>
  <p>The download will contain all the published works in your cart. You can add some bookkeeping notes for later reference.</p>
  <%= simple_form_for(:export_cart, url: export_cart_admin_google_arts_and_culture_downloads_path, method: :post) do |f| %>
    <%= f.input :user_notes, required: false, label: "Your notes"  %>
  <%= f.button :submit, value: "Prepare your download", data: { confirm: "Prepare a GAC download containing metadata and files for all the works in your cart? This may take several hours."} %>
  <% end %>
</div>

<div class="border p-3 mb-5">
  <h2>3: Download files and metadata</h2>
  <table class="table admin-list">
    <thead>
      <tr>
        <th>ID</th>
        <th>Started</th>
        <th>Link to file</th>
        <th>Requested by</th>
        <th>Progress</th>
        <th>Status</th>
        <th>Notes</th>
        <th>Error Info</th>
      </tr>
    </thead>

    <tbody>
      <% @google_arts_and_culture_downloads.each do |download| %>
        <tr>
          <td><%= download.id %></td>
          <td><%= l download.created_at %></td>
          <td><%= link_to('Download', download.file_url) if download.status == 'success' %></td>
          <td><%= download.user.name %></td>
          <td><%= download.progress %> of <%= download.progress_total %></td>
          <td><%= download.status.humanize %></td>
          <td><%= download.user_notes %></td>
          <td><%= download.error_info %></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @google_arts_and_culture_downloads, theme: 'twitter-bootstrap-4' %>
</div>
