<%# this HTML DOM has to pretty much exactly match collection_show/index.html.erb, so that
    we can use the same CSS styles to apply to both... this is not a very maintainable approach,
    as both ERB templates need to be kept in sync as to DOM with any changes.

    Better would be extracting the common design elements to ViewComponents you can use
    in both. Maybe in the future. %>

<% @page_title = [@featured_topic.title, render_search_to_page_title(search_state)].collect(&:presence).compact.join(": ") %>

<div itemscope itemtype="http://schema.org/CollectionPage" class="collection-show featured-collection-show">
  <% if has_deeper_search? %>
    <%# we're going into a specified search, just tiny header %>
    <div class="collection-mini-header">
        <div class="show-genre"><%= link_to "Featured Topics", featured_topics_path %></div>
        <h1>
          <%= link_to @featured_topic.title, featured_topic_path(@featured_topic.slug), class: "title-link" %>
        </h1>
    </div>
  <% else %>
    <div class="collection-top">
      <div class="collection-header">
        <div class="collection-header-title">
          <header>
              <div class="show-genre"><%= link_to "Featured Topics", featured_topics_path %></div>
              <h1><%= link_to @featured_topic.title, featured_topic_path(@featured_topic.slug), class: "title-link" %></h1>
          </header>

          <p class="show-item-count">
            <%= number_with_delimiter(total_count) + ' item'.pluralize(total_count) %>
          </p>

          <div class="collection-search-form">
            <%= form_tag "", method: :get do |f| %>
              <div class="input-group">
                <%= search_field_tag :q, '', class: "q form-control",
                id: "collectionQ",
                autocomplete: "off",
                placeholder: t("collection.search_form.search_field.placeholder"),
                :"aria-label" => t('collection.search_form.search_field.label')
                %>
                <label class="visually-hidden" for="collectionQ"><%= t('collection.search_form.search_field.label') %></label>
                <button type="submit" class="btn btn-brand-main" title="Search">
                  <%= t('blacklight.search.form.submit') %>
                </button>
              </div>
              <%= hidden_field_tag :sort, params[:sort], id: 'collection_sort' %>
            <% end %>
          </div>

        </div>

        <div class="collection-header-thumb">
          <%= image_tag @featured_topic.thumb_asset_path, class: "featured-topic-image" %>
        </div>
      </div>

      <div class="collection-about">
        <div class="collection-description">
          <div class="collection-description-text <%= 'short-text' if @featured_topic.description.length <= 220 %>">
            <%= DescriptionDisplayFormatter.new(@featured_topic.description).format %>
          </div>
        </div>
      </div>
    </div>
  <% end %>


  <%= render blacklight_config.view_config(document_index_view_type).constraints_component.new(search_state: search_state) %>

  <div class="row">
    <% if @response.documents.present? %>
      <div class="sidebar-col">
        <% conf = blacklight_config.view_config(document_index_view_type) %>
        <%= render conf.sidebar_component.new(blacklight_config: blacklight_config,
                                        response: @response,
                                        view_config: conf) %>

      </div>
      <div class="content-col">
        <%= render blacklight_config.view_config(document_index_view_type).search_header_component.new %>
        <%= render "document_list", documents: @response.documents %>
        <%= render 'catalog/results_pagination' %>
      </div>
      <% else %>
        <div class="ms-3">
          <%= render 'catalog/zero_results' %>
        </div>
      <% end %>
  </div>

</div>
