<div class="show-metadata">
  <% if can?(:read, Kithe::Model) %>
    <p class="show-item-count">
      <%= "#{number_with_delimiter(public_count)} public #{'item'.pluralize(public_count)}, #{number_with_delimiter(all_count)} total" %>
    </p>
  <% else %>
    <p class="show-item-count"><%= "#{number_with_delimiter(public_count)} #{'item'.pluralize(public_count)}" %></p>
  <% end %>

  <div class="collection-description long-text-line-height">
    <%= DescriptionDisplayFormatter.new(collection.description).format %>
  </div>

  <% if show_links && (opac_urls.present? || finding_aid_urls.present?) %>
    <div class="collection-main-links">
      <% finding_aid_urls.each do |url| %>
        <span class="collection-main-link">
          <%= link_to url do %>
            <i class="fa fa-link" aria-hidden="true"></i> Collection guide
          <% end  %>
        </span>
      <% end %>

      <% opac_urls.each do |url| %>
        <span class="collection-main-link">
          <%= link_to url do %>
            <i class="fa fa-link" aria-hidden="true"></i> Collection in library catalog
          <% end  %>
        </span>
      <% end %>
    </div>
  <% end %>

  <% if show_links && related_links.present? %>
    <div class="collection-related-links">
      <% related_links.each do |link| %>
        <%= render RelatedLinkComponent.new(related_link: link) %>
      <% end %>
    </div>
  <% end %>
</div>
