<div class="show-metadata">
  <% if current_staff_user? %>
    <p class="show-item-count">
      <%= "#{number_with_delimiter(public_count)} public #{'item'.pluralize(public_count)}, #{number_with_delimiter(all_count)} total" %>
    </p>
  <% else %>
    <p class="show-item-count"><%= "#{number_with_delimiter(public_count)} #{'item'.pluralize(public_count)}" %></p>
  <% end %>

  <div class="collection-description long-text-line-height">
    <%= DescriptionDisplayFormatter.new(collection.description).format %>
  </div>

  <% if show_links && (opac_urls.present? || finding_aid_urls.present?) %>
    <table class="collection-attributes table-borderless chf-attributes">
      <% finding_aid_urls.each do |url| %>
        <tr>
          <td colspan="2"><span class="h4"><%= link_to "View collection guide", url %></span></td>
        </tr>
      <% end %>

      <% opac_urls.each do |url| %>
        <tr>
          <td  colspan="2"><span class="h4"><%= link_to "View in library catalog", url %></span></td>
        </tr>
      <% end %>
    </table>
  <% end %>

  <% if show_links && related_links.present? %>
    <div class="collection-related-links">
      <% related_links.each do |link| %>
        <%= render RelatedLinkComponent.new(related_link: link) %>
      <% end %>
    </div>
  <% end %>
</div>
