<div class="show-member-file-list-item" data-member-id="<%= member.friendlier_id %>">
  <div class="image">
    <%= maybe_view_link_to(member) do %>
      <%# lazyload all but first 6 images %>
      <%= render ThumbComponent.new(member.leaf_representative, thumb_size: :mini, lazy: (self.index > 5)) %>
    <% end %>
  </div>

  <div class="title">
    <div>
      <%= maybe_view_link_to(member) do %>
        <%= member_label %>
      <% end %>
      <% if show_private_badge && !member.published?  %>
          <span title="Private" class="badge text-bg-warning">Private</span>
      <% end %>
    </div>
    <% if member.kind_of?(Asset) %>
      <div class="details">
        <small><%= asset_details(member) %></small>
      </div>
    <% end %>
  </div>

  <div class="action">
    <%= action_link %>
  </div>
</div>
