<footer class="footer noprint" id="footer" role="contentinfo" aria-labelledby="footerTitle">
    <div class="dig-col-links">
        <div class="dig-col-links-inner shi-full-width-inner">
            <h1 class="h4">Digital Collections</h1>

            <ul class="buttons">
                <li><%= link_to "About", about_url, class: "btn btn-brand-main" %></li>
                <li><%= link_to "FAQ", faq_url, class: "btn btn-brand-main" %></li>
                <li><%= link_to "Contact", contact_url, class: "btn btn-brand-main" %></li>
                <% if ScihistDigicoll::Env.lookup(:log_in_using_microsoft_sso) %>
                    <li>
                        <% if helpers.can? :access_staff_functions %>
                            <%= link_to "Log out", logout_path, class: 'btn btn-brand-main' %>
                        <% else %>
                            <%= link_to "Log in",
                                user_entra_id_omniauth_authorize_path, method: :post,
                                class: 'btn btn-brand-main'
                            %>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>

    <div id="shi-footer-from-main-website">

        <div class="wrapper footer__wrapper">
            <div class="footer__inner footer__inner_top flex fwrap jcspb aifs">
                <div class="footer__logo">
                    <a id="footerTitle" class="custom-logo-link img-middle shi-hover" href="<%= ScihistDigicoll::Env.lookup(:main_website_base) %>" rel="home">
                        <%= image_tag "from_main_website/shi-footer-logo.png",
                            width:"335",
                            height:"195",
                            class:"img-autosize custom-logo",
                            alt:"Science History Institute",
                            decoding:"async",
                            loading:"lazy",
                            srcset: {
                                "from_main_website/shi-footer-logo.png" => "335w",
                                "from_main_website/shi-footer-logo-300x175.png" => "300w"
                            },
                            sizes: "(max-width: 335px) 100vw, 335px"
                        %>
                    </a>
                    <div class="footer__address">
                        <p>315 Chestnut Street<br>
                            Philadelphia, PA 19106<br>
                            215.925.2222<br>
                            info@sciencehistory.org
                        </p>
                    </div>
                </div>
                <div class="footer__column">
                    <nav class="footer__nav" aria-labelledby="footerAbout">
                        <ul id="menu-footer" class="menu-footer-ul flex fdc"><li id="menu-item-19111" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19111"><a id="footerAbout" href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), '/about-us') %>">About</a></li>
                            <li id="menu-item-19113" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19113">
                                <a href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), '/leadership') %>">Leadership</a>
                            </li>
                            <li id="menu-item-19110" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19110">
                                <a href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), '/about/staff-fellows') %>">Staff &amp; Fellows</a>
                            </li>
                            <li id="menu-item-21314" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21314">
                                <a href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), '/projects-initiatives') %>">Projects &amp; Initiatives</a>
                            </li>
                            <li id="menu-item-19131" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19131">
                                <a href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), '/about/awards-program') %>">Awards Program</a>
                            </li>
                            <li id="menu-item-19114" class="menu-item menu-item-type-post_type_archive menu-item-object-news menu-item-19114">
                                <a href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), '/news') %>">News</a>
                            </li>
                            <li id="menu-item-19115" class="menu-item menu-item-type-post_type_archive menu-item-object-press menu-item-19115"><a href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), '/press') %>">Pressroom</a></li>
                            <li id="menu-item-19132" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19132">
                                <a href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), '/about/join-our-team') %>">Careers</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__column">
                    <nav class="footer__nav" aria-labelledby="footerMuseumHours">
                        <ul id="menu-footer-2" class="menu-footer-ul flex fdc"><li id="menu-item-19116" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19116"><a id="footerMuseumHours" href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), '/visit/hours-admission') %>">MUSEUM HOURS</a></li>
                            <li id="menu-item-19123" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19123"><a target="_blank" href="https://www.explorableplaces.com/places/science-history-institute">Virtual Tour</a></li>
                            <li id="menu-item-19124" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19124"><a href="https://sciencehistory.org/visit/exhibitions/sensational-science-a-century-of-microbe-hunters/">Outdoor Exhibition</a></li>
                            <li id="menu-item-19125" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19125"><a href="https://sciencehistory.org/visit/exhibitions/#digital-exhibitions">Digital Exhibitions</a></li>
                            <li id="menu-item-19126" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19126"><a href="https://sciencehistory.org/stories/magazine/">Magazine</a></li>
                            <li id="menu-item-19127" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19127"><a href="https://sciencehistory.org/stories/#podcasts">Podcasts</a></li>
                            <li id="menu-item-19128" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19128"><a href="https://sciencehistory.org/collections/blog/">Blog</a></li>
                            <li id="menu-item-19129" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19129"><a href="https://sciencehistory.org/collections">Collections</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__column">
                    <nav class="footer__nav" aria-label="Connect">
                        <ul id="menu-footer-3" class="menu-footer-ul flex fdc">
                            <li id="menu-item-19117" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19117">
                                <a href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), '/exhibitions') %>">See an Exhibition</a>
                            </li>
                            <li id="menu-item-19118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19118">
                                <a href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), '/research/othmer-library/schedule-a-visit') %>">Schedule a Library Visit</a>
                            </li>
                            <li id="menu-item-19133" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19133">
                                <a href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), '/conference-center') %>">Host An Event</a></li>
                            <li id="menu-item-19120" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19120">
                                <a href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), '/contact-us') %>">Contact Us</a>
                            </li>
                            <li id="menu-item-19119" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19119">
                                <a href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), '/support') %>">Support Us</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="shi-social">
                        <a href="https://www.instagram.com/scihistoryorg/" class="shi-social__link" target="_blank">
                            <%= image_tag "from_main_website/instagram-icon.svg",
                                    width:"19",
                                    height:"19",
                                    class:"shi-social__icon",
                                    alt:"Instagram",
                                    loading:"lazy"
                            %>
                        </a>
                        <a href="https://facebook.com/scihistoryorg" class="shi-social__link" target="_blank">
                            <%= image_tag "from_main_website/facebook-icon.svg",
                                    width:"13",
                                    height:"24",
                                    class:"shi-social__icon",
                                    alt:"Facebook",
                                    loading:"lazy"
                            %>
                        </a>
                        <a href="https://twitter.com/scihistoryorg" class="shi-social__link" target="_blank">
                            <%= image_tag "from_main_website/twitter-icon.svg",
                                    width:"22",
                                    height:"18",
                                    class:"shi-social__icon",
                                    alt:"Twitter",
                                    loading:"lazy"
                            %>
                        </a>
                        <a href="https://www.youtube.com/c/ScienceHistoryInstitute" class="shi-social__link" target="_blank">
                            <%= image_tag "YouTube_light_icon_(2017).svg",
                                    class:"shi-social__icon",
                                    alt:"YouTube",
                                    loading:"lazy"
                            %>
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer__inner footer__inner_bottom flex">
                <ul id="menu-footer-copyright" class="flex fwrap">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom"><a>© <%= Date.current.year %> Science History Institute</a></li>
                    <li id="menu-item-19135" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19135"><a>Registered 501(c)(3)</a></li>
                    <li id="menu-item-19136" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19136"><a>EIN: 22-2817365</a></li>
                    <li id="menu-item-19121" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19121"><a href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), '/privacy-policy') %>">Privacy Policy</a></li>
                    <li id="menu-item-19134" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19134"><a href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), '/terms-of-use') %>">Terms of Use</a></li>
                    <li id="menu-item-19122" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19122"><a href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), '/visit/accessibility') %>">Accessibility</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
