<header id="shi-masthead-from-main-website">

  <div class="shi-top-bar noprint">
    <div class="shi-top-bar__container">

      <div class="shi-top-bar-nav">
        <a class="shi-top-bar-nav__item shi-hover" href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), "/about") %>" target="_self">
        About   </a>
        <a class="shi-top-bar-nav__item shi-hover" href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), "/stories/magazine") %>"  target="_self">
        Magazine    </a>
        <a class="shi-top-bar-nav__item shi-hover" href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), "/stories/distillations-pod") %>" target="_self">
        Podcasts    </a>
        <a class="shi-top-bar-nav__item shi-hover" href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), "/visit/events") %>" target="_self">
        Events    </a>
    </div>

    <div class="shi-top-bar__hours">
      <span class="shi-top-bar__bold"><a href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), "/visit") %>" style="text-decoration: none">Museum Hours</a>:</span><span class="shi-top-bar__regular">Wednesday–Saturday, 10AM–5PM</span>     </div>
    </div>
  </div>

</header>
