<header id="shi-masthead-from-main-website" class="masthead">

    <div class="shi-top-bar noprint">
        <div class="shi-top-bar__container">

            <div class="shi-top-bar-nav">
                <a class="shi-top-bar-nav__item shi-hover" href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), "/about") %>" target="_self">
                    About
                </a>
                <a class="shi-top-bar-nav__item shi-hover" href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), "/stories/magazine") %>"  target="_self">
                    Magazine
                </a>
                <a class="shi-top-bar-nav__item shi-hover" href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), "/stories#podcasts") %>" target="_self">
                    Podcasts
                </a>
                <a class="shi-top-bar-nav__item shi-hover" href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), "/visit/events") %>" target="_self">
                    Events
                </a>
            </div>

            <div class="shi-top-bar__hours">
                  <span class="shi-top-bar__bold"><a href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), "/visit/hours-admission") %>" style="text-decoration: none">Museum Hours</a></span>
            </div>
        </div>
    </div>


    <div class="header noprint js-header">
        <div class="wrapper header__wrapper">
            <div class="header__inner">
                <div class="header__logo">
                    <a class="custom-logo-link img-middle shi-hover" href="<%= ScihistDigicoll::Env.lookup(:main_website_base) %>" rel="home">
                        <%= image_tag "from_main_website/shi-logo.png",
                            width: 575, height: 122,
                            class: "img-autosize custom-logo",
                            alt: "Science History Institute: Museum & Library",
                            decoding: "async",
                            loading: "lazy",
                            srcset: {
                              "from_main_website/shi-logo.png" => "575w",
                              "from_main_website/shi-logo-300x64.png" => "300w"
                            },
                            sizes: "(max-width: 575px) 100vw, 575px"
                        %>
                    </a>
                </div>


                <div class="header__right-side">
                    <div class="header__menu-container">
                        <button class="header__nav-sandwich js-header-sandwich-btn" aria-expanded="false" aria-label="Menu"><span>X</span></button>
                        <nav class="header__nav flex fwrap" aria-label="Site Top Navigation">
                            <button class="header__nav-close js-shi-nav-close" aria-label="Close menu">
                                <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 1L18.0022 17.1909M18.0022 1L1 17.1909" stroke="black" stroke-width="2"></path>
                                </svg>
                            </button>

                            <ul id="menu-header" class="flex fwrap">
                                <li id="menu-item-19029" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-19029">
                                      <a href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), '/visit') %>">Visit</a>
                                </li>

                                <li id="menu-item-19260" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-19260">
                                    <a href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), '/collections') %>">Collections</a>
                                </li>

                                <li id="menu-item-19032" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-19032">
                                    <a href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), '/stories') %>">Stories</a>
                                </li>

                                <li id="menu-item-19261" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-19261">
                                    <a href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), '/research') %>">Research</a>
                                </li>

                                <li id="menu-item-19044" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-19044">
                                    <a href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), '/education') %>">Education</a>
                                </li>

                                <li id="menu-item-19061" class="menu-item menu-item-type-post_type menu-item-object-page shi-item-bordered menu-item-19061">
                                    <a href="<%= URI::join(ScihistDigicoll::Env.lookup(:main_website_base), '/support') %>">Support</a>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <!-- <div class="shi-search-menu header__search-container js-shi-search-menu">
                    srch
                        </div> -->
                </div>
            </div>
        </div>
    </div>


    <% unless suppress_product_subhead %>
        <div class="dig-col-product-masthead shi-full-width-inner">
            <h1 class="masthead-title small-masthead-only">
                <%= link_to "Digital Collections", root_url %>
            </h1>

            <%= render partial: 'application/search_form' %>
        </div>
    <% end %>
</header>
