<p>
  Text extraction mode:
  <% if @work.text_extraction_mode.present? %>
    <span class="text-success fw-bold">
      <i class="fa fa-check-circle" aria-hidden="true"></i> <%= @work.text_extraction_mode.titleize %>
    </span>
  <% else %>
    <span class="text-danger fw-bold">
      <i class="fa fa-minus-circle" aria-hidden="true"></i> NONE
    </span>
  <% end %>
</p>

<% if work_language_warning? %>
  <p>
    <i class="fa fa-exclamation-triangle text-danger" aria-label="WARNING"></i> OCR enabled, but work does not include languages
    compatible with OCR.
  </p>
  <ul>
    <li>Work languages: <code><%= @work.language.inspect %></code></li>
    <li>OCR-compatible languages: <code><%= AssetOcrCreator::TESS_LANGS.keys %></code></li>
  </ul>
<% end %>

<% if @work.pdf_text_extraction? %>
  <p>
    <b>Source PDF page count:</b> <%= source_pdf_page_count || '<i class="fa fa-exclamation-triangle text-danger" aria-label="WARNING"></i>UNKNOWN'.html_safe %>
  </p>
<% end %>

<p>
  <% if asset_ocr_count_warning? || pdf_extraction_count_warning?  %>
    <i class="fa fa-exclamation-triangle text-danger" aria-label="WARNING"></i>
  <% end %>
  Out of <b><%= total_assets_count %></b> assets,
  <ul>
    <% if @work.pdf_text_extraction? || assets_with_source_pdf_role_count > 0 %>
      <li>
        <b><%= assets_with_source_pdf_role_count %></b> </b> <%= 'asset'.pluralize(assets_with_source_pdf_role_count) %> with <code>role</code> <span class="badge text-bg-info"><%= PdfToPageImages::SOURCE_PDF_ROLE.humanize.downcase %></span>
      </li>
    <% end %>
    <% if @work.pdf_text_extraction? || assets_with_extracted_pdf_page_role_count > 0 %>
      <li>
        <b><%= assets_with_extracted_pdf_page_role_count %></b> </b> <%= 'asset'.pluralize(assets_with_extracted_pdf_page_role_count) %> with <code>role</code> <span class="badge text-bg-info"><%= PdfToPageImages::EXTRACTED_PAGE_ROLE.humanize.downcase %></span>
      </li>
    <% end %>
    <li>
      <b><%= assets_with_ocr_count %></b>
      <%= 'asset'.pluralize(assets_with_ocr_count) %>
      currently
      <%= (assets_with_ocr_count == 1) ? 'has' : 'have' %>
      extracted <code>hocr</code> text
    </li>
    <% if assets_with_ocr_suppressed_count > 0 %>
      <li>
        <b><%=  assets_with_ocr_suppressed_count %></b> <%= 'asset'.pluralize(assets_with_ocr_suppressed_count) %> <%= (assets_with_ocr_suppressed_count == 1) ? 'has' : 'have' %> OCR suppressed.
      </li>
    <% end %>
  </ul>
</p>


<p class="alert alert-info">
  <i class="fa fa-info-circle" aria-hidden="true"></i>
  This panel only reports on photographic OCR and PDF extraction, it does not cover Audio or Visual transcription, or "Bredig-collection-style" manual transcript entry.
</p>
