<p>
  OCR enabled:
  <% if @work.ocr_requested? %>
    <span class="text-success font-weight-bold">
      <i class="fa fa-check-circle" aria-hidden="true"></i> YES
    </span>
  <% else %>
    <span class="text-danger font-weight-bold">
      <i class="fa fa-minus-circle" aria-hidden="true"></i> NO
    </span>
  <% end %>
</p>

<% if work_language_warning? %>
  <p>
    <i class="fa fa-exclamation-triangle text-danger" aria-label="WARNING"></i> OCR enabled, but work does not include languages
    compatible with OCR.
  </p>
  <ul>
    <li>Work languages: <code><%= @work.language.inspect %></code></li>
    <li>OCR-compatible languages: <code><%= AssetOcrCreator::TESS_LANGS.keys %></code></li>
  </ul>
<% end %>

<p>
  <% if asset_ocr_count_warning? %>
    <i class="fa fa-exclamation-triangle text-danger" aria-label="WARNING"></i>
  <% end %>
  Out of <b><%= total_assets %></b> assets,
  <ul>
    <li>
      <b><%= assets_with_ocr %></b> </b> <%= 'asset'.pluralize(assets_with_ocr) %> currently <%= (assets_with_ocr == 1) ? 'has' : 'have' %> OCR
    </li>
    <% if assets_with_ocr_suppressed > 0 %>
      <li>
        <b><%=  assets_with_ocr_suppressed %></b> <%= 'asset'.pluralize(assets_with_ocr_suppressed) %> <%= (assets_with_ocr_suppressed == 1) ? 'has' : 'have' %> OCR suppressed.
      </li>
    <% end %>
  </ul>
</p>

