<div class="on-page-work-downloads">
  <% download_options.each do |download_option| %>
    <div class="on-page-work-downloads-item">
      <div class="image">
        <%= link_to(download_option.url, data: download_option.data_attrs, tabindex: -1, "aria-label": download_button_label(download_option)) do %>
          <%= helpers.file_earmark_pdf_fill_svg %>
        <% end %>
      </div>

      <div class="text">
          <%= link_to(download_option.url, data: download_option.data_attrs, tabindex: -1) do %>
            <%= download_option.label %>
          <% end %>

          <% if download_option.subhead.present? %>
            <div class="hint">
              <small><%= download_option.subhead %></small>
            </div>
          <% end %>
      </div>

      <div class="action">
        <%= link_to(download_option.url, data: download_option.data_attrs, class: "btn btn-brand-main less-padding") do %>
          <%= download_button_label(download_option) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
