<% provide :page_title, construct_page_title(work.title) %>

<% content_for :head do %>
  <%= render "meta_tags", work: work  %>
<% end %>

<div class="work-show work-show-audio" data-role="audio-playlist-wrapper" itemscope itemtype="http://schema.org/CreativeWork" class="row">


  <section class="top-matter">
    <% if portrait_asset.present? %>
      <figure class="oh-portrait figure">
        <%= render ThumbComponent.new(portrait_asset) %>
        <% if portrait_asset.caption.present? %>
          <figcaption class="figure-caption"><%= portrait_asset.caption %></figcaption>
        <% end %>
      </figure>
    <% end %>

    <div class="show-title">
        <%= render WorkTitleAndDatesComponent.new(work) %>
    </div>
  </section>

  <div class="audio-navbar" id="ohmsAudioNavbar">
    <div class="audio-navbar-contents">
      <div class="now-playing-container" data-role="now-playing-container">
        <% if combined_m4a_audio_url.present? && combined_derivatives_up_to_date? %>
          <div class="audio-controls-line">
            <%= render AudioPlayerComponent.new do %>
                <source src="<%= combined_m4a_audio_url %>" type="audio/mp4">
            <% end %>

            <% if has_ohms_index? || has_ohms_transcript? %>
              <div>
                <button class="btn btn-sm btn-emphasis text-nowrap" data-trigger="ohms-jump-to-text">Jump to text</button>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="alert alert-warning" role="alert" data-role="no-audio-alert">
             This oral history is not properly prepared for the audio player. (Staff: please create a combined derivative.)
          </div>
        <% end %>

        <% if has_ohms_transcript? || has_ohms_index? %>
          <div class="ohms-search">
                <form data-ohms-search-form="true">
                  <div class="input-group">
                    <input type="text" class="form-control form-control-sm" aria-label="Search transcript" data-ohms-input-query="true">
                    <button class="btn btn-sm btn-emphasis" type="button" aria-label="Clear search" title="Clear search" data-ohms-clear-search="true">
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-sm btn-emphasis" type="submit">Search</button>
                  </div>
                </form>

                <div data-ohms-search-results="true"></div>
          </div>
        <% end %>

        <ul class="nav ohms-nav-tabs" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active btn btn-danger" id="ohDescriptionTab" data-bs-toggle="tab" href="#ohDescription" role="tab" aria-controls="ohDescription" aria-selected="true">
              Description
            </a>
          </li>

          <% if has_ohms_index? %>
            <li class="nav-item" role="presentation">
              <a class="nav-link btn btn-danger" id="ohTocTab" data-bs-toggle="tab" href="#ohToc" role="tab" aria-controls="ohToc" aria-selected="false">
                Table of Contents <span data-ohms-hitcount="index"></span>
              </a>
            </li>
          <% end %>

          <% if has_ohms_transcript? %>
            <li class="nav-item" role="presentation">
              <a class="nav-link btn btn-danger" id="ohTranscriptTab" data-bs-toggle="tab" href="#ohTranscript" role="tab" aria-controls="ohTranscript" aria-selected="false">
                Transcript <span data-ohms-hitcount="transcript"></span>
              </a>
            </li>
          <% end %>

          <li class="nav-item" role="presentation">
            <a class="nav-link btn btn-danger" id="ohDownloadsTab" data-bs-toggle="tab" href="#ohDownloads" role="tab" aria-controls="ohDownloads" aria-selected="false">Downloads</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="bottom" id="ohmsScrollable">
      <div class="tab-content">
        <div class="tab-pane active" id="ohDescription" role="tabpanel" aria-labelledby="ohDescriptionTab">
          <h2 class="h4 brand-alt-h4"><%= work.title %></h2>
          <% if work.date_of_work.present?  %>
            <div class="show-date">
                <ul>
                  <% DateDisplayFormatter.new(work.date_of_work).display_dates.each do |interval| %>
                    <li>
                      <span itemprop="dateCreated">
                        <%= interval %>
                      </span>
                    </li>
                  <% end %>
                </ul>
            </div>
          <% end %>

          <%# much like the rights_and_social partial, but we've exploded it
              to fit in our custom share button %>
          <div class="rights-and-social">
            <% if work.rights.present? %>
              <%= render RightsIconComponent.new(rights_id: work&.rights, work: work) %>
            <% else %>
              <%# hacky spacer to keep flexbox intact and social-media on the right even
                  if there's no rights %>
              <div class="rights-placeholder"></div>
            <% end %>

            <div class='expanded-social-share'>
              <%= render SocialShareComponent.new(work) %>

              <a href="#" class="btn btn-secondary rounded-sides share-link" data-toggle="linkShareModal">
                <i class="fa fa-share" aria-hidden="true"></i>
                Share link
              </a>
            </div>
          </div>

          <div class="work-description">
            <%= DescriptionDisplayFormatter.new(work.description).format  %>
          </div>

          <%= render WorkShowInfoComponent.new(work: work) %>

          <% if interviewee_biographies.present? %>
            <h2 class="attribute-sub-head">Interviewee biographical information</h2>
          <% end %>
          <% interviewee_biographies.each do |bio| %>
            <% if interviewee_biographies.count > 1 %>
              <h3 class="h4"><%= bio.name %></h3>
            <% end %>

            <%= render OralHistory::BiographicalComponent.new(bio) %>
          <% end %>

          <%= render "citation", work: work  %>
        </div>

        <% if has_ohms_index? %>
          <div class="tab-pane" id="ohToc" role="tabpanel" aria-labelledby="ohTocTab">
            <%= render OralHistory::OhmsIndexComponent.new(work.oral_history_content.ohms_xml, work: work) %>
          </div>
        <% end %>

        <% if has_ohms_transcript? %>
          <div class="tab-pane" id="ohTranscript" role="tabpanel" aria-labelledby="ohTranscriptTab">
            <% if work.oral_history_content&.ohms_xml&.vtt_transcript %>
              <%= render OralHistory::VttTranscriptComponent.new(work.oral_history_content.ohms_xml.vtt_transcript) %>
            <% elsif work.oral_history_content&.ohms_xml&.legacy_transcript %>
              <%= render OralHistory::LegacyTranscriptComponent.new(work.oral_history_content.ohms_xml.legacy_transcript,
                                                                    transcript_log_id: work.oral_history_content.ohms_xml.accession) %>
            <% end %>
          </div>
        <% end %>

        <div class="tab-pane downloads" id="ohDownloads" role="tabpanel" aria-labelledby="ohDownloadsTab">
          <%= render OralHistory::DownloadsListComponent.new(work: work, decorator: self) %>
        </div>
      </div>
  </div>
</div>

<%# modal for audioLinkShare button above %>
<div class="modal" tabindex="-1" role="dialog" id="audioLinkShare">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Share link to this page</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">

        </button>
      </div>
      <div class="modal-body" data-area="media-link-share">

        <div class="mb-3">
          <div class="input-group mb-3" data-trigger="copyInputGroup">
            <span class="input-group-text">
              <i class="fa fa-link" aria-hidden="true"></i>
              <span class="visually-hidden">Link</span>
            </span>

            <input type="text" aria-label="URL to copy" class="form-control" data-slot="shareURL" readonly value="<%= work_url(work) %>">

            <button class="btn btn-outline-secondary" data-trigger="linkClipboardCopy">
              <i class="fa fa-clipboard" aria-hidden="true"></i> Copy
            </button>
          </div>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="includeTimecode" data-slot="timecode" data-trigger="updateLinkTimecode">
          <label class="form-check-label" for="includeTimecode">
            Start audio at <code data-slot="humanTimecode"></code>
          </label>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
