<% provide :page_title, construct_page_title(work.title) %>

<% content_for :head do %>
  <%= render "works/meta_tags", work: work  %>
<% end %>

<div class="show-page-layout work-show" data-lazy-load-image-container itemscope itemtype="http://schema.org/CreativeWork" class="row">

  <div class="show-title">
    <%= render WorkTitleAndDatesComponent.new(work) %>
  </div>

  <div class="show-hero">
    <%# note the large hero one gets work_download_options %>
    <%= render MemberImageComponent.new(representative_member, size: :large, work_download_options: work_download_options, fetchpriority: "high") %>
    <%= render "works/rights_and_social", work: work %>

    <%= render WorkDownloadLinksComponent.new(work, download_options: work_download_options) %>
  </div>

  <div class="show-metadata">
      <%= maybe_wrap_with_component(
            wrapping_component: TranscriptionTabsComponent.new(work: work, members: members_for_transcription_tabs),
            should_wrap: has_transcription_or_translation?) do %>

        <div class="work-description" itemprop="description">
          <%= DescriptionDisplayFormatter.new(work.description).format  %>
        </div>

        <% if ScihistDigicoll::Env.lookup("feature_search_inside_work") && work.has_text_extraction? %>
          <form class="work-page-viewer-search-controls" data-trigger="show-viewer-search">
            <div class="input-group">
              <label for="search-inside-q" class="input-group-text">
                Search inside this item
              </label>

              <%= search_field_tag :q, '', class: "q form-control",
                  id: "search-inside-q"
              %>

              <%# This GA action is also reported from app/views/scihist_image_viewer/_scihist_viewer_search_area.html.erb %>
              <button type="submit" class="btn btn-brand-main" aria-label="Submit search" title="Search" id="search-submit-header"
                data-analytics-action="search_inside_work"
                data-analytics-category="work"
                data-analytics-label="<%=work.friendlier_id %>"
              >
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </div>
          </form>
        <% end %>


        <%= render WorkShowInfoComponent.new(work: work) %>
        <%= render "works/citation", work: work  %>

      <% end %>
  </div>



  <%# these next are not in a div so they can wrap around the bottom of the metadata
    div to take up all space. A bit hacky but it works. A clear hack to make sure they start after
    big representative image %>
  <div style="clear: left"></div>

  <% member_list_for_display.each_with_index do |member_for_thumb, index| %>
    <%# lazyload all but first 6 images, supply an image_label for accessible labels %>
    <div class="show-member-list-item">
      <%= render MemberImageComponent.new(member_for_thumb.member, lazy: (index > 5), image_label: member_for_thumb.image_label) %>
    </div>
  <% end %>
  <%= render FetchMorePagesLinkComponent.new(start_index: start_index, members_per_batch: members_per_batch, total_count: total_count) if more_pages_to_load? %>
</div>

<%# hidden modal used by viewer %>
<%= render 'scihist_image_viewer/scihist_viewer_modal', work: work, work_download_options: work_download_options  %>
