<% provide :page_title, construct_page_title(work.title) %>

<% content_for :head do %>
  <%= render "meta_tags", work: @work  %>
<% end %>

<div class="show-page-layout work-show work-show-file-list" itemscope itemtype="http://schema.org/CreativeWork" class="row">

  <div class="show-title">
    <%= render WorkTitleAndDatesComponent.new(@work) %>

    <%# up here so it stays above request button in single-column mode %>
    <div class="work-description long-text-line-height">
      <% if portrait_asset.present? %>
        <figure class="figure oh-portrait">
          <%= render ThumbComponent.new(portrait_asset) %>
          <% if portrait_asset.caption.present? %>
            <figcaption class="figure-caption"><%= portrait_asset.caption %></figcaption>
          <% end %>
        </figure>
      <% end %>


      <%= DescriptionDisplayFormatter.new(@work.description).format  %>
    </div>
  </div>

  <div class="show-file-list">
    <% if available_by_request_assets.present? %>
      <h2 class="attribute-sub-head mt-0">Access this interview</h2>
      <div class="show-sub-head-body request-section">
        <div class="pr-2 long-text-line-height">
        <div class="pb-sm-3 pl-sm-3 text-nowrap float-sm-right">
          <%= link_to "Request Access",
            request_oral_history_access_form_path(@work.friendlier_id),
            class: "btn btn-emphasis mb-2"
          %>
        </div>


          <p>Available upon request
            <%= multiple_files? ? "are" : "is" %>
            <%= available_by_request_summary %>.
          </p>


          <% if @work.oral_history_content.available_by_request_automatic? %>
            <p class="alert alert-primary">After submitting a brief form, you will receive immediate access to
              <%= multiple_files? ? "these files" : "this file" %>.
              If you have any questions about transcripts, recordings, or usage permissions, contact the Center for Oral History at <%= link_to ScihistDigicoll::Env.lookup!(:oral_history_email_address), "mailto:#{ScihistDigicoll::Env.lookup!(:oral_history_email_address)}", class: "alert-link" %>.
            </p>
          <% else # manual review %>
            <div class="alert alert-primary">
              <p>After submitting a brief form, your request will be reviewed and you will receive an email, usually within 3 business days. Usage may be subject to restrictions by agreement with interviewee.</p>

              <p>If you have any questions about transcripts, recordings, or usage permissions, please contact the Center for Oral History at <%= link_to ScihistDigicoll::Env.lookup!(:oral_history_email_address), "mailto:#{ScihistDigicoll::Env.lookup!(:oral_history_email_address)}", class: "alert-link" %>.
              </p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="mb-4 pr-3">
      <%= render "rights_and_social", work: @work %>
    </div>

    <% member_list_for_display.each_with_index do |member, index| %>
      <%= render FileListItemComponent.new(member, index: index, download_original_only: true) %>
    <% end %>
  </div>

  <div class="show-metadata">
    <%= render WorkShowInfoComponent.new(work: @work) %>

    <% if @work.is_oral_history? %>

      <% if interviewee_biographies.present? %>
        <h2 class="attribute-sub-head">Interviewee biographical information</h2>
      <% end %>

      <% interviewee_biographies.each do |bio| %>
        <% if interviewee_biographies.count > 1 %>
          <h3 class="h4"><%= bio.name %></h3>
        <% end %>

        <%= render OralHistory::BiographicalComponent.new(bio) %>
      <% end %>
    <% end %>

    <%= render "citation", work: @work  %>
  </div>
</div>

