<%# the right column of a work show page including, metadata attributes,
    institiutional location, 'related items'.

    In a partial to make it easier to re-use in templates that differ in how
    they show media, but still need this.

    For flexibility, does NOT include abstract/description, which usually comes
    above here, or the "cite as" which usually comes below.
%>

<table class="work chf-attributes">
  <thead>
    <tr class="visually-hidden">
      <th scope="col">Property</th>
      <th scope="col">Value</th>
    </tr>
  </thead>


  <% grouped_creators.each do |category, values| %>
    <%= render AttributeTable::RowComponent.new(category, values: values, link_to_facet: "creator_facet") %>
  <% end %>

  <% if provenance.present? %>
    <tr>
      <th scope='row'>Provenance</th>
      <td><%= render WorkProvenanceComponent.new(provenance) %></td>
    </tr>
  <% end %>


  <% grouped_places.each do |category, values| %>
    <%= render AttributeTable::RowComponent.new(category, values: values, link_to_facet: "place_facet") %>
  <% end %>

  <%= render AttributeTable::RowComponent.new(:format, values: format.map(&:titleize), link_to_facet: "format_facet", alpha_sort: true) %>

  <%= render AttributeTable::RowComponent.new(:genre, values: genre, link_to_facet: "genre_facet", alpha_sort: true) %>

  <%= render AttributeTable::RowComponent.new(:medium, values: medium, link_to_facet: ("medium_facet"), alpha_sort: true) %>
  <%= render AttributeTable::RowComponent.new(:extent, values: extent) %>
  <%= render AttributeTable::RowComponent.new(:language, values: language, link_to_facet: "language_facet", alpha_sort: true) %>

  <% if inscription.present? %>
    <tr>
      <th scope='row'>Inscription</th>
      <td>
        <ul>
          <% inscription.each do |inscription| %>
          <li class="attribute"><%= inscription.display_as %></li>
          <% end %>
        </ul>
      </td>
    </tr>

  <% end %>

  <%= render AttributeTable::RowComponent.new(:subject, values: subject, link_to_facet: "subject_facet", alpha_sort: true) %>

  <% if rights.present? %>
    <tr>
      <th scope='row'>Rights</th>
      <td>
        <%= render RightsIconComponent.new(rights_id: rights, work: @work, mode: :simple_link) %>
      </td>
    </tr>
  <% end %>


  <%= render AttributeTable::RowComponent.new(:rights_holder, values: [rights_holder]) %>

  <%# hard-coded credit line instead of taking from record %>
  <tr>
    <th scope='row'>Credit line</th>
    <td>
      <ul>
        <li class="attribute credit_line">Courtesy of Science History Institute</li>
      </ul>
    </td>
  </tr>


  <% if additional_credit.present? %>
    <tr>
      <th scope='row'>Additional credit</th>
      <td>
        <ul>
          <% additional_credit.each do |credit| %>
            <li class="attribute"><%= credit.display_as %></li>
          <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
  <%= render AttributeTable::RowComponent.new(:digitization_funder, values: [digitization_funder]) %>
</table>

<% if oral_history_interviewer_profiles.present? %>
  <h2 class="attribute-sub-head">About the <%= "Interviewer".pluralize(oral_history_interviewer_profiles.count) %></h2>

  <div class="show-sub-head-body">
    <% oral_history_interviewer_profiles.each do |profile| %>
      <%= DescriptionDisplayFormatter.new(profile.profile).format %>
    <% end %>
  </div>
<% end %>

<h2 class="attribute-sub-head">Institutional location</h2>

<table class="work chf-attributes">
  <%= render AttributeTable::RowComponent.new(:department, values: [department], link_to_facet: "department_facet") %>

  <% if public_collections.present? %>
    <tr>
      <th scope='row'>Collection</th>
      <td>
        <ul>
          <% public_collections.each do |collection| %>
            <li class="attribute">
              <%= link_to collection.title, collection_path(collection) %>
            </li>
          <% end %>
        </ul>
      </td>
    </tr>
  <% end %>

  <% if public_exhibitions.present? %>
    <tr>
      <th scope='row'>Exhibited in</th>
      <td>
        <ul>
          <% public_exhibitions.each do |collection| %>
            <li class="attribute">
              <%= link_to collection.title, collection_path(collection) %>
            </li>
          <% end %>
        </ul>
      </td>
    </tr>
  <% end %>

  <% if oral_history_number.present? %>
    <tr>
      <th scope='row'>Oral history number</th>
      <td>
        <%= oral_history_number %>
      </td>
    </tr>

  <% end %>

  <%= render AttributeTable::RowComponent.new(:series_arrangement, values: series_arrangement) %>

  <% if @work.physical_container.present? %>
    <tr>
      <th scope='row'>Physical container</th>
      <td>
        <ul>
          <li class="attribute">
            <%= physical_container.display_as %>
          </li>
        </ul>
      </td>
    </tr>
  <% end %>
</table>

<% if links_to_finding_aids.present? || links_to_opac.present?%>
  <p class="catalog-links">
      <% links_to_finding_aids.each do |url| %>
        <%= content_tag "a", "View collection guide", href: url, class: "btn btn-brand-main mb-2" %>
      <% end %>

      <% links_to_opac.each do |url| %>
        <%= content_tag "a", "View in library catalog", href: url, class: "btn btn-brand-main mb-2" %>
      <% end %>
  </p>
<% end %>


<% if related_links.present? %>
  <h2 class="attribute-sub-head">Learn More</h2>
  <div class="related-links show-sub-head-body">
    <% related_links.each do |link| %>
      <%= render RelatedLinkComponent.new(related_link: link) %>
    <% end %>
  </div>
<% end %>

<% if related_or_more_like_this_works.present? %>
  <h2 class="attribute-sub-head">Related Items</h2>

  <ul class="related-items show-sub-head-body list-unstyled">
    <% related_or_more_like_this_works.each do |work| %>
      <li class="related-work">
        <div class="related-work-thumb">
          <%= link_to work_path(work.friendlier_id), class: ("img-wrapper-video-icon" if work.leaf_representative.content_type.start_with?("video/")) do %>
            <%= render ThumbComponent.new(work.leaf_representative, thumb_size: :standard, lazy: true) %>
          <% end %>
        </div>

        <div class="related-work-text">
          <div class="show-genre"><%= render GenreLinkListComponent.new(work.genre) %></div>

          <%= link_to work_path(work.friendlier_id), class: "related-work-title-link" do %>
            <%= work.title %>
          <% end %>

          <div class="related-work-dates">
            <%=  DateDisplayFormatter.new(work.date_of_work).display_dates.join(", ") %>
          </div>

        </div>
      </li>
    <% end %>
  </ul>
<% end %>
