<% provide :page_title, construct_page_title(work.title) %>

<% content_for :head do %>
  <%= render "meta_tags", work: @work  %>
<% end %>

<div class="show-page-layout work-show work-show-file-list" itemscope itemtype="http://schema.org/CreativeWork" class="row">

  <div class="show-title">
    <%= render WorkTitleAndDatesComponent.new(@work) %>

    <%# up here so it stays above request button in single-column mode %>
    <div class="work-description">
      <% if portrait_asset.present? %>
        <figure class="figure oh-portrait">
          <%= render ThumbComponent.new(portrait_asset) %>
          <% if portrait_asset.caption.present? %>
            <figcaption class="figure-caption"><%= portrait_asset.caption %></figcaption>
          <% end %>
        </figure>
      <% end %>


      <%= DescriptionDisplayFormatter.new(@work.description).format  %>
    </div>
  </div>

  <div class="show-file-list">
    <% if available_by_request_assets.present? %>
      <h2 class="attribute-sub-head mt-0">Access this interview</h2>
      <div class="show-sub-head-body request-section">
        <div class="pe-2 mt-3">

          <p><span class="by-request-items-label">By request</span> <%= available_by_request_sentence %></p>

          <% if @work.oral_history_content.available_by_request_automatic? %>
            <p>
              Fill out a brief form to <span class="text-danger">receive immediate access</span> to these files.
            </p>
          <% else %>
            <p>Fill out a brief form and a staff member will review your request for these files.
               <span class="text-danger">You should receive an email within 3 business days</span>.
            </p>
          <% end %>

          <% unless @work.oral_history_content.available_by_request_automatic? %>
            <p>Usage is subject to restrictions set by the interviewee.</p>
          <% end %>

          <div class="text-nowrap mt-4 mb-3 text-center">
            <%= link_to request_button_name,
              oral_history_request_form_path(@work.friendlier_id),
              class: "btn btn-brand-main mb-2"
            %>
          </div>

          <p>
            If you have any questions about transcripts, recordings, or usage permissions, contact the Center for Oral History at
            <%= link_to ScihistDigicoll::Env.lookup!(:oral_history_email_address), "mailto:#{ScihistDigicoll::Env.lookup!(:oral_history_email_address)}", class: "alert-link" %>.
          </p>

        </div>
      </div>
    <% end %>


    <div class="mb-4 pe-3">
      <% if available_by_request_assets.present? || member_list_for_display.present? %>
        <%= render "rights_and_social", work: @work %>
      <% else %>
        <div class="alert alert-info" role="alert">
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          This oral history is currently sealed and cannot be accessed.
        </div>
          If you have any questions about transcripts, recordings, or usage permissions, contact the Center for Oral History at
              <%= link_to ScihistDigicoll::Env.lookup!(:oral_history_email_address), "mailto:#{ScihistDigicoll::Env.lookup!(:oral_history_email_address)}", class: "alert-link" %>.
      <% end %>
    </div>

    <% member_list_for_display.each_with_index do |member, index| %>
      <%= render FileListItemComponent.new(member, index: index, download_original_only: true) %>
    <% end %>
  </div>

  <div class="show-metadata">
    <%= render WorkShowInfoComponent.new(work: @work) %>

    <% if @work.is_oral_history? %>

      <% if interviewee_biographies.present? %>
        <h2 class="attribute-sub-head">Interviewee biographical information</h2>
      <% end %>

      <% interviewee_biographies.each do |bio| %>
        <% if interviewee_biographies.count > 1 %>
          <h3 class="h4"><%= bio.name %></h3>
        <% end %>

        <%= render OralHistory::BiographicalComponent.new(bio) %>
      <% end %>
    <% end %>

    <%= render "citation", work: @work  %>
  </div>
</div>

