<%# note this re-uses classes from standard work_image_show_component %>

<% provide :page_title, construct_page_title(work.title) %>

<% content_for :head do %>
  <%= render "works/meta_tags", work: work  %>
<% end %>

<div class="show-page-layout work-show" itemscope itemtype="http://schema.org/CreativeWork" class="row">

  <div class="show-title">
    <%= render WorkTitleAndDatesComponent.new(work) %>
  </div>

  <div class="show-video">

    <% if video_asset.present? %>
      <div class="position-relative">
        <% if ! video_asset.published? %>
          <%= private_label %>
        <% end %>

        <%= content_tag("video",
                id: "work-video-player",
                class: "video-js vjs-fluid vjs-big-play-centered",
                controls: true,
                preload: "metadata",
                poster: poster_src,
                style: "aspect-ratio: #{video_asset.width }/#{ video_asset.height };",
                # the data-setup with serialized json triggers video.js
                data: {
                  setup: {
                    controlBar: {
                      skipButtons: {
                        # seconds. only 5, 10, and 30 are supported by video.js
                        forward: 30,
                        backward: 10
                      }
                    },
                    aspectRatio: "#{video_asset.width}:#{video_asset.height}"
                  }.to_json
                }
        ) do %>
          <% if video_asset.hls_playlist_file.present? %>
            <%= tag "source", src: video_asset.hls_playlist_file.url, type: "application/x-mpegURL" %>
          <% else %>
            <%= tag "source", src: video_src_url, type: video_asset.content_type %>
          <% end %>

          <% if auto_caption_track_url %>
            <%= tag "track", src: auto_caption_track_url, label: "Auto-captions", kind: "captions" %>
          <% end %>

          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank"
              >supports HTML5 video</a
            >
          </p>
        <% end %>
      </div>
    <% else %> <%# no video file available %>
      <%= tag "img", src: asset_path("placeholderbox.svg", alt: "") %>
    <% end %>


    <%= render "works/rights_and_social", work: work %>
  </div>

  <div class="show-metadata">
    <div class="work-description">
      <%= DescriptionDisplayFormatter.new(work.description).format  %>
    </div>

    <%= render WorkShowInfoComponent.new(work: work) %>

    <%= render "works/citation", work: work  %>
  </div>
</div>

