<h1>Admin Cart</h1>

<div class="d-flex justify-content-between">
  <p>
    <%= link_to "Batch Edit", batch_update_admin_works_path, class: "btn btn-primary" %>
    <%= link_to "Save a report", report_admin_cart_items_path, class: "btn btn-primary", data: { confirm: "Save a CSV report?"}, method: "post" %>
    <%= link_to "Google Arts and Culture export", google_arts_and_culture_export_admin_cart_items_path, class: "btn btn-primary", data: { confirm: "Export metadata for these works to Google Arts & Culture?"}, method: "post" %>
    <%= link_to "Clear Cart", clear_admin_cart_items_path, class: "btn btn-outline-danger", data: { confirm: "Delete all items in cart?"}, method: "delete" %>
  </p>

  <% if can?(:publish, Kithe::Model) %>
    <div>
       <div class="btn-group" role="group">
          <button id="UnpublishButtonGroup" type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ban" aria-hidden="true"></i>  Unpublish All Items
          </button>

          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="UnpublishButtonGroup">
            <%= link_to "Also unpublish all child members of items",
              batch_publish_toggle_admin_works_path(publish: "off", cascade: "true"),
              method: "put",
              class: "dropdown-item"
            %>
            <%= link_to "Leave members as they are",
              batch_publish_toggle_admin_works_path(publish: "off"),
              method: "put",
              class: "dropdown-item"
            %>
          </div>
        </div>

        <div class="btn-group" role="group">
          <button id="publishButtonGroup" type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-eye" aria-hidden="true"></i> Publish All Items
          </button>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="publishButtonGroup">
            <%= link_to "Also publish all child members of items",
              batch_publish_toggle_admin_works_path(publish: "on", cascade: "true"),
              method: "put",
              class: "dropdown-item"
            %>
            <%= link_to "Leave members as they are",
              batch_publish_toggle_admin_works_path(publish: "on"),
              method: "put",
              class: "dropdown-item"
            %>
          </div>
        </div>
    </div>
  <% end %>
</div>

<%= render PageEntriesInfoComponent.new(@works) %>

<table class="table admin-list">
  <thead>
    <tr>
      <th class="thumbnail">thumbnail</th>
      <th class="id">ID</th>
      <th class="title">Title</th>
      <th class="action"></th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= thumb_image_tag(work.leaf_representative, size: :mini, image_missing_text: true) %></td>
        <td><%= work.friendlier_id %></td>
        <td><%= link_to work.title, admin_work_path(work) %> <%= publication_badge(work) %></td>
        <td>
          <%= link_to "Remove", admin_cart_item_path(work), method: :delete, class: "btn btn-outline-danger", data: { confirm: "Remove #{work.title} from cart?"} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @works, theme: 'twitter-bootstrap-4' %>
