<h1>Digitization Queue: <%= @admin_digitization_queue_item.title %></h1>
<p>
<%= link_to 'Edit', edit_admin_digitization_queue_item_path(@admin_digitization_queue_item), class: "btn btn-primary" %>
</p>

<dl>
  <dt>title</dt>
  <dd><%= @admin_digitization_queue_item.title %></dd>

  <dt>status</dt>
  <dd><%= @admin_digitization_queue_item.status.humanize %></dd>

  <dt>title</dt>
  <dd><%= @admin_digitization_queue_item.title %></dd>

  <dt>title</dt>
  <dd><%= @admin_digitization_queue_item.title %></dd>

  <dt>title</dt>
  <dd><%= @admin_digitization_queue_item.title %></dd>

  <dt>title</dt>
  <dd><%= @admin_digitization_queue_item.title %></dd>

</dl>
