<%= render_original_sidebar %>


<% if params[:q].present? %>
  <%# bootstrap utility classes d-none and d-md-block say show only on md and above, when we
      have enough room for columns. %>
  <div class="other-searches sidenav card d-none d-md-block">
    <div class="card-header">
      Other search tools
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%= link_to URI::join(ScihistDigicoll::Env.lookup(:main_website_base), "/?s=#{Addressable::URI.encode_component(params[:q], Addressable::URI::CharacterClasses::QUERY)}").to_s  do %>
        <i class="fa fa-search" aria-hidden="true"></i>  Science History Institute
      <% end %></li>
      <li class="list-group-item"><%= link_to "https://othmerlib.sciencehistory.org/search/?searchtype=X&SORT=D&searcharg=#{Addressable::URI.encode_component(params[:q], Addressable::URI::CharacterClasses::QUERY)}" do %>
        <i class="fa fa-search" aria-hidden="true"></i>  Othmer Library Catalog
      <% end %></li>
      <li class="list-group-item"><%= link_to "https://sciencehistory.pastperfectonline.com/Search?search_criteria=#{Addressable::URI.encode_component(params[:q], Addressable::URI::CharacterClasses::QUERY)}" do %>
        <i class="fa fa-search" aria-hidden="true"></i>  Museum Collections
      <% end %></li>
      <li class="list-group-item"><%= link_to "https://archives.sciencehistory.org/search?op%5B%5D=&q%5B%5D=#{Addressable::URI.encode_component(params[:q], Addressable::URI::CharacterClasses::QUERY)}" do %>
        <i class="fa fa-search" aria-hidden="true"></i>  Archives Database
      <% end %></li>
    </ul>
  </div>
<% end %>
