<div class="ai-conversation-banner">
  <div class="banner-wrapper">
    <h1 class="brand-alt-h1">
      Bot-Assisted Oral History Search
    </h1>
  </div>
</div>

<div class="text-page">
  <p>
    <%= link_to new_oral_history_ai_conversation_path do %>
      <i class="fa fa-undo" aria-hidden="true"></i>
      Ask another question
    <% end %>
  </p>

  <div class="alert alert-warning mb-0 mt-4">
    <span class="fw-bold">Q:</span> <%=  @conversation.question %>
  </div>



  <% if label = t(@conversation.search_params&.dig("access_limit"), scope: "oral_history.access_limit_feedback", default: nil) %>
    <div class="d-flex justify-content-end">
      <div class="pt-1 pb-1 ps-2 pe-2 bg-light border border-top-0 rounded-bottom d-inline-block">
        <%= label %>
      </div>
    </div>
  <% end %>

  <div class="d-flex justify-content-end mb-3 mt-4">
    <span class="ai-conversation-date text-muted" data-iso8601="<%= @conversation.request_sent_at&.iso8601 %>">
        Prepared <%= l(@conversation.request_sent_at&.to_date || @conversation.created_at.to_date, format: :long) %>
    </span>
  </div>

  <%# legacy display for old formats, only on complete, can't be JS updated %>
  <% if @conversation.complete? &&
        @conversation.answer_json&.has_key?("narrative") &&
        @conversation.answer_json&.has_key?("footnotes") %>
      <%= render OralHistory::AiConversationDisplayJan2026.new(@conversation)%>
  <% else %>
    <%= render OralHistory::AiConversationDisplayComponent.new(@conversation)%>
  <% end %>

  <details class="ai-conversation-help mt-5">
    <summary class="text-link">Some technical details about how this tool works</summary>

    <div class="p-3">
      <%= render "technical_details" %>
   </div>
  </details>

  <div class="alert alert-warning">
     <i class="fa fa-flask me-2" aria-hidden="true"></i>
    This is currently a <b>beta test</b> under active research & development, available only to internal Science History Institute users and invited guests.
  </div>
</div>
