<h1 class="mb-4">Derivative Storage Report</h1>

<div class="container">
  <div class="row">
    <div class="col-md">
      This report confirms that files that should not be accessible to the public are indeed locked down, and vice-versa.
      To save space, we only list the total <em>number</em> of assets with problems, along with a short sample of actual links to some of those assets.
      Reports are run nightly, but we only keep the latest one.
    </div>
  </div>
</div>


<h2 class="border-bottom">Latest report</h2>

<h4>Report id</h4>
<p><%= @report.id %></p>
<hr/>

<h4>Started at</h4>
<p><%= l(@report.data_for_report['start_time'].to_datetime, format: :short) %></p>

<hr/>
<h4>Completed successfully at</h4>
<p class="text-muted small">If this date is present, the audit checked all assets.</p>
<p><%= l(@report.data_for_report['end_time'].to_datetime, format: :short) %></p>

<hr/>
<h4>Asserts published, but with restricted derivatives</h4>

<p class="text-muted small">Derivatives that should <strong>not</strong> be locked down, but are. These belong to assets that are <strong>published</strong> but for whatever reason are being stored in our secure storage bucket.</p>

<p>
  <% if @report.data_for_report['incorrectly_published_sample'].is_a? String %>
    <span class="text-danger">
      <i class="fa fa fa-thumbs-down" aria-hidden="true"></i>
    </span>
    <% @report.data_for_report['incorrectly_published_sample'].split(",").each do |id| %>
      <%= link_to(id, Asset.find_by_friendlier_id(id)) %>;
    <% end %> [...]
    <br/>(<%= @report.data_for_report['incorrectly_published_count'] %> assets total had problems)
  <% else %>
    <span class="text-success">
      <i class="fa fa fa-thumbs-up" aria-hidden="true"></i>
    </span>
    All assets OK
  <% end %>
</p>

<hr/>
<h4>Derivatives in the wrong location</h4>
<p class="text-muted small">Derivatives that <strong>should</strong> be locked down but aren't. These belong to assets marked <strong>restricted</strong> (i.e. they and their derivatives should not be visible to the public under any circumstances) but, for whatever reason, are being stored in our public storage bucket.</p>
<p>
  <% if @report.data_for_report['incorrect_storage_locations_sample'].is_a? String %>
  <span class="text-danger">
    <i class="fa fa fa-thumbs-down" aria-hidden="true"></i>
  </span>
  <% @report.data_for_report['incorrect_storage_locations_sample'].split(",").each do |id| %>
    <%= link_to(id, Asset.find_by_friendlier_id(id)) %>;
  <% end %> [...]
   <br/>(<%= @report.data_for_report['incorrect_storage_locations_count'] %> assets total had problems)
  <% else %>
  <span class="text-success">
    <i class="fa fa fa-thumbs-up" aria-hidden="true"></i>
  </span>
  All assets OK
  <% end %>
</p>