<p>Dear <%= mailer.patron_name %>,</p>

<p>Thank you for your recent visit to the <%= link_to "Science History Institute’s Digital Collections", mailer.hostname %>. Your request for files from <i><%= mailer.work.title %></i> has been approved.

<% if mailer.custom_message.present? %>
  <%= simple_format mailer.custom_message %>
<% end %>

<p><%= I18n.t("oral_history.sign_in_prompt") %>
    <%= link_to I18n.t("oral_history.sign_in_link_label"), login_magic_link, data: { auto_login_link: true}  %></p>

<p>If you have any questions, you can reply to this email, or write <%= link_to ScihistDigicoll::Env.lookup!(:oral_history_email_address), "mailto:#{ScihistDigicoll::Env.lookup!(:oral_history_email_address)}" %>.<p>
