<p>Dear <%= mailer.patron_name %>,</p>
<p>Thanks for your recent visit to the <%= link_to "Science History Institute’s digital collections website", mailer.hostname %>. On <%=mailer.created_at.strftime("%m/%d/%Y")%>, you requested access to the files for <%= mailer.work_link %>. The files are ready for you to download.</p>
<h2>Files for <%= mailer.work_link %>:</h2>
<ul>
  <% mailer.asset_links.each do |link| %>
    <li><%= link_to link[:text], link[:url]%></li>
  <% end %>
</ul>
<p>You can download the files any time in the next week. After that, these links will no longer work.</p>
<p>Your receipt of an electronic copy of an oral history indicates your agreement to abide by both U.S. copyright law and the rights statements accompanying this oral history with regard to reproducing or disseminating it.</p>
<p>If you have any questions about transcripts, recordings, or usage permissions, please contact the <%= link_to 'Center for Oral History', 'https://www.sciencehistory.org/center-for-oral-history/contact' %>.</p>