<p>Dear <%= mailer.patron_name %>,</p>

<p>Thank you for your recent visit to the <%= link_to "Science History Institute’s Digital Collections", mailer.hostname %>. Here are your requested files from <%= link_to mailer.work.title, work_url(mailer.work.friendlier_id) %>.

<% if mailer.custom_message.present? %>
  <%= simple_format mailer.custom_message %>
<% end %>

<ul>
  <% mailer.assets.each do |asset| %>
    <li>
      <%= render OralHistoryEmailAssetItemComponent.new(asset) %>
    </li>
  <% end %>
</ul>

<p>These links are only valid for one week. Please download your files by <%= mailer.download_by_human_readable %>, when the links will expire.</p>

<p>
  Your receipt of an electronic copy of this oral history indicates your agreement to abide by U.S. copyright law and terms of licensing:

  <% if mailer.work.rights.present? %>
    <%= link_to RightsTerm.label_for(mailer.work.rights), mailer.work.rights %>.
  <% else %>
    <p>[Missing rights information, please contact the Center for Oral History.]</p>
  <% end %>

  Please credit the "Science History Institute."
</p>

<p>If you have any questions about transcripts, recordings, or usage permissions, please contact the Center for Oral History at <%= link_to ScihistDigicoll::Env.lookup!(:oral_history_email_address), "mailto:#{ScihistDigicoll::Env.lookup!(:oral_history_email_address)}" %>.
