<%= simple_form_for @oral_history_access_request,  :url => :request_oral_history_access  do |f| %>

  <p class="mb-4">
    To

      <% if @work.oral_history_content.available_by_request_manual_review? %>
        request access to
      <% else %>
        receive
      <% end %>

    files for "<%= @work.title %>" by email, please fill out the form below.
  </p>


  <div class="alert alert-info mb-4" role="alert">
    <p class="sans-serif">
      Your receipt of an electronic copy of this oral history indicates your agreement to abide by U.S. copyright law and terms of licensing:

        <% if @work.rights.present? %>
          <%= link_to RightsTerm.label_for(@work.rights), @work.rights, class: "alert-link" %>.
        <% else %>
          <p>[Missing rights information, please contact the Center for Oral History.]</p>
        <% end %>

      Please credit the "Science History Institute."
    </p>

    <p class="sans-serif mt-3">We consider your personal information confidential. We will only use it for our records, and we will not share it with anyone outside the Science History Institute.
    </p>

    <% if @work.oral_history_content.available_by_request_manual_review? %>
      <p class="sans-serif">
        After submitting a brief form, your request will be reviewed and you will receive an email, usually within 3 business days. Usage may be subject to restrictions by agreement with interviewee.
      </p>
    <% end %>

    <p class="sans-serif mb-0">
      If you have any questions about transcripts, recordings, or usage permissions, please contact the Center for Oral History at <%= link_to ScihistDigicoll::Env.lookup!(:oral_history_email_address), "mailto:#{ScihistDigicoll::Env.lookup!(:oral_history_email_address)}", class: "alert-link" %>.
    </p>
  </div>


  <% if @oral_history_access_request.errors.any? %>
    <div class="kithe-form-errors-top alert alert-danger mb-4" role="alert">
      <h2 class="h4" class="alert-heading"><%= pluralize(@oral_history_access_request.errors.count, "error") %></h2>
      <ol class="mb-0">
        <% @oral_history_access_request.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ol>
    </div>
  <% end %>

  <div class="form-inputs">
    <div class="row">
      <div class="col">
        <%= f.input :patron_name,
          label: "Your name" %>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <%= f.input :patron_email,
          hint: "Links to files will be emailed to this address",
          label: "Your email address" %>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <%= f.input :patron_institution,
          label: "Your institution", hint: "Optional" %>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <%= f.input :intended_use,
          as: :text,
          label: "Intended use",
          hint: "So that we can better understand our audience, please tell us how you plan to use the oral history you have requested." %>
      </div>
    </div>

    <%= f.hidden_field :work_friendlier_id, value: @work.friendlier_id %>

  <div class="form-actions mb-3">
    <%= link_to "Cancel", work_path(@work.friendlier_id), class: "btn btn-brand-secondary" %>
    <%= f.button :submit, value: "Submit request", class: "btn btn-brand-main" %>
  </div>
</div>
<% end %>
