
<div class="form-row">
  <div class="col-left col-form-label">
    <%= f.label :start %>
  </div>
  <div class="col-sm">
    <%= f.input :start, label: false, placeholder: "YYYY-MM-DD" %>
  </div>
  <div class="col-sm">
    <%= f.input :start_qualifier, label: false, collection: Work::DateOfWork::START_QUALIFIERS %>
  </div>
</div>

<div class="form-row">
  <div class="col-left col-form-label">
    <%= f.label :finish %>
  </div>
  <div class="col-sm">
    <%= f.input :finish, label: false, placeholder: "YYYY-MM-DD" %>
  </div>
  <div class="col-sm">
    <%= f.input :finish_qualifier, label: false, collection: Work::DateOfWork::FINISH_QUALIFIERS %>
  </div>
</div>

<div class="form-row">
  <div class="col-left col-form-label">
    <%= f.label :note %>
  </div>
  <div class="col-sm">
    <%= f.input :note, label: false %>
  </div>
</div>

