<%= kithe_form_for(@work) do |f| %>

  <% if work.errors.any? %>
    <div class="kithe-form-errors-top">
      <p><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved:</p>
      <p><%= work.errors.full_messages.to_sentence %></p>

      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    </div>
  <% end %>



  <div class="form-inputs">
    <%= f.input :title, hint: "yes it is a hint" %>

    <%= f.repeatable_attr_input :additional_title %>

    <%= f.repeatable_attr_input(:external_id) do |sub_form| %>
        <div class="form-row">
          <div class="col-auto">
            <%= sub_form.input :category, collection: Work::ExternalId::TYPE_VOCAB, label: false %>
          </div>
          <div class="col">
            <%= sub_form.input :value, label: false %>
          </div>
        </div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>



