<%= kithe_form_for(work, :html=> { class: 'edit-work mx-auto admin-edit' }) do |f| %>

  <% if work.errors.any? %>
    <div class="kithe-form-errors-top alert alert-danger" role="alert"">
      <h2 class="h4" class="alert-heading"><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved</h2>
      <p class="mb-0"><%= work.errors.full_messages.to_sentence %></p>
      <%= f.error_notification(message: f.object.errors[:base].to_sentence) if f.object.errors[:base].present? %>
    </div>
  <% end %>



  <div class="form-inputs">
    <%= f.input :title %>

    <%=  f.repeatable_attr_input :additional_title  %>

    <%= f.repeatable_attr_input(:external_id) do |sub_form| %>
      <%= category_and_value(sub_form, category_list: Work::ExternalId::CATEGORY_VALUES) %>
    <% end %>

    <%= f.repeatable_attr_input(:creator) do |sub_form| %>
      <%= category_and_value(sub_form, category_list: Work::Creator::CATEGORY_VALUES) %>
    <% end %>

    <%= f.repeatable_attr_input(:date) do |sub_form| %>
      <%= render "date", f: sub_form %>
    <% end %>

    <%= f.repeatable_attr_input(:place) do |sub_form| %>
      <%= category_and_value(sub_form, category_list: Work::Place::CATEGORY_VALUES) %>
    <% end %>

    <%= f.input :format,
                collection: (Work::ControlledLists::FORMAT.collect do |v|
                  [Work.human_attribute_name("format.#{v}"), v]
                end),
                as: :check_boxes,
                input_html: { multiple: true, size: Work::ControlledLists::FORMAT.count  },
                include_blank: false %>

    <%= f.repeatable_attr_input :genre do |input_name, value| %>
        <%= f.input_field :exhibition, selected: value, include_blank: true, id: nil,
          collection: Work::ControlledLists::GENRE,
          name: input_name,
          class: "form-control input-primitive" %>
    <% end %>


    <%= f.repeatable_attr_input :medium %>

    <%= f.repeatable_attr_input :extent %>

    <%= f.repeatable_attr_input :language %>

    <%= f.input :description, as: :text, input_html: { rows: 14 } %>

    <%= f.repeatable_attr_input(:inscription) do |sub_form| %>
      <%= sub_form.input :location, wrapper: :scihist_horizontal_form %>
      <%= sub_form.input :text, wrapper: :scihist_horizontal_form %>
    <% end %>

    <%= f.repeatable_attr_input :subject %>

    <%= f.input :department, collection: Work::ControlledLists::DEPARTMENT  %>

    <%= f.repeatable_attr_input(:exhibition) do |input_name, value| %>
      <%= f.input_field :exhibition,
            name: input_name,
            id: nil,
            selected: value,
            collection: Work::ControlledLists::EXHIBITION,
            include_blank: true,
            class: "form-control input-primitive" %>
    <% end %>

    <%= f.input :source %>

    <%= f.repeatable_attr_input :series_arrangement %>

    <%# single, not array, so we need some slightly weird setup. Including we need at least one to exist:  %>
    <% f.object.build_physical_container unless f.object.physical_container.present? %>
    <%= f.input :physical_container, wrapper: :vertical_form do |sub_form| %>
      <% f.fields_for :physical_container do |sub_form| %>
        <%= render "physical_container", f: sub_form %>
      <% end %>
    <% end %>

    <%= f.repeatable_attr_input :related_url %>

    <%= f.repeatable_attr_input :additional_credit do |sub_form| %>
      <%= category_and_value(sub_form, category_list: Work::AdditionalCredit::CATEGORY_VALUES) %>
    <% end %>

    <%= f.input :file_creator, collection: Work::ControlledLists::FILE_CREATOR %>

    <%= f.input :admin_note, as: :text, input_html: { rows: 5 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>



