<%= kithe_form_for(work, :html=> { class: 'edit-work mx-auto admin-edit' }) do |f| %>

  <% if work.errors.any? %>
    <div class="kithe-form-errors-top alert alert-danger" role="alert"">
      <h2 class="h4" class="alert-heading"><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved</h2>
      <p class="mb-0"><%= work.errors.full_messages.to_sentence %></p>
      <%= f.error_notification(message: f.object.errors[:base].to_sentence) if f.object.errors[:base].present? %>
    </div>
  <% end %>



  <div class="form-inputs">
    <%= f.input :title %>

    <%=  f.repeatable_attr_input :additional_title  %>

    <%= f.repeatable_attr_input(:external_id) do |sub_form| %>
      <%= category_and_value(sub_form, category_list: Work::ExternalId::CATEGORY_VALUES) %>
    <% end %>

    <%= f.repeatable_attr_input(:creator) do |sub_form| %>
      <%= category_and_value(sub_form, category_list: Work::Creator::CATEGORY_VALUES) %>
    <% end %>

    <%= f.repeatable_attr_input(:date) do |sub_form| %>
      <%= render "date", f: sub_form %>
    <% end %>

    <%= f.repeatable_attr_input(:place) do |sub_form| %>
      <%= category_and_value(sub_form, category_list: Work::Place::CATEGORY_VALUES) %>
    <% end %>

    <%= f.input :format,
                collection: (Work::ControlledLists::FORMAT.collect do |v|
                  [Work.human_attribute_name("format.#{v}"), v]
                end),
                as: :check_boxes,
                input_html: { multiple: true, size: Work::ControlledLists::FORMAT.count  },
                include_blank: false %>

    <%= f.input :genre, collection: Work::ControlledLists::GENRE  %>

    <%= f.repeatable_attr_input :medium %>

    <%= f.repeatable_attr_input :extent %>

    <%= f.repeatable_attr_input :language %>

    <%= f.input :description, as: :text, input_html: { rows: 14 } %>

    <%= f.repeatable_attr_input(:inscription) do |sub_form| %>
      <%= sub_form.input :location, wrapper: :scihist_horizontal_form %>
      <%= sub_form.input :text, wrapper: :scihist_horizontal_form %>
    <% end %>

    <%# f.repeatable_attr_input :subject %>

    <%= f.input :department, collection: Work::ControlledLists::DEPARTMENT  %>

    TO DO EXHIBITION

    <%= f.input :source %>

    <%= f.repeatable_attr_input :series_arrangement %>

    TO DO PHYSICAL CONTAINER

    <%= f.repeatable_attr_input :related_url %>



  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>



