<%= simple_form_for(@work, builder: Kithe::FormBuilder) do |f| %>

  <% if work.errors.any? %>
    <div class="kithe-form-errors-top">
      <p><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved:</p>
      <p><%= work.errors.full_messages.to_sentence %></p>

      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    </div>
  <% end %>



  <div class="form-inputs">
    <%= f.input :title, hint: "yes it is a hint" %>

    <%= f.input :additional_title, wrapper: :multi_input do %>
        <% f.object.additional_title.each do |str| %>
          <%= f.text_field(:additional_title, value: str, class: "form-control mb-2", multiple: true) %>
        <% end %>
    <% end %>

    <%= f.input :external_id, wrapper: :multi_input, hint: "is a" do %>
      <%= f.fields_for :external_id do |sub_form| %>
        <%= render "external_id_fields", f: sub_form %>
      <% end %>
      <div class="links">
        <%= link_to_add_association "Add another #{f.label_text(:external_id)}", f, :external_id %>
      </div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>



