<%= simple_form_for(@work) do |f| %>

  <% if work.errors.any? %>
    <div class="kithe-form-errors-top">
      <p><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved:</p>
      <p><%= work.errors.full_messages.to_sentence %></p>

      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    </div>
  <% end %>



  <div class="form-inputs">
    <%= f.input :title, hint: "yes it is a hint" %>

    <%= f.input :external_id, wrapper: :multi_input, hint: "is a" do %>
      <%= f.fields_for :external_id do |sub_form| %>
          <div class="nested-fields form-row" id="work_external_id">
            <div class="col">
              <%= sub_form.input :category, label: false do %>
                <%= sub_form.select :category, Work::ExternalId::TYPE_VOCAB, { include_blank: sub_form.object.send(:category).blank? }, class: "custom-select" %>
              <% end %>
            </div>
            <div class="col">
              <%= sub_form.input :value, label: false %>
            </div>
          </div>
        <% end %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>



