
<div class="form-row">
  <div class="col-sm col-form-label text-right">
    <%= f.label :box %>
  </div>
  <div class="col-sm">
    <%= f.input :box, label: false %>
  </div>

  <div class="col-sm col-form-label text-right">
    <%= f.label :folder %>
  </div>
  <div class="col-sm">
    <%= f.input :folder, label: false %>
  </div>
</div>

<div class="form-row">
  <div class="col-sm col-form-label text-right">
    <%= f.label :volume %>
  </div>
  <div class="col-sm">
    <%= f.input :volume, label: false %>
  </div>

  <div class="col-sm col-form-label text-right">
    <%= f.label :part %>
  </div>
  <div class="col-sm">
    <%= f.input :part, label: false %>
  </div>
</div>


<div class="form-row">
  <div class="col-sm col-form-label text-right">
    <%= f.label :page %>
  </div>
  <div class="col-sm">
    <%= f.input :page, label: false %>
  </div>

  <div class="col-sm col-form-label text-right">
    <%= f.label :shelfmark %>
  </div>
  <div class="col-sm">
    <%= f.input :shelfmark, label: false %>
  </div>
</div>
