<div class="show-page-audio-playlist-wrapper" data-role="audio-playlist-wrapper">
    <%# Note: model is an array of Assets.%>
    <h2 class="attribute-sub-head"><%= pluralize(view.array_of_tracks.count, 'sound file')%></h2>
    <div class="show-sub-head-body">
        <div class="now-playing-container" data-role="now-playing-container">
            <div class="now-playing-info" data-role="now-playing-info">
                <span class="current-track-label" data-role="current-track-label"></span>
            </div>

            <audio controls controlsList="nodownload" data-role="audio-elem" >
                <source src=""  type="audio/mpeg"/>
                <source src=""  type="audio/webm"/>
            </audio>
        </div>
        <ul class="track-listings list-unstyled" data-role="track-listings" >
            <% view.array_of_tracks.each do |track| %>
                <li class="track-listing"
                    data-role="track-listing"
                    data-title="<%= track.title %>"
                    data-member-id="<%= track.id %>"
                    data-original-url="<%= main_app.download_path(track.id) %>"
                    data-mp3-url="<%=  track.derivative_for('small_mp3')&.url %>"
                    data-webm-url="<%= track.derivative_for('webm')&.url      %>"
                >
                    <a class="title play-link" title="Listen to '<%= track.title%>'" href="#" data-role="play-link">
                        <i class="fa fa-play-circle" aria-hidden="true"></i>
                        <%= track.title %>
                    </a>

                    <% unless track.published? %>
                      <div class="private-badge-div"><span title="Private" class="badge badge-warning">Private</span></div>
                    <% end %>
                    <%= DownloadDropdownDisplay.new(track, display_parent_work: track.parent, use_link:true).display %>
                </li>
            <% end %>
        </ul>
    </div>
</div>
