<%# the right column of a work show page including description, metadata,
    citation, related items.

    In a partial to make it easier to re-use in templates that differ in how
    they show media, but still need this.
%>

<div class="work-description">
  <%= DescriptionDisplayFormatter.new(view.description).format  %>
</div>

<table class="work chf-attributes">

  <% view.grouped_creators.each do |category, values| %>
    <%= AttributeTable::RowDisplay.new(category, values: values, link_to_facet: "creator_facet").display %>
  <% end %>

  <% if view.provenance.present? %>
    <tr>
      <th>Provenance</th>
      <td><%= WorkProvenanceDisplay.new(view.provenance).display %></td>
    </tr>
  <% end %>


  <% view.grouped_places.each do |category, values| %>
    <%= AttributeTable::RowDisplay.new(category, values: values, link_to_facet: "place_facet").display %>
  <% end %>

  <%= AttributeTable::RowDisplay.new(:format, values: view.format.map(&:titleize), link_to_facet: "format_facet", alpha_sort: true).display %>


  <% if view.humanized_content_types.length > 0 %>
    <tr>
      <th>Original file type</th>
      <td>
          <%= view.humanized_content_types.join(", ") %>
      </td>
    </tr>
  <% end %>

  <%= AttributeTable::RowDisplay.new(:genre, values: view.genre, link_to_facet: "genre_facet", alpha_sort: true).display %>
  <%= AttributeTable::RowDisplay.new(:medium, values: view.medium, link_to_facet: ("medium_facet" if current_staff_user?), alpha_sort: true).display %>
  <%= AttributeTable::RowDisplay.new(:extent, values: view.extent).display %>
  <%= AttributeTable::RowDisplay.new(:language, values: view.language, link_to_facet: "language_facet", alpha_sort: true).display %>

  <% if view.inscription.present? %>
    <tr>
      <th>Inscription</th>
      <td>
        <ul>
          <% view.inscription.each do |inscription| %>
          <li class="attribute"><%= inscription.display_as %></li>
          <% end %>
        </ul>
      </td>
    </tr>

  <% end %>

  <%= AttributeTable::RowDisplay.new(:subject, values: view.subject, link_to_facet: "subject_facet", alpha_sort: true).display %>

  <% if view.rights.present? %>
    <tr>
      <th>Rights</th>
      <td>
        <%= link_to RightsTerms.label_for(view.rights), view.rights, target: "_blank" %>
      </td>
    </tr>
  <% end %>


  <%= AttributeTable::RowDisplay.new(:rights_holder, values: [view.rights_holder]).display %>

  <% if view.related_urls_filtered.present? %>
    <tr>
      <th>Related URL</th>
      <td>
        <ul>
          <% view.related_urls_filtered.each do |url| %>
            <li class="attribute"><%= ExternalLinkDisplay.new(url).display %></li>
          <% end %>
        </ul>
      </td>
    </tr>
  <% end %>

  <%# hard-coded credit line instead of taking from record %>
  <tr>
    <th>Credit line</th>
    <td>
      <ul>
        <li class="attribute credit_line">Courtesy of Science History Institute</li>
      </ul>
    </td>
  </tr>


  <% if view.additional_credit.present? %>
    <tr>
      <th>Additional credit</th>
      <td>
        <ul>
          <% view.additional_credit.each do |credit| %>
            <li class="attribute"><%= credit.display_as %></li>
          <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
  <%= AttributeTable::RowDisplay.new(:digitization_funder, values: [view.digitization_funder]).display %>
</table>


<h2 class="attribute-sub-head">Physical location</h2>

<table class="work chf-attributes">
  <%= AttributeTable::RowDisplay.new(:department, values: [view.department], link_to_facet: "department_facet").display %>
  <%= AttributeTable::RowDisplay.new(:exhibition, values: view.exhibition, link_to_facet: "exhibition_facet", alpha_sort: true).display %>

  <% if view.contained_by.present? %>
    <tr>
      <th>Collection</th>
      <td>
        <ul>
          <% view.public_collections.each do |collection| %>
            <li class="attribute">
              <%= link_to collection.title, collection_path(collection) %>
            </li>
          <% end %>
        </ul>
      </td>
    </tr>
  <% end %>

  <%= AttributeTable::RowDisplay.new(:project, values: view.project, link_to_facet: "project_facet", alpha_sort: true).display %>
  <%= AttributeTable::RowDisplay.new(:series_arrangement, values: view.series_arrangement).display %>

  <% if @work.physical_container.present? %>
    <tr>
      <th>Physical container</th>
      <td>
        <ul>
          <li class="attribute">
            <%= view.physical_container.display_as %>
          </li>
        </ul>
      </td>
    </tr>
  <% end %>

  <% if view.links_to_opac.present? %>
    <tr>
      <td colspan=2 class="catalog-links">
        <% view.links_to_opac.each do |url| %>
          <%= content_tag "a", "View in library catalog", href: url %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<% if view.related_works.present? %>
  <h2 class="attribute-sub-head">Related Items</h2>

  <ul class="related-items show-sub-head-body list-unstyled">
    <% view.related_works.each do |work| %>
      <li class="related-work">
        <div class="related-work-thumb">
          <%= link_to work_path(work.friendlier_id) do %>
            <%= ThumbDisplay.new(work.leaf_representative, thumb_size: :standard, lazy: true).display %>
          <% end %>
        </div>

        <div class="related-work-text">
          <%= link_to work_path(work.friendlier_id) do %>
            <%= work.title %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
