<%# we're using a rails partial layout to 'wrap' the show work 'metadata' section in the
    apparatus for tabs for transcription and translation. This should be a layout around
    a partial that actually has the unadorned metadata column, which will show up where we
    'yield' below, wrapped in the actual tabs as well as tab panels for other content.

    NOTE: we count on a WorkShowDecorator being passed as 'decorator' local in render call,
    so we can see if we have ech of transcriptions or translation. Kind o fmessy!
%>

<ul class="nav nav-tabs mt-4 mb-2" data-trigger="responsive-tabs-lg">
  <li class="nav-item">
    <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">
      Description
    </a>
  </li>

  <% if decorator.transcription_texts.present? %>
    <li class="nav-item">
      <a class="nav-link" id="description-tab" data-toggle="tab" href="#transcription" role="tab" aria-controls="transcription">
        Transcription
      </a>
    </li>
  <% end %>

  <% if decorator.translation_texts.present? %>
    <li class="nav-item">
      <a class="nav-link" id="translation-tab" data-toggle="tab" href="#translation" role="tab" aria-controls="translation" aria-selected="true">
        English Translation
      </a>
    </li>
  <% end %>
</ul>

<div class="tab-content">
  <div class="tab-pane show active" id="description" role="tabpanel" aria-labelledby="description-tab">

    <%= yield %>

  </div>

  <% if decorator.transcription_texts.present? %>
    <div class="tab-pane" id="transcription" role="tabpanel" aria-labelledby="transcription-tab">
      <% decorator.transcription_texts.each do |text_obj| %>
        <% if decorator.transcription_texts.length > 1 %>
          <h3 class="textual-separator text-page-separator">
          <%= link_to(
            viewer_path(text_obj.asset.parent.friendlier_id, text_obj.asset.friendlier_id),
            data: MemberImagePresentation.viewer_trigger_data_attrs(
                member_id: text_obj.friendlier_id, work_id: text_obj.asset.parent&.friendlier_id
          )) do %>
              Image <%= text_obj.image_number %>
            <% end %>
          </h3>
        <% end %>
        <div class="long-text-line-height text-pages">
          <%= simple_format text_obj.text %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if decorator.translation_texts.present? %>
    <div class="tab-pane" id="translation" role="tabpanel" aria-labelledby="translation-tab">
      <% decorator.translation_texts.each do |text_obj| %>
        <% if decorator.transcription_texts.length > 1 %>
          <%= link_to(
            viewer_path(text_obj.asset.parent.friendlier_id, text_obj.asset.friendlier_id),
             data: MemberImagePresentation.viewer_trigger_data_attrs(
                member_id: text_obj.friendlier_id, work_id: text_obj.asset.parent&.friendlier_id
              )
            ) do %>
              <h3 class="textual-separator text-page-separator">
                <%= link_to(
                    viewer_path(text_obj.asset.parent.friendlier_id, text_obj.asset.friendlier_id),
                    data: MemberImagePresentation.viewer_trigger_data_attrs(
                      member_id: text_obj.friendlier_id, work_id: text_obj.asset.parent&.friendlier_id
                )) do %>
                  Image <%= text_obj.image_number %>
                <% end %>
              </h3>
            <% end %>
        <% end %>
        <div class="long-text-line-height text-pages">
          <%= simple_format text_obj.text %>
        </div>
      <% end %>
    </div>
  <% end %>

</div>
