<h1>Works</h1>

<p>
  <div class="alert alert-secondary d-inline-block">
    <h2 class="h4 alert-heading">Create New Work</h2>
    <%= link_to 'Metadata', new_work_path, class: "btn btn-primary" %>
  </div>
</p>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Created</th>
      <th>Last Modified</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= work.friendlier_id %></td>
        <td><%= work.title %></td>
        <td><%= l work.created_at.to_date, format: :admin  %></td>
        <td><%= l work.updated_at.to_date, format: :admin %></td>
        <td>
          <div class="dropdown">
            <a href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to 'Edit Metadata', edit_work_path(work), class: "dropdown-item" %>
              <%= link_to 'Members', members_for_work_path(work), class: "dropdown-item" %>
              <%= link_to 'Destroy', work, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


