<h1>Works</h1>

<p>
  <div class="alert alert-secondary d-inline-block">
    <h2 class="h4 alert-heading">Create New Work</h2>
    <%= link_to 'Metadata', new_work_path, class: "btn btn-primary" %>
  </div>
</p>

<%# this is ransack %>
<%= search_form_for @q  do |f| %>
  <div class="row">
    <div class="input-group col-lg-9 col-md-10 mb-3">
      <div class="input-group-prepend">
        <%= f.label :title_or_friendlier_id_cont, "In Title or ID", class: "input-group-text" %>
      </div>
      <%= f.search_field :title_or_friendlier_id_cont, class: "form-control" %>
      <%= select_tag "q[parent_id_null]",
            options_for_select({"All" => "", "Top-level" => true}, params[:q][:parent_id_null]),
            class: "custom-select col-2"
      %>
      <div class="input-group-append">
        <%= f.button "Search", class: "btn btn-primary" %>
      </div>
    </div>
  </div>

<% end %>


<% if @works.total_count > 0 %>
  <p>
    <%= @works.offset_value + 1 %> - <%= @works.offset_value + @works.count %> of <%= @works.total_count %>
  </p>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>thumbnail</th>
      <th><%= sort_link(@q, :id, "ID", page: nil) %></th>
      <th><%= sort_link(@q, :title, page: nil) %></th>
      <th><%= sort_link(@q, :created_at, "Created", page: nil) %></th>
      <th><%= sort_link(@q, :updated_at, "Last Modified", page: nil) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= thumb_image_tag(work.representative, size: :mini) %></td>
        <td><%= work.friendlier_id %></td>
        <td><%= link_to work.title, work_path(work) %></td>
        <td><%= l work.created_at.to_date, format: :admin  %></td>
        <td><%= l work.updated_at.to_date, format: :admin %></td>
        <td>
          <div class="dropdown">
            <a href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
            <%= admin_dropdown_for_work(work, labelled_by_id: "dropdownMenuButton") %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @works, theme: 'twitter-bootstrap-4' %>
