<h1><%= @work.title %></h1>
<% if @work.parent.present? %>
  <p>In: <%= link_to "#{@work.parent.title} (#{@work.parent.friendlier_id})", work_path(@work.parent) %></p>
<% end %>


<div class="alert alert-secondary d-inline-block">
  <h2 class="h4 alert-heading">Edit</h2>
  <%= link_to "Metadata", edit_work_path(@work), class: "btn btn-primary" %>
  <%= link_to('Delete', @work, method: :delete, data: { confirm: "Delete Work '#{@work.title}'?" }, class: "btn btn-danger" )%>
</div>

<div class="alert alert-secondary d-inline-block">
  <h2 class="h4 alert-heading">Add New Members</h2>
  From:
  <%= link_to "Files", asset_ingest_path(@work), class: "btn btn-primary" %>
  <%= link_to "New Child Work", new_work_path(parent_id: @work), class: "btn btn-primary" %>
</div>

<p><%= @work.members.count  %> members</p>

<table class="table">
  <thead>
    <tr>
      <th>thumbnail</th>
      <th>ID</th>
      <th>Type</th>
      <th>Title</th>
      <th>Created</th>
      <th>Last Modified</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @work.members.order(:position).includes(:derivatives).each do |member| %>
      <tr>
        <td>
          <% if member.kind_of?(Kithe::Asset) && member.stored? && member.derivative_for(:thumb_standard) && member.derivative_for(:thumb_standard_2X) %>
            <%= link_to asset_path(member) do %>
              <%= image_tag member.derivative_for(:thumb_standard).url,
                srcset: "#{member.derivative_for(:thumb_standard).url} 1x, #{member.derivative_for(:thumb_standard_2X).url} 2x" %>
            <% end %>
          <% end %>
        </td>

        <td><%= member.friendlier_id %></td>

        <td>
          <ul class="list-unstyled">
            <li><%= member.class.name %></li>
            <% if member.kind_of?(Kithe::Asset) %>
              <li><small><%= member.content_type %></small></li>
              <li><small><%= number_to_human_size(member.size) %></small></li>
              <% if ! member.stored? %>
                <li><small class="text-danger">waiting for ingest...</small></li>
              <% elsif  ! member.derivatives_created? %>
                <li><small class="text-danger">waiting for derivatives...</small></li>
              <% end %>
            <% end %>
          </ul>
        </td>

        </td>
        <td>
          <%= link_to_if member.kind_of?(Asset), member.title, asset_path(member) %>
        </td>
        <td><%= l member.created_at.to_date, format: :admin  %></td>
        <td><%= l member.updated_at.to_date, format: :admin %></td>
        <td>
          <div class="dropdown dropdown-menu-right">
            <a href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
            <% if member.kind_of?(Work) %>
              <%= admin_dropdown_for_work(member, labelled_by_id: "dropdownMenuButton") %>
            <% elsif member.kind_of?(Asset) %>
                <%= admin_dropdown_for_asset(member, labelled_by_id: "dropdownMenuButton") %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


