<% provide :page_title, construct_page_title(decorator.title) %>

<% content_for :head do %>
  <%# render "chf_meta_tags", presenter: @presenter  %>
<% end %>

<div class="work-show" itemscope itemtype="http://schema.org/CreativeWork" class="row">


  <header class="show-title">
    <% if decorator.genre.present? %>
      <div class="show-genre">
        <%= decorator.display_genres %>
      </div>
    <% end %>

    <h1>
      <%= decorator.title %>
      <%= publication_badge(decorator) %>
      <% if can?(:read, @work) %>
        <%= link_to "Edit", admin_work_path(decorator), class: "btn btn-outline-primary" %>
      <% end %>
    </h1>


    <% if decorator.additional_title.present? %>
      <ul class="additional-titles list-unstyled">
        <% decorator.additional_title.each do |title| %>
          <li><h2><%= title %></h2></li>
        <% end %>
      </ul>
    <% end %>

    <% if decorator.parent.present? || decorator.source.present? %>
      <ul class="part-of parent-works list-unstyled">
        <% if decorator.parent.present? %>
          <li>Part of <%= link_to decorator.parent.title, work_path(decorator.parent) %></li>
        <% end %>
        <% if decorator.source.present? %>
          <li> Part of <i><%= decorator.source %></i></li>
        <% end %>
      </ul>
    <% end %>

    <% if decorator.date_of_work.present?  %>
      <div class="show-date">
          <ul>
            <% DateDisplayFormatter.new(decorator.date_of_work).display_dates.each do |interval| %>
              <li>
                <span itemprop="date_created">
                  <%= interval %>
                </span>
              </li>
            <% end %>
          </ul>
      </div>
    <% end %>
  </header>

  <div class="show-representative">
    <%= ThumbDisplay.new(decorator.leaf_representative, thumb_size: :large).display %>
  </div>

  <div class="show-metadata">
    <%= render "show_info" %>
  </div>

  <%# these next are not in a div so they can wrap around the bottom of the metadata
    div to take up all space. A bit hacky but it works. A clear hack to make sure they start after
    big representative image %>
  <div style="clear: left"></div>

  <div class="show-page-image-wrapper">
    TO DO, member thumb goes here
  </div>

  <div class="show-page-image-wrapper">
    TO DO, member thumb goes here
  </div>


</div>
