<% provide :page_title, construct_page_title(decorator.title) %>

<% content_for :head do %>
  <%= render "meta_tags", work: @work  %>
  <%= tag "link", rel: "alternate", type: "application/xml", title: "OAI-DC metadata in XML", href: work_path(@work, format: "xml") %>
<% end %>

<div class="work-show work-show-audio" data-role="audio-playlist-wrapper" itemscope itemtype="http://schema.org/CreativeWork" class="row">

  <%= WorkTitleAndDates.new(@work).display %>

  <div class="now-playing-container" data-role="now-playing-container">
    <div class="now-playing-info" data-role="now-playing-info">
        <i class="fa fa-volume-up" aria-hidden="true"></i> <span class="current-track-label" data-role="current-track-label"></span>
    </div>

    <audio controls controlsList="nodownload" data-role="audio-elem" >
        <source src=""  type="audio/mpeg"/>
        <source src=""  type="audio/webm"/>
    </audio>
  </div>

  <div class="row bottom">

    <div class="col-lg-6 col-files">
      <div>
        <h2 class="attribute-sub-head sound-file-header"><%= pluralize(decorator.audio_members.count, 'sound file')%></h2>

        <table class="sans-serif track-listings" data-role="track-listings" >
            <% decorator.audio_members.each do |track| %>
              <tr
                    data-role="track-listing"
                    data-title="<%= track.title %>"
                    data-member-id="<%= track.id %>"
                    data-original-url="<%= main_app.download_path(track.id) %>"
                    data-mp3-url="<%=  track.derivative_for('small_mp3')&.url %>"
                    data-webm-url="<%= track.derivative_for('webm')&.url      %>"
                >
                <td class="icon">
                  <a class="title play-link" title="Listen to '<%= track.title%>'" aria-label="Listen to '<%= track.title%>'" href="#" data-role="play-link">
                    <i class="fa fa-play-circle" aria-hidden="true"></i>
                  </a>
                </td>
                <td class="track-listing">
                  <a class="title play-link" title="Listen to '<%= track.title%>'" aria-label="Listen to '<%= track.title%>'" href="#" data-role="play-link">
                        <%= track.title %>
                        <% unless track.published? %>
                          <span title="Private" class="badge badge-warning">Private</span>
                        <% end %>
                  </a>
                </td>
                <td>
                  <%= DownloadDropdownDisplay.new(track, display_parent_work: track.parent, use_link:true).display %>
                </td>
              </tr>
            <% end %>
        </table>
      </div>

      <% if decorator.non_audio_members.present? %>
        <div>
          <h2 class="attribute-sub-head"><%= pluralize(decorator.non_audio_members.count, 'other file')%></h2>

          <table class="table other-files sans-serif">
            <% decorator.non_audio_members.each_with_index do |member, index| %>
              <tr class="show-member-list-item">
                <td class="image">
                  <%# lazyload all but first 6 images %>
                  <%= ThumbDisplay.new(member.leaf_representative, thumb_size: :mini, lazy: (index > 5)).display %>
                </td>
                <td class="title">
                  <div>
                    <%= member.title  %>
                    <% unless member.published? %>
                        <span title="Private" class="badge badge-warning">Private</span>
                    <% end %>
                  </div>
                  <% if member.kind_of?(Asset) %>
                    <div>
                      <small><%= decorator.asset_details(member) %></small>
                    </div>
                  <% end %>
                </td>
                <td class="action">
                  <% if member.kind_of?(Work) %>
                    <%= link_to "Info", work_path(member), class: "btn btn-primary" %>
                  <% else %>
                    <%= DownloadDropdownDisplay.new(member, display_parent_work: @work, use_link:true).display %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
      <% end %>

      <%= render "rights_and_social", work: @work %>
    </div>

    <div class="col-lg-6 col-metadata">
      <%= WorkShowInfo.new(@work).display %>
      <%= render "citation", work: @work  %>
    </div>

  </div>

</div>
