<% provide :page_title, construct_page_title(decorator.title) %>

<% content_for :head do %>
  <%= render "meta_tags", work: @work  %>
<% end %>

<div class="show-page-layout work-show" itemscope itemtype="http://schema.org/CreativeWork" class="row">

  <%= WorkTitleAndDates.new(@work).display %>

  <div class="show-hero">
    <%= Playlist.new(decorator.audio_members).display if decorator.audio_members.present? %>
    <%= MemberImagePresentation.new(decorator.representative_member, size: :large).display %>
    <%= render "rights_and_social", work: @work %>
  </div>

  <div class="show-metadata">
    <%= render "show_info" %>
  </div>

  <%# these next are not in a div so they can wrap around the bottom of the metadata
    div to take up all space. A bit hacky but it works. A clear hack to make sure they start after
    big representative image %>
  <div style="clear: left"></div>

  <% decorator.member_list_for_display.each_with_index do |member, index| %>
      <div class="show-member-list-item">
        <%# lazyload all but first 6 images %>
        <%= MemberImagePresentation.new(member, lazy: (index > 5)).display %>
      </div>
  <% end %>
</div>
