<% provide :page_title, construct_page_title(decorator.title) %>

<% content_for :head do %>
  <%= render "meta_tags", work: @work  %>
  <%= tag "link", rel: "alternate", type: "application/xml", title: "OAI-DC metadata in XML", href: work_path(@work, format: "xml") %>
<% end %>

<div class="show-page-layout work-show work-show-file-list" itemscope itemtype="http://schema.org/CreativeWork" class="row">

  <div class="show-title">
    <%= WorkTitleAndDates.new(@work).display %>

    <%# up here so it stays above request button in single-column mode %>
    <div class="work-description long-text-line-height">
      <% if decorator.portrait_asset.present? %>
        <div class="oh-portrait">
          <%= ThumbDisplay.new(decorator.portrait_asset).display %>
        </div>
      <% end %>


      <%= DescriptionDisplayFormatter.new(@work.description).format  %>
    </div>
  </div>

  <div class="show-file-list">
    <% if decorator.available_by_request_assets.present? %>
      <h2 class="attribute-sub-head mt-0">Access this interview</h2>
      <div class="show-sub-head-body request-section">
        <div class="pr-2 long-text-line-height">
        <div class="pb-sm-3 pl-sm-3 text-nowrap float-sm-right">
          <%= link_to "Request Access",
            request_oral_history_access_form_path(@work.friendlier_id),
            class: "btn btn-emphasis mb-2"
          %>
        </div>


          <p class="text-brand-serif">Available upon request
            <%= decorator.multiple_files? ? "are" : "is" %>
            <%= decorator.available_by_request_summary %>.
          </p>


          <% if @work.oral_history_content.available_by_request_automatic? %>
            <p class="alert alert-primary text-brand-serif">After submitting a brief form, you will receive immediate access to
              <%= decorator.multiple_files? ? "these files" : "this file" %>.
              If you have any questions about transcripts, recordings, or usage permissions, contact the Center for Oral History at <%= link_to ScihistDigicoll::Env.lookup!(:oral_history_email_address), "mailto:#{ScihistDigicoll::Env.lookup!(:oral_history_email_address)}" %>.
            </p>
          <% else # manual review %>
            <div class="alert alert-primary">
              <p class="text-brand-serif">After submitting a brief form, your request will be reviewed and you will receive an email, usually within 3 business days. Usage may be subject to restrictions by agreement with interviewee.</p>

              <p> If you have any questions about transcripts, recordings, or usage permissions, please contact the Center for Oral History at <%= link_to ScihistDigicoll::Env.lookup!(:oral_history_email_address), "mailto:#{ScihistDigicoll::Env.lookup!(:oral_history_email_address)}" %>.
              </p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="mb-4 pr-3">
      <%= render "rights_and_social", work: @work %>
    </div>

    <% decorator.member_list_for_display.each_with_index do |member, index| %>
      <%= FileListItemDisplay.new(member, index: index, download_original_only: true).display %>
    <% end %>
  </div>

  <div class="show-metadata">
    <%= WorkShowInfo.new(@work).display %>

    <% if @work.is_oral_history? %>
      <%= OralHistoryBiographicalDisplay.new(@work).display %>
    <% end %>

    <%= render "citation", work: @work  %>
  </div>
</div>

