<% provide :page_title, construct_page_title(decorator.title) %>

<% content_for :head do %>
  <%= render "meta_tags", work: @work  %>
  <%= tag "link", rel: "alternate", type: "application/xml", title: "OAI-DC metadata in XML", href: work_path(@work, format: "xml") %>
<% end %>

<div class="show-page-layout work-show work-show-file-list" itemscope itemtype="http://schema.org/CreativeWork" class="row">

  <%= WorkTitleAndDates.new(@work).display %>

  <div class="show-hero show-file-list">
    <%= render "rights_and_social", work: @work %>

    <% decorator.member_list_for_display.each_with_index do |member, index| %>
        <div class="show-member-file-list-item">
          <div class="image">
            <%# lazyload all but first 6 images %>
            <%= ThumbDisplay.new(member.leaf_representative, thumb_size: :mini, lazy: (index > 5)).display %>
          </div>
          <div class="title">
            <div>
              <%= link_to_if member.kind_of?(Asset), member.title, download_path(member, disposition: :inline) %>

              <% unless member.published? %>
                  <span title="Private" class="badge badge-warning">Private</span>
              <% end %>
            </div>
            <% if member.kind_of?(Asset) %>
              <div>
                <small><%= decorator.asset_details(member) %></small>
              </div>
            <% end %>
          </div>
          <div class="action">
            <% if member.kind_of?(Work) %>
              <%= link_to "Info", work_path(member), class: "btn btn-primary" %>
            <% else %>
              <%= link_to "Download", download_path(member), class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>

  <div class="show-metadata">
    <%= WorkShowInfo.new(@work).display %>
    <%= render "citation", work: @work  %>
  </div>
</div>

