<h1>Oral history access requests</h1>

<p>This is the list of patron requests for restricted oral histories.</p>

<div class="border p-2 mb-2">
  To download a spreadsheet of all items, fill out this form.
   <%= form_tag :action => 'report' do %>
    <%= date_field("Start", "start_date", html5: true)%>
    <%= date_field("End",   "end_date", html5: true)%>
    <br/>
    <%= submit_tag("Download report", format: :csv) %>
    <br/><br/>
  <% end %>
</div>

<h2>Requests in the past 3 months:</h2>

<% if @oral_history_access_requests.present? %>
  <table class="table admin-list member-list">
    <thead>
      <tr class="d-flex">
        <th class="col-1">Date</th>
        <th class="col-2">Patron</th>
        <th class="col-2">Oral History</th>
        <th class="col-7">Intended use</th>
      </tr>
    </thead>

    <tbody>
      <% @oral_history_access_requests.each do |oh_request| %>
        <tr class="d-flex">
          <td class="col-sm-1"><%= l(oh_request.created_at.to_date, format: :admin) %></td>
          <td class="col-sm-2"><%= oh_request.patron_name %><% if oh_request.patron_institution.present? %>, <%= oh_request.patron_institution %> <% end %>

          </td>
          <td class="col-sm-2"><%= link_to(oh_request.work.title, work_path(oh_request.work.friendlier_id))%></td>
          <td class="col-sm-7">
            <small class="text-muted">
             <%= oh_request.intended_use %>
           </small>
          </td>
        </tr>
      <%end %>
    </tbody>
  </table>
<% else %>
  <div>No requests so far.</div>
<% end %>