<% provide :page_title, construct_page_title(collection.title) %>

<% provide :body_classes, "full-width-homepage" %>

<%#= The homepage's content goes directly into mainContainer;
we want the full width of the screen, no margins or padding. %>
<% content_for(:full_width_layout, true) %>

<div itemscope itemtype="http://schema.org/CollectionPage" class="container-fluid collection-show oral-history-collection-splash">
  <div class="collection-banner"></div>

  <div class="collection-top row no-gutters">
    <div class="collection-desc-container col-lg">
      <div class="collection-desc">
        <div class="show-title">
          <header>
            <div class="show-genre"><%= link_to "Collections", collections_path %></div>
            <h1>
              <%= link_to collection.title, collection_path(collection), class: "title-link" %> <%= publication_badge(collection) %>
              <% if can? :update, collection %>
                <%= link_to "Edit", edit_admin_collection_path(collection), class: "btn btn-secondary float-right" %>
              <% end %>
            </h1>
          </header>
        </div>

        <p class="show-item-count">
          <%= render CollectionCountComponent.new(collection) %>
        </p>

        <div class="collection-search-form">
          <%= form_tag "", method: :get do |f| %>
           <div class="input-group">
              <%= search_field_tag :q, '', class: "q form-control",
                  id: "collectionQ",
                  autocomplete: "off",
                  placeholder:  t("collection.search_form.search_field.placeholder"),
                  :"aria-label" => t('collection.search_form.search_field.label')
              %>

              <label class="sr-only" for="collectionQ"><%= t('collection.search_form.search_field.label') %></label>

              <div class="input-group-append">
                <button type="submit" class="btn btn-brand-main" title="Search">
                  <%= t('blacklight.search.form.submit') %>
                </button>
              </div>
            </div>
          <% end %>
        </div>

        <div class="oh-collection-description">
          <%= DescriptionDisplayFormatter.new(collection.description).format %>
        </div>

      </div>
    </div>

    <div class="collection-splash-thumb col-lg">
    </div>
  </div>

  <div class="canned-queries-container">
    <div class="canned-queries shi-full-width-inner">
      <h2 class="canned-queries-heading">Starting points</h2>
      <div class="canned-queries-body">
        <%= link_to({ f: { subject_facet: ["Women in science"] } }, class: "q") do %>
          <div class="number">
            <%= canned_query_count(:women_in_science) %>
          </div>
          <div class="link">
            Women in science
          </div>
        <% end %>

        <%= link_to({ f: { subject_facet: ["Nobel Prize winners"] } }, class: "q") do %>
          <div class="number">
            <%= canned_query_count(:nobel_prize) %>
          </div>
          <div class="link">
            Nobel Prize winners
          </div>
        <% end %>

        <%= link_to({ f: { oh_feature_facet: ["Synchronized audio"] } }, class: "q") do %>
          <div class="number">
            <%= canned_query_count(:synchronized_audio) %>
          </div>
          <div class="link">
            With synchronized audio
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <% if born_on_this_day_biographies.present? %>
    <div class="this-day-container">
      <div class="this-day shi-full-width-inner">

        <h2 class="brand-alt-h2 text-white text-center">Born on this day in history</h2>

        <div class="this-day-body">
          <% born_on_this_day_biographies.each do |bio| %>
            <div class="this-day-card">
              <% if bio.oral_history_content.first.work.leaf_representative&.content_type  &&
                    bio.oral_history_content.first.work.leaf_representative&.content_type != "application/pdf" %>
                <%= link_to work_path(bio.oral_history_content.first.work) do %>
                  <%= render ThumbComponent.new(bio.oral_history_content.first.work.leaf_representative) %>
                <% end %>
              <% end %>

              <p class="this-day-label">
                <%= link_to work_path(bio.oral_history_content.first.work) do %>
                  <%= bio.name %><br>
                  Born <%= FormatSimpleDate.new(bio.birth.date).display  %>
                <% end %>
              </p>

              <% if bio.oral_history_content.first.work&.leaf_representative&.content_type.blank? ||
                    bio.oral_history_content.first.work&.leaf_representative&.content_type == "application/pdf" %>

                <p class="this-day-text-desc">
                  <%= truncate(strip_tags(bio.oral_history_content.first.work.description), length: 120, separator: ' ') %>
                </p>
              <% end %>

            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="projects shi-full-width-inner">
    <h2 class="brand-alt-h2">Projects</h2>
    <p class="blurb">While individual oral histories can contribute to specific research goals and agendas, the strength of an oral history collection relies on the ability of individual oral histories to “speak” to each other. Learning about patterns of relationships and activities through the study of collective histories reveals much more about the scientific process and its products than any one oral history could do on its own.</p>

    <% project_list.each do |collection| %>
      <div class="project">
        <%= link_to(collection_path(collection.friendlier_id), class: "project-thumb") do %>
          <span class="count">
            <%= count_for_project(collection) %>
          </span>
          <%= render ThumbComponent.new(
                            collection.leaf_representative,
                            thumb_size: :collection_page,
                            placeholder_img_url: asset_path("default_collection.svg")
          ) %>
        <% end %>

        <div class="text">
          <h3>
            <%= link_to collection.title, collection_path(collection.friendlier_id) %>
          </h3>
          <%= DescriptionDisplayFormatter.new(collection.description).format %>
        </div>
      </div>
    <% end %>

    <%= link_to "More oral history projects...",
      collections_path(department_filter: "center-for-oral-history"),
      class: "more-projects" %>
  </div>


</div>
