<div class="bg-light border p-3 mt-4">
  <h3>Video HLS attached?</h3>
  <% if asset.hls_playlist_file.present? %>
    <b class="text-success">YES</b>
    <%= link_to "[S3 Console]",
          S3ConsoleUri.from_shrine_uploaded_file(asset.hls_playlist_file).console_uri,
          target: "_blank" %>
  <% else %>
    <b class="text-danger">NO</b>
  <% end %>
</div>


<div class="bg-light border p-3 mt-4" id="video_transcription">
  <h3>Video Transcription</h3>


  <% if invalid_for_asr %>
    Cannot ASR: <%= invalid_for_asr %>
  <% else %>
    <% if !asset.audio_asr_enabled && asset.parent&.description&.blank? %>
      <div class="alert alert-warning" role="alert">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        Parent description is blank; ASR will work better with a complete description filled out.
      </div>
    <% end %>

    <%= helpers.simple_form_for(asset, url: set_audio_asr_enabled_admin_asset_path(asset), method: :put) do |f| %>
       <%= f.input :audio_asr_enabled,
                  wrapper: :custom_boolean_switch,
                  label: "Automated Speech Recognition (ASR) Enabled?",
                  input_html: { onchange: "this.form.submit();" } %>
    <% end %>
  <% end %>

  <hr>

  <h4>Automated (ASR) WebVTT</h4>
    <% if asset.asr_webvtt? %>
      <div class="d-flex justify-content-between">
        <%= link_to asr_webvtt_download_label,
                    download_derivative_path(asset, Asset::ASR_WEBVTT_DERIVATIVE_KEY, disposition: :inline),
                    target: "_blank" %>
        <%= link_to "Delete",
              delete_transcript_admin_asset_path(asset, Asset::ASR_WEBVTT_DERIVATIVE_KEY),
              data: { confirm: "Delete ASR WebVTT?" }, method: :delete %>
      </div>
    <% else %>
      <code>None</code>
    <% end %>

  <hr>
  <h4>Corrected WebVTT</h4>
    <% if asset.corrected_webvtt? %>
      <div class="d-flex justify-content-between">
        <%= link_to corrected_webvtt_download_label,
            download_derivative_path(asset, Asset::CORRECTED_WEBVTT_DERIVATIVE_KEY, disposition: :inline),
            target: "_blank" %>
        <%= link_to "Delete",
            delete_transcript_admin_asset_path(asset, Asset::CORRECTED_WEBVTT_DERIVATIVE_KEY),
            data: { confirm: "Delete Corrected WebVTT?" }, method: :delete %>
      </div>
    <% else %>
      <code>None</code>
    <% end %>

    <%= helpers.simple_form_for(:asset_derivative, url: upload_corrected_vtt_admin_asset_path(asset), local: true, multipart: true, method: :put) do |f| %>
      <div class="input-group mt-3">
        <%= f.input_field Asset::CORRECTED_WEBVTT_DERIVATIVE_KEY, as: :file, class: "form-control", accept: "text/vtt" %>
        <%= f.submit value: (asset.corrected_webvtt?  ? "Replace" : "Add"), class: "btn btn-primary", data: { confirm: ("Replace existing corrected webvtt?" if asset.corrected_webvtt?) } %>
      </div>
    <% end %>
</div>

<% if asset.active_encode_statuses.present? %>
  <div class="bg-light border p-3 mt-4">
    <h3 class="mt-4 mb-4 ">Video HLS Encode Jobs</h3>

    <% asset.active_encode_statuses.order(updated_at: :desc).each do |status| %>
      <dl class='row'>
        <dt class="col-sm-4">started</dt><dd class="col-sm-8"><%= l status.created_at, format: :admin %></dd>
        <dt class="col-sm-4">last updated</dt><dd class="col-sm-8"><%= l status.updated_at, format: :admin %></dd>
        <dt class="col-sm-4">state</dt>
          <dd class="col-sm-8">
            <%= status.state %>
            <% if status.running? && status.percent_complete.to_i > 0 %>
              (<%= status.percent_complete  %>%)
            <% end %>
          </dd>
        <dt class="col-sm-4">job id</dt>
          <dd class="col-sm-8">
            <%= status.active_encode_id %><br>
            <%= link_to "[In AWS MediaConvert Console]", "https://us-east-1.console.aws.amazon.com/mediaconvert/home?#/jobs/summary/#{ status.active_encode_id }", target: "_blank" %>
          </dd>
        <% if status.encode_error.present? %>
          <dt>Error</dt>
          <dd><code><%= status.encode_error %></code></dd>
        <% end %>
        <% if status.hls_master_playlist_s3_url.present? %>
          <dt class="col-sm-4">.m3u8 playlist</dt>
          <dd class="col-sm-8">
            <%= text_field_tag "", status.hls_master_playlist_s3_url, readonly: true, style: "width: 100%" %><br>
            <%= link_to "[In AWS S3 Console]", S3ConsoleUri.from_uri(status.hls_master_playlist_s3_url).console_uri, target: "_blank" %>
          </dd>
        <% end %>
      </dl>
      <% if status.running? %>
        <%= link_to "Refresh status", admin_refresh_active_encode_status_path(status.id), method: "put", class: "btn btn-primary btn-sm" %>
      <% end %>
      <hr>
    <% end %>
  </div>
<% end %>
