<div class="collections-index">
    <h1 class="collections-index-title brand-alt-h1">Collections</h1>

    <nav aria-label="collection type filter">
        <ul class="nav nav-pills flex-column flex-md-row mb-5 justify-content-center">
          <li class="nav-item">
            <%= link_to "All", collections_path,
                    class: ["nav-link", ("active disabled" if current_page?(collections_path, check_parameters: true))] %>
          </li>

          <% CollectionsListController::DEPARTMENT_FILTERS.each_pair do |param, label| %>
              <li class="nav-item">
                <%= link_to label, collections_path(department_filter: param),
                        class: ["nav-link", ("active disabled" if current_page?(collections_path(department_filter: param)))] %>
              </li>
          <% end %>
        </ul>
    </nav>

    <div class="collections-index-list">
        <% @collections.each do |col| %>
            <div class="collection">
                <div class="collection-desc">
                    <h2 class="collection-title brand-alt-h2"><%= link_to col.title, collection_path(col.friendlier_id) %> </h2>
                    <p><%= DescriptionDisplayFormatter.new(col.description, truncate: 380).format %></p>
                </div>

                <div class="collection-thumb">
                    <%= link_to collection_path(col.friendlier_id), tabindex: "-1", "aria-hidden" => "true", :class => "collection-thumb-img" do %>
                        <%= render ThumbComponent.new(
                            col.leaf_representative,
                            thumb_size: :collection_page,
                            placeholder_img_url: asset_path("default_collection.svg")
                        ) %>
                    <% end %>
                    <div class="members-count"><%= pluralize number_with_delimiter(@child_count_display_fetcher.display_count_for(col)), "Item" %></div>
                </div>
            </div>
        <% end %>
    </div>
</div>
