<div class="collections-index">
    <h1 class="index-title">Collections</h1>

    <p class="blurb mx-auto mb-5 mt-4">Digitized items in the Digital Collections make up a selection of all <a target="_blank" href="https://www.sciencehistory.org/collections">Science History Institute materials</a>. View Institute Collections with digitized content below.</p>

    <nav aria-label="collection type filter">
        <ul class="nav nav-pills flex-column flex-md-row mb-5 justify-content-center">
          <li class="nav-item">
            <%= link_to "All", collections_path,
                    class: ["nav-link", ("active disabled" if current_page?(collections_path, check_parameters: true))] %>
          </li>

          <% CollectionsListController::DEPARTMENT_FILTERS.each_pair do |param, label| %>
              <li class="nav-item">
                <%= link_to label, collections_path(department_filter: param),
                        class: ["nav-link", ("active disabled" if current_page?(collections_path(department_filter: param)))] %>
              </li>
          <% end %>
        </ul>
    </nav>

    <div class="collections-index-list">
        <% @collections.each do |col| %>
            <div class="collection">
                <%= link_to collection_path(col.friendlier_id) do %>
                    <div class="collection-thumb">
                        <%= render ThumbComponent.new(
                            col.leaf_representative,
                            thumb_size: :collection_page,
                            placeholder_img_url: asset_path("default_collection.svg"),
                            aspect_ratio_container: false
                        ) %>
                    </div>
                    <div class="collection-title-wrapper">
                        <p class="collection-title"><%= col.title %></p>
                    </div>
                <% end %>
            </div>
        <% end %>
        <%# hack to keep our last line of collection teasers left-aligned, assuming
        max four-columns %>
        <div class="collection-spacer"></div>
        <div class="collection-spacer"></div>
        <div class="collection-spacer"></div>
    </div>
</div>
