<%# view is WorkCombinedAudioDerivatives #%>
<div class="card bg-light mb-3">
  <h2 class="card-header h3">Combined Audio Derivative Files</h2>
  <div class="card-body">
    <% unless view.work_available_members? %>
      This oral history doesn't have any published audio segments associated with it.
      <%# (Thus, no point in showing the "Regenerate derivatives" button.) %>
    <% else %>
      <% if view.combined_audio_fingerprint.present? %>
        <% if view.derivatives_up_to_date? %>
          <% if model&.oral_history_content&.combined_audio_derivatives_job_status_changed_at.nil? %>
            <p class="alert-success p-3">
                <i class="fa fa fa-thumbs-up pr-1" aria-hidden="true"></i>
                  The combined audio derivatives, created from <%= view.work_available_members_count %> published audio segments, are up to date. Their fingerprint is <code class="border"><%= view.combined_audio_fingerprint%></code>.
            </p>
          <% end %>
          <% if model&.oral_history_content&.queued?  %>
            <p class="alert-info p-3">
              The combined audio derivatives will be recreated soon. The job was added to the queue <%= distance_of_time_in_words(view.job_status_time, Time.now) %> ago.
            </p>
          <% end %>
          <% if model&.oral_history_content&.started?  %>
            <p class="alert-info p-3">
              The combined audio derivatives are being recreated. The job started <%= distance_of_time_in_words(view.job_status_time, Time.now) %> ago.
            </p>
          <% end %>
          <% if model&.oral_history_content&.failed?  %>
            <p class="alert-danger p-3">
              <i class="fa fa fa-thumbs-down pr-1" aria-hidden="true"></i>
              The combined audio derivatives were not recreated. The process failed <%= distance_of_time_in_words(view.job_status_time, Time.now) %> ago.
            </p>
          <% end %>
          <% if model&.oral_history_content&.done?  %>
            <p class="alert-success p-3">
              <i class="fa fa fa-thumbs-up pr-1" aria-hidden="true"></i>
                The combined audio derivatives, created <%= distance_of_time_in_words(view.job_status_time, Time.now) %> ago from <%= view.work_available_members_count %> published audio segments, are up to date. Their fingerprint is <code class="border"><%= view.combined_audio_fingerprint%></code>.
            </p>
          <% end %>
          <ul>
            <% if view.combined_mp3_audio.present? %>
              <li>
                Use the following mp3 link as the OHMS Media URL:<br/>
                <small>
                  <%= link_to view.combined_mp3_audio,  view.combined_mp3_audio %>
                </small>
              </li>
            <% end %>
            <% if view.combined_webm_audio.present? %>
              <li>
                The corresponding webm link is provided for reference only:<br/>
                <small>
                  <%= link_to view.combined_webm_audio, view.combined_webm_audio %>
                </small>
              </li>
            <% end %>
          </ul>
          <p>
            <%= link_to "Regenerate combined audio derivatives", create_combined_audio_derivatives_admin_work_path(model), method: "put", class: "btn btn-primary" %>
          </p>
        <% else %>
          <p class="alert-danger p-3">
            <i class="fa fa fa-thumbs-down pr-1" aria-hidden="true"></i>
            Combined audio derivatives exist for this oral history, but they are out of date.
              <% if view.job_status == "queued" %>
                <p class="alert-info p-3">
                A job to recreate them was added to the queue <%= distance_of_time_in_words(view.job_status_time, Time.now) %> ago.
                </p>
              <% end %>
              <% if view.job_status == "started" %>
                <p class="alert-info p-3">
                A job to recreate them started <%= distance_of_time_in_words(view.job_status_time, Time.now) %> ago.
                </p>
              <% end %>
              <% if view.job_status == "error" %>
                <p class="alert-danger p-3">
                A job to recreate them failed <%= distance_of_time_in_words(view.job_status_time, Time.now) %> ago.
                </p>
              <% end %>
          </p>
          <p>
            <%= link_to "Regenerate combined audio derivatives", create_combined_audio_derivatives_admin_work_path(model), method: "put", class: "btn btn-primary" %>
          </p>
        <% end %>
      <% else %>
        <p>
            This oral history has <%= view.work_available_members_count %> published audio segment(s). There are no combined audio derivatives for this oral history yet.
        </p>
        <p>
          <% if model&.oral_history_content&.queued? %>
            The combined audio derivatives will be created soon.
            The job is in the queue as of
            <%= distance_of_time_in_words(view.job_status_time, Time.now) %> ago.
          <% end %>
          <% if model&.oral_history_content&.started? %>
            They are currently being created;
            the process started <%= distance_of_time_in_words(view.job_status_time, Time.now) %> ago.
          <% end %>
          <% if model&.oral_history_content&.done? %>
            Someone tried to create them,
            but the process failed <%= distance_of_time_in_words(view.job_status_time, Time.now) %> ago.
          <% end %>
        </p>
        <p>
          <%= link_to "Create combined audio derivatives", create_combined_audio_derivatives_admin_work_path(model), method: "put", class: "btn btn-primary" %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>