<%= kithe_form_for([:admin, work], :html=> { novalidate: true, class: 'edit-work mx-auto admin-edit' }) do |f| %>
  <div class="admin-header sticky-top d-flex justify-content-between p-2 mb-4 mt-1 bg-light border">
    <% if work.leaf_representative.present? %>
      <div>
        <%= thumb_image_tag(work.leaf_representative, size: :mini, image_missing_text: true) %>
      </div>
    <% end %>


    <% if !@work.persisted? && @work.parent_id %>
      <%= hidden_field_tag "work[parent_id]", @work.parent_id %>
    <% end %>

    <div class="form-actions-label">
      <h1 class="h4">
        <% if @work.persisted? %>
          Editing <%= @work.title %> (<%= @work.friendlier_id %>)
        <% else %>
          New Work
          <% if @work.parent_id.present? %>
            in <%= @work.parent.title %> (<%= @work.parent.friendlier_id %>)
          <% end %>
        <% end %>
      </h1>
    </div>

    <div class="form-actions">
      <%= link_to 'Cancel', cancel_url, class: "btn btn-outline-primary" %>
      <%= f.button :submit %>
    </div>
  </div>


  <% if work.errors.any? %>
    <div class="kithe-form-errors-top alert alert-danger mb-4" role="alert"">
      <h2 class="h4" class="alert-heading"><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved</h2>
      <ol class="mb-0">
      <% work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    </div>
  <% end %>



  <div class="form-inputs">
    <%= f.input :title %>

    <%= render "work_fields", f: f %>


    <% if @work.members.present? %>
      <%= f.association :representative, collection: @work.members.order(:position), label_method: :title, include_blank: false %>
    <% end %>
  </div>
<% end %>



