  <table class="table admin-list member-list">
    <thead>
      <tr>
        <th class="thumbnail">thumbnail</th>
        <th class="id">ID</th>
        <th class="type">Type</th>
        <th class="title">Title</th>
        <th class="datestamp">Created</th>
        <th class="datestamp">Last Modified</th>
        <th class="action"></th>
      </tr>
    </thead>

    <tbody>
      <% work.members.order(:position).includes(:derivatives).includes(:leaf_representative => :derivatives).each do |member| %>
        <tr>
          <td>
            <% if member.leaf_representative_id %>
              <%= link_to member do %>
                <%= thumb_image_tag(member.leaf_representative, size: :mini, image_missing_text: true) %>
              <% end %>
            <% end %>
            <% if work.representative_id == member.id %>
              <br><span class="text-info">representative</span>
            <% end %>
          </td>

          <td><%= member.friendlier_id %></td>

          <td>
            <%= member.class.name %>
            <ul class="list-unstyled">
              <% if member.kind_of?(Kithe::Asset) %>
                <li ><small><%= member.content_type %></small></li>
                <li><small><%= number_to_human_size(member.size) %></small></li>
              <% end %>
            </ul>
          </td>

          </td>
          <td>
            <%= link_to member.title, [:admin, member] %>
          </td>
          <td class="datestamp"><%= l member.created_at.to_date, format: :admin  %></td>
          <td class="datestamp"><%= l member.updated_at.to_date, format: :admin %></td>
          <td>
            <div class="dropdown dropdown-menu-right">
              <a href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
              <% if member.kind_of?(Work) %>
                <%= admin_dropdown_for_work(member, labelled_by_id: "dropdownMenuButton") %>
              <% elsif member.kind_of?(Asset) %>
                  <%= admin_dropdown_for_asset(member, labelled_by_id: "dropdownMenuButton") %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
