<h3>Summary</h3>
<div class="m-3">
  <% if @work.ocr_requested %>
    OCR has been requested for this work.
  <% else %>
    OCR has not been requested.
  <% end %>
</div>  
<div class="m-3">
  Currently,
  <%= @work.members.count {|m| m.hocr.present?} %>
  out of 
  <%= @work.members.count %> assets (ignoring any child works)
  have OCR associated with them.
</div>

<h3>OCR table</h3>
<table class="table admin-list member-list">
  <thead>
    <tr>
      <th class="thumbnail">Thumbnail</th>
      <th class="type">Type</th>
      <th class="id">Title</th>
      <th class="title">OCR</th>
    </tr>
  </thead>

  <tbody>
    <% work.members.order(:position).includes(:leaf_representative).each do |member| %>
      <tr>
        <td>
          <% if member.leaf_representative_id %>
            <%= link_to member do %>
              <%= thumb_image_tag(member.leaf_representative, size: :mini, image_missing_text: true) %>
            <% end %>
          <% end %>
          <% if work.representative_id == member.id %>
            <br><span class="text-info">representative</span>
          <% end %>
        </td>
        <td>
          <%= member.class.name %>
        </td>
        <td>
          <%= link_to member.title, [:admin, member] %>
          <% if member.role.present? %>
            <span class="badge badge-info"><%= member.role.humanize.downcase %></span>
          <% end %>
        </td>
        <td>
          <% if member.asset? %>
            <% if member.hocr.present?%>
              <span class="admin-ocr-display">
                <%= HocrHelper.html_body_without_ids(member.hocr)%>
              </span>
            <% else %>
              <code>No OCR for this asset.</code>
            <% end %>
          <% end %>
          <% if member.work? %>n/a<% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
