<h3>Summary</h3>
<div class="m-3">
    OCR has <% unless @work.ocr_requested %> not <%end%> been requested for this work.
</div>  
<div class="m-3">
  <%= @work.members.count {|m| m.asset? && m.hocr.present?} %>
  out of 
  <%= @work.members.count  {|m| m.asset? } %> assets
  currently have OCR.
</div>

<h3>OCR table</h3>
<table class="table admin-list member-list">
  <thead>
    <tr>
      <th class="thumbnail">Thumbnail</th>
      <th class="type">Type</th>
      <th class="id">Title</th>
      <th class="title">OCR</th>
    </tr>
  </thead>

  <tbody>
    <% work.members.order(:position).includes(:leaf_representative).each do |member| %>
      <tr>
        <td>
          <% if member.leaf_representative_id %>
            <%= link_to member do %>
              <%= thumb_image_tag(member.leaf_representative, size: :mini, image_missing_text: true) %>
            <% end %>
          <% end %>
          <% if work.representative_id == member.id %>
            <br><span class="text-info">representative</span>
          <% end %>
        </td>
        <td>
          <%= member.class.name %>
        </td>
        <td>
          <%= link_to member.title, [:admin, member] %>
          <% if member.role.present? %>
            <span class="badge badge-info"><%= member.role.humanize.downcase %></span>
          <% end %>
        </td>
        <td>
          <% if member.asset? %>
            <% if member.hocr.present?%>
              <a class="btn btn-primary" data-toggle="collapse" href="#ocrCollapse<%= member.id %>" role="button" aria-expanded="false" aria-controls="ocrCollapse<%= member.id %>">
                OCR
              </a>
            <% else %>
              <p>No OCR for this asset.</p>
            <% end %>
          <% end %>
          <% if member.work? %><p>Child work.</p><% end %>
        </td>
      </tr>

      <% if member.asset? && member.hocr.present?%>
        <tr class="collapse" id="ocrCollapse<%= member.id %>">
          <td colspan="4" style="border-top: none;">
            <small>
              <span class="text-monospace text-muted admin-ocr-display">
                <%= HocrComponent.new(member.hocr).html_body_without_ids %>
              </span>
            </small>
          </td>
        </tr>
      <% end %>

    <% end %>
  </tbody>
</table>
