<div class="card bg-light mb-3">
  <h2 class="card-header h3">Searchable transcript text
  </h2>
  <div class="card-body">
    <% if flash[:searchable_transcript_source_error].present? %>
      <p class="alert alert-danger">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        <%= flash[:searchable_transcript_source_error] %>
      </p>
    <% end %>


    <div class="text-muted small mb-2">This is the transcript we use for searchable transcripts, as long as there is <strong>no</strong> OHMS XML transcript available.<br/>If there is an OHMS XML transcript, this file will <strong>not</strong> be used.
    </div>


    <dl class="row">
        <dt class="col-sm-6">present?</dt><dd class="col-sm-6">
          <% if @work.oral_history_content!&.searchable_transcript_source.present? %>
            <span class="text-success font-weight-bold">YES</span>
          <% else %>
            <span class="text-danger font-weight-bold">NO</span>
          <% end %>
        </dd>
        <% if @work.oral_history_content!&.searchable_transcript_source.present? %>
          <dt class="col-sm-6">size</dt><dd class="col-sm-6"><%= ScihistDigicoll::Util.simple_bytes_to_human_string(@work.oral_history_content!&.searchable_transcript_source.bytesize)%></dd>
        <% end %>
    </dl>


    <% if @work.oral_history_content!&.searchable_transcript_source.present? %>
      <div class="row">
        <div class="col-sm">
          <h3 class="h6">Preview</h3>
          <textarea readonly class="w-100" style="height: 10em">
              <%= work.oral_history_content.searchable_transcript_source %>
          </textarea>
        </div>
      </div>

      <hr/>
      <div class="row">
        <div class="col-sm">
          <%= link_to "Download searchable transcript text", download_searchable_transcript_source_admin_work_path(@work),  class: "btn btn-primary" %>
        </div>
        <div class="col-sm">
          <%= link_to "Remove searchable transcript text",
            remove_searchable_transcript_source_admin_work_path(@work),
            method: "put",
            class: "btn btn-primary btn-danger #{'disabled' unless can?(:update, @work)}",
            data: { confirm: "Are you sure you want to remove the full text?" } %>
        </div>
      </div>
    <% end %>
    <hr/>

    <h3 class="h4">Upload new searchable transcript text</h3>

    <%= form_with(url: submit_searchable_transcript_source_admin_work_path(@work), local: true, multipart: true, method: :put) do %>
      <%= file_field_tag 'searchable_transcript_source', accept: "text/plain", disabled: !can?(:update, @work) %>
      <div class="small text-muted my-2">Use a plain text file with a <code>.txt</code> extension.</div>
      <%= submit_tag "Upload", class: "btn btn-primary", disabled: !can?(:update, @work) %>
    <% end %>
  </div>
</div>
