<div class="card bg-light mb-3">
  <h2 class="card-header h3">Interviewee biography <%= link_to "Edit", oh_biography_form_admin_work_path(@work), class: "btn btn-primary" %></h2>
  <div class="card-body">
    <div class="row">
      <div class="col-sm">
        Dates
      </div>
      <div class="col-sm">
        <% if work.oral_history_content.interviewee_birth.present? %>
          Born: <%= work.oral_history_content.interviewee_birth %>
        <% end %>
        <% if work.oral_history_content.interviewee_death.present? %><br/>
          Died: <%= work.oral_history_content.interviewee_death%>
        <% end %>
      </div>
    </div>
    <% if work&.oral_history_content&.interviewee_school.present? %>
      <hr/>
      <div class="row">
        <div class="col-sm">
          Education
        </div>
        <div class="col-sm">
          <% work.oral_history_content.interviewee_school.sort_by { |hsh| hsh&.date }.compact.each do |school| %>
            <%= school.date %><% if school.date.present?%>:<% end %>
            <%= [school.degree, school.discipline, school.institution].join(', ') %><br/>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if work&.oral_history_content&.interviewee_job.present? %>
      <hr/>
      <div class="row">
        <div class="col-sm">
          Career
        </div>
        <div class="col-sm">
          <% work.oral_history_content.interviewee_job.sort_by { |hsh| hsh&.start }.compact.each do |job| %>
            <%= job.start %> &ndash; <%= job.end %><% if job.start.present? || job.end.present? %>:<% end %>
            <%= [job.role, job.institution].join(', ') %><br/>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if work&.oral_history_content&.interviewee_honor.present? %>
      <hr/>
      <div class="row">
        <div class="col-sm">
          Honors
        </div>
        <div class="col-sm">
          <% work.oral_history_content.interviewee_honor.sort_by { |hsh| hsh&.date }.compact.each do |honor| %>
            <%= honor.date %><% if honor.date.present? %>:<%end%> <%= honor.honor %><br/>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>