<%= link_to "Edit Biographies", oh_biography_form_admin_work_path(@work), class: "btn btn-primary mb-2" %>
<div class="card bg-light mb-3">
  <h2 class="card-header h3">Interviewee bio</h2>
  <div class="card-body">
    <div class="row">
      <div class="col-sm">
        Dates
      </div>
      <div class="col-sm">
        <%= work.oral_history_content.interviewee_birth %>
        <% if work.oral_history_content.interviewee_death.present? %>
          &ndash;
          <%= work.oral_history_content.interviewee_death%>
        <% end %>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-sm">
        Education
      </div>
      <div class="col-sm">
        <% work.oral_history_content.interviewee_schools_sorted.each do |school| %>
          <%= school&.to_h['date'] %>:
          <%= school&.to_h['degree'] %>,
          <%= school&.to_h['discipline'] %>,
          <%= school&.to_h['institution'] %><br/>
        <% end %>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-sm">
        Career
      </div>
      <div class="col-sm">
        <% work.oral_history_content.interviewee_jobs_sorted.each do |job| %>
          <%= job.to_h['start'] %> &ndash; <%= job.to_h['end'] %>:
          <%= job.to_h['role'] %>, <%= job.to_h['institution'] %><br/>
        <% end %>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-sm">
        Awards
      </div>
      <div class="col-sm">
        <% work.oral_history_content.interviewee_awards_sorted.each do |award| %>
          <%= award.to_h['date'] %>:
          <%= award.to_h['honor'] %><br/>
        <% end %>
      </div>
    </div>
  </div>
</div>