<div class="card bg-light mb-3">
  <h2 class="card-header h3">Assets Available By Request</h2>
  <div class="card-body">
    <div class="alert alert-warning mb-2">
      <i class="fa fa-warning"></i> This feature is under construction and not yet functional.
    </div>

    <div class="text-muted text-small mb-2">
      Oral history assets that are not <code>published</code> but are available by request, after the potential patron fills out a form. At the moment, only <code>Free access, without internet release</code> level of access is supported, with assets delivered automatically without human intervention after the form is filled out.
    </div>

    <% if view.private_asset_members.present? %>
      <%= form_with(model: view.work.oral_history_content!, url: update_oh_available_by_request_admin_work_path(view.work), method: :put, local: true) do |f|  %>

        <div class="form-group row mb-2">
          <label for="oral_history_content_available_by_request_mode" class="col-sm-2 col-form-label">Available by request</label>
          <div class="col-sm-10">
            <%= f.select :available_by_request_mode,
                    OralHistoryContent.available_by_request_modes.except(:manual_review).collect {|k, v| [k.humanize, v]},
                    {},
                    class: "custom-select" %>
          </div>
        </div>

        <table class="table">
          <% view.private_asset_members.each do |asset| %>
            <tr>
              <td>
                <%= hidden_field_tag "available_by_request[#{asset.id}]", false %>
                <%= check_box_tag "available_by_request[#{asset.id}]", true, asset.oh_available_by_request,
                  id: "available_by_request_#{asset.friendlier_id}",
                  title: "#{asset.title} is available by request" %>
              </td>
              <td>
                <label for="<%= "available_by_request_#{asset.friendlier_id}" %>" class="w-100">
                  <%= asset.title %>
                </label>
              </td>
              <td><%= asset.friendlier_id %></td>
              <td><%= ScihistDigicoll::Util.humanized_content_type(asset.content_type) %></td>
            </tr>
          <% end %>
        </table>

        <%= submit_tag "Update", class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <hr>
      <p>There are no unpublished assets.</p>
    <% end %>
  </div>
</div>
