<%# all the work form fields EXCEPT title and representative_id.
    So we can re-use them in batch create.

    Must pass in local `f` with kithe form builder
%>

    <%=  f.repeatable_attr_input :additional_title, build: :at_least_one  %>

    <%= f.repeatable_attr_input(:external_id, build: :at_least_one) do |sub_form| %>
      <%= category_and_value(sub_form, category_list: Work::ExternalId::CATEGORY_VALUES) %>
    <% end %>

    <%= f.repeatable_attr_input(:creator, build: :at_least_one) do |sub_form| %>
      <%= category_and_value(sub_form, category_list: Work::Creator::CATEGORY_VALUES) %>
    <% end %>

    <%= f.repeatable_attr_input(:date_of_work, build: :at_least_one) do |sub_form| %>
      <%= render "date_of_work", f: sub_form %>
    <% end %>

    <%= f.repeatable_attr_input(:place, build: :at_least_one) do |sub_form| %>
      <%= category_and_value(sub_form, category_list: Work::Place::CATEGORY_VALUES) %>
    <% end %>

    <%= f.input :format,
                collection: (Work::ControlledLists::FORMAT.collect do |v|
                  [Work.human_attribute_name("format.#{v}"), v]
                end),
                as: :check_boxes,
                input_html: { multiple: true, size: Work::ControlledLists::FORMAT.count  },
                include_blank: false %>

    <%= f.repeatable_attr_input :genre, build: :at_least_one do |input_name, value| %>
        <%= f.input_field :genre, selected: value, include_blank: true, id: nil,
          collection: Work::ControlledLists::GENRE,
          name: input_name,
          class: "form-control input-primitive" %>
    <% end %>


    <%= f.repeatable_attr_input :medium, build: :at_least_one %>

    <%= f.repeatable_attr_input :extent, build: :at_least_one %>

    <%= f.repeatable_attr_input :language, build: :at_least_one %>

    <%= f.input :description,       as: :text, input_html: { rows: 14 } %>
    <%= f.input :provenance,        as: :text, input_html: { rows: 5 }  %>
    <%= f.input :provenance_notes,  as: :text, input_html: { rows: 5 }  %>

    <%= f.repeatable_attr_input(:inscription, build: :at_least_one) do |sub_form| %>
      <%= sub_form.input :location, wrapper: :scihist_horizontal_form %>
      <%= sub_form.input :text, wrapper: :scihist_horizontal_form %>
    <% end %>

    <%= f.repeatable_attr_input :subject, build: :at_least_one %>

    <%= f.input :department, collection: Work::ControlledLists::DEPARTMENT  %>

    <%= f.repeatable_attr_input(:exhibition, build: :at_least_one) do |input_name, value| %>
      <%= f.input_field :exhibition,
            name: input_name,
            id: nil,
            selected: value,
            collection: Work::ControlledLists::EXHIBITION,
            include_blank: true,
            class: "form-control input-primitive" %>
    <% end %>

    <%= f.repeatable_attr_input(:project, build: :at_least_one) do |input_name, value| %>
      <%= f.input_field :project,
            name: input_name,
            id: nil,
            selected: value,
            collection: Work::ControlledLists::PROJECT,
            include_blank: true,
            class: "form-control input-primitive" %>
    <% end %>

    <%= f.input :source %>

    <%= f.repeatable_attr_input :series_arrangement, build: :at_least_one %>

    <%# single, not array, so we need some slightly weird setup. Including we need at least one to exist:  %>
    <% f.object.build_physical_container unless f.object.physical_container.present? %>
    <%= f.input :physical_container, wrapper: :vertical_form do |sub_form| %>
      <% f.fields_for :physical_container do |sub_form| %>
        <%= render "physical_container", f: sub_form %>
      <% end %>
    <% end %>

    <%= f.repeatable_attr_input :related_url, build: :at_least_one %>

    <%= f.input :rights, collection: RightsTerms.collection_for_select %>

    <%= f.input :rights_holder %>

    <%= f.repeatable_attr_input :additional_credit, build: :at_least_one do |sub_form| %>
      <div class="form-row">
        <div class="col-left">
          <%= sub_form.input :role, label: false,
            collection: Work::AdditionalCredit::ROLES,
            label_method: proc { |id| Work::AdditionalCredit.human_attribute_name("role.#{id}") }
           %>
        </div>
        <div class="col-sm">
          <%= sub_form.input :name, label: false, collection: Work::AdditionalCredit::NAMES %>
        </div>
      </div>
    <% end %>

    <%= f.input :file_creator, collection: Work::ControlledLists::FILE_CREATOR %>

    <%= f.input :admin_note, as: :text, input_html: { rows: 5 } %>

    <%= f.association :contained_by, collection: Collection.all.to_a.sort_by { |c| c.title.downcase } %>
