<h1>Works</h1>

<p>
  <%= link_to 'Create new work', new_admin_work_path, class: "btn btn-primary" %>
  <%= link_to 'Batch create works', admin_batch_create_path, class: "btn btn-outline-primary" %>
</p>

<%# this is ransack %>
<%= search_form_for [:admin, @q]  do |f| %>
  <div class="row">
    <div class="input-group col-sm-10 mb-3">
      <div class="input-group-prepend">
        <%= f.label :title_or_friendlier_id_cont, "In Title or ID", class: "input-group-text" %>
      </div>
      <%= f.search_field :title_or_friendlier_id_cont, class: "form-control" %>
      <div class="input-group-append">
        <%= f.button "Search", class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class="admin-filters">
    <div class="admin-filter">
      <label for="q_published">Published</label>
      <%= select_tag "q[published_eq]",
            options_for_select({"Yes" => true, "No" => false}, params[:q][:published_eq]),
            include_blank: "Any",
            class: "custom-select" %>
    </div>

    <div class="admin-filter">
      <label for="q_genre">Genre</label>
      <%= select_tag "q[genre]",
            options_for_select(Work::ControlledLists::GENRE, params[:q][:genre]),
            include_blank: "Any",
            class: "custom-select" %>
    </div>


    <div class="admin-filter">
        <label for="q_format">Format</label>
        <%= select_tag "q[format]",
              options_for_select(Work::ControlledLists::FORMAT.collect {|t| [t.titleize, t]}, params[:q][:format]),
              include_blank: "Any",
              class: "custom-select" %>
    </div>

    <div class="admin-filter">
        <label for="q_department">Department</label>
        <%= select_tag "q[department]",
              options_for_select(Work::ControlledLists::DEPARTMENT, params[:q][:department]),
              include_blank: "Any",
              class: "custom-select" %>
    </div>

    <div class="admin-filter">
      <label for="q_parent_id_null">Child Works In Results</label>
      <%= select_tag "q[parent_id_null]",
            options_for_select({"Yes" => "", "No" => true}, params[:q][:parent_id_null]),
            class: "custom-select"
      %>
    </div>
  </div>
<% end %>


<% if @works.total_count > 0 %>
  <p>
    <%= @works.offset_value + 1 %> - <%= @works.offset_value + @works.count %> of <%= @works.total_count %>
  </p>
<% end %>

<table class="table admin-list">
  <thead>
    <tr>
      <th class="thumbnail">thumbnail</th>
      <th class="id"><%= sort_link(@q, :id, "ID", page: nil) %></th>
      <th class="title"><%= sort_link(@q, :title, page: nil) %></th>
      <th class="datestamp"><%= sort_link(@q, :created_at, "Created", page: nil) %></th>
      <th class="datestamp"><%= sort_link(@q, :updated_at, "Last Modified", page: nil) %></th>
      <th class="action"></th>
      <th>Cart</th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= thumb_image_tag(work.leaf_representative, size: :mini, image_missing_text: true) %></td>
        <td><%= work.friendlier_id %></td>
        <td><%= link_to work.title, admin_work_path(work) %> <%= publication_badge(work) %></td>
        <td class="datestamp"><%= l work.created_at.to_date, format: :admin  %></td>
        <td class="datestamp"><%= l work.updated_at.to_date, format: :admin %></td>
        <td>
          <div class="dropdown">
            <a href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
            <%= admin_dropdown_for_work(work, labelled_by_id: "dropdownMenuButton") %>
          </div>
        </td>
        <td><%= CartControl.new(work.friendlier_id, cart_presence: @cart_presence, label_sr_only: true).display %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @works, theme: 'twitter-bootstrap-4' %>
