<h1>Interviewee biography</h1>
<h5> for <%= @work.title %></h5>
<div class="ml-2">
  <%= kithe_form_for(@work.oral_history_content,
    url: submit_oh_biography_admin_work_path(@work),
    html: { novalidate: true, method: :put},
    class: 'edit-work mx-auto admin-edit') do |f| %>
    <h4>Birth</h4>
    <%= f.simple_fields_for :interviewee_birth do |birth_form| %>
      <div class="row ml-2">
        <div class="col-sm">
          <%= birth_form.input :date,
            input_html: {:value => @work.oral_history_content!.interviewee_birth&.date },
            required: true,
            error: @birth_date_errors, wrapper: :scihist_horizontal_form %>
        </div>
        <div class="col-sm">
          <%= birth_form.input :city,
            input_html: {:value => @work.oral_history_content!.interviewee_birth&.city },
            required: false,
            wrapper: :scihist_horizontal_form  %>
        </div>
      </div>
      <div class="row ml-2">
        <div class="col-sm">
          <%= birth_form.input :province,
            input_html: {:value => @work.oral_history_content!.interviewee_birth&.province },
            required: false,
            wrapper: :scihist_horizontal_form %>
        </div>
        <div class="col-sm">
          <%= birth_form.input :state,
            input_html: {:value => @work.oral_history_content!.interviewee_birth&.state },
            required: false,
            wrapper: :scihist_horizontal_form %>
        </div>

        <div class="col-sm">
          <%= birth_form.input :country,
            priority: ["US","CA"],
            selected: @work.oral_history_content!.interviewee_birth&.country,
            required: false,
            include_blank: "(Leave country blank)",
            wrapper: :scihist_horizontal_form
          %>
        </div>
      </div>
    <% end %>
    <h4>Death</h4>
    <%= f.simple_fields_for :interviewee_death do |death_form| %>
      <div class="row ml-2">
        <div class="col-sm">
          <%= death_form.input :date,
            input_html: {:value => @work.oral_history_content!.interviewee_death&.date },
            required: true, error: @death_date_errors,
            wrapper: :scihist_horizontal_form %>
        </div>
        <div class="col-sm">
          <%= death_form.input :city,
            input_html: {:value => @work.oral_history_content!.interviewee_death&.city },
            required: false,
            wrapper: :scihist_horizontal_form %>
        </div>
      </div>
      <div class="row ml-2">
        <div class="col-sm">
          <%= death_form.input :province,
            input_html: {:value => @work.oral_history_content!.interviewee_death&.province },
            required: false,
            wrapper: :scihist_horizontal_form %>
        </div>
        <div class="col-sm">
          <%= death_form.input :state, input_html: {:value => @work.oral_history_content!.interviewee_death&.state }, required: false, wrapper: :scihist_horizontal_form %>
        </div>
        <div class="col-sm">
          <%= death_form.input :country, priority: ["US","CA"],
            selected: @work.oral_history_content!.interviewee_death&.country,
            include_blank: "(Leave country blank)",
            required: false,
            wrapper: :scihist_horizontal_form %>
         </div>
      </div>
    <% end %>
    <h4>Education</h4>
    <%= f.repeatable_attr_input(:interviewee_school, simple_form_input_args: { :label => "" }, build: :at_least_one) do |sub_form| %>
      <div class="row ml-2">
        <div class="col-sm">
          <%= sub_form.input :date, wrapper: :scihist_horizontal_form %>
        </div>
        <div class="col-sm">
          <%= sub_form.input :institution,  input_html: { data: { "scihist-qa-autocomplete" => qa_search_vocab_path("assign_fast", "corporate")}}, wrapper: :scihist_horizontal_form %>
        </div>
      </div>
      <div class="row ml-2">
        <div class="col-sm">
          <%= sub_form.input :degree, wrapper: :scihist_horizontal_form %>
        </div>
        <div class="col-sm">
         <%= sub_form.input :discipline, wrapper: :scihist_horizontal_form %>
        </div>
      </div>
      <hr/>
    <% end %>
    <h4>Career</h4>
    <%= f.repeatable_attr_input(:interviewee_job, simple_form_input_args: { :label => "" }, build: :at_least_one) do |sub_form| %>
      <div class="row ml-2">
        <div class="col-sm">
          <%= sub_form.input :start, wrapper: :scihist_horizontal_form%>
        </div>
        <div class="col-sm">
          <%= sub_form.input :end, wrapper: :scihist_horizontal_form %>
        </div>
      </div>
      <div class="row ml-2">
        <div class="col-sm">
          <%= sub_form.input :institution,  input_html: { data: { "scihist-qa-autocomplete" => qa_search_vocab_path("assign_fast", "corporate")} }, wrapper: :scihist_horizontal_form %>
        </div>
        <div class="col-sm">
          <%= sub_form.input :role, wrapper: :scihist_horizontal_form %>
        </div>
      </div>
      <hr/>
    <% end %>
    <h4>Honors and awards</h4>
    <%= f.repeatable_attr_input(:interviewee_honor, simple_form_input_args: { :label => "" }, build: :at_least_one) do |sub_form| %>
      <div class="row ml-2">
        <div class="col-sm">
          <%= sub_form.input :date, wrapper: :scihist_horizontal_form %>
        </div>
        <div class="col">
          <%= sub_form.input :honor, wrapper: :scihist_horizontal_form %>
        </div>
      </div>
      <hr/>
    <% end %>
    <%= submit_tag "Save", class: "btn btn-primary" %>
  <% end %>
</div>

