<%= kithe_form_for(@work.oral_history_content,
  url: submit_oh_biography_admin_work_path(@work),
  html: { novalidate: true, method: :put},
  class: 'edit-work mx-auto admin-edit') do |f| %>
  <div class="admin-header sticky-top d-flex justify-content-between p-2 mb-4 mt-1 bg-light border">
    <% if @work.leaf_representative.present? %>
      <div class="mr-2">
        <%= thumb_image_tag(@work.leaf_representative, size: :mini, image_missing_text: true) %>
      </div>
    <% end %>
    <div class="mr-2">
      <h1 class="h5">
        <i>Interviewee biography</i> for <%= truncate(@work.title, length: 80) %> <i>(<%= @work.friendlier_id %>)</i>
      </h1>
    </div>
    <div class="form-actions">
      <%= link_to 'Cancel', admin_work_path(@work, :anchor => "nav-oral-histories"), class: "btn btn-outline-primary my-1" %>
      <%= submit_tag "Save", class: "btn btn-primary my-1" %>
    </div>
  </div>
  <div class="ml-2">
    <h4>Birth</h4>
    <div class="border p-3 mb-3">
      <%= f.simple_fields_for :interviewee_birth do |birth_form| %>
        <div class="row ml-2">
          <div class="col-sm">
            <%= birth_form.input :date,
              hint: 'YYYY-MM-DD or YYYY-MM or YYYY',
              wrapper: :scihist_horizontal_form %>
          </div>
          <div class="col-sm">
            <%= birth_form.input :city,
              required: false,
              wrapper: :scihist_horizontal_form  %>
          </div>
        </div>
        <div class="row ml-2">
          <div class="col-sm">
            <%= birth_form.input :state,
              collection: ISO3166::Country.new('US').subdivisions.
                map { |p| [ p[1].translations['en'], p[0] ] },
                hint: 'Leave blank unless USA',
              wrapper: :scihist_horizontal_form %>
          </div>
          <div class="col-sm">
            <%= birth_form.input :province,
              collection: ISO3166::Country.new('CA').subdivisions.
                map  { |p| [ p[1].translations['en'], p[0] ] },
                hint: 'Leave blank unless Canada',
              required: false,
              wrapper: :scihist_horizontal_form %>
          </div>
          <div class="col-sm">
            <%= birth_form.input :country,
              priority: ["US","CA"],
              required: false,
              include_blank: "(Leave country blank)",
              wrapper: :scihist_horizontal_form
            %>
          </div>
        </div>
      <% end %>
    </div>
    <h4>Death</h4>
      <div class="border p-3 mb-3">
        <%= f.simple_fields_for :interviewee_death do |death_form| %>
          <div class="row ml-2">
            <div class="col-sm">
              <%= death_form.input :date,
                hint: 'YYYY-MM-DD or YYYY-MM or YYYY',
                wrapper: :scihist_horizontal_form %>
            </div>
            <div class="col-sm">
              <%= death_form.input :city,
                required: false,
                wrapper: :scihist_horizontal_form  %>
            </div>
          </div>
          <div class="row ml-2">
            <div class="col-sm">
              <%= death_form.input :state,
                collection: ISO3166::Country.new('US').subdivisions.
                  map  { |p| [ p[1].translations['en'], p[0] ] },
                required: false,
                hint: 'Leave blank unless USA',
                wrapper: :scihist_horizontal_form %>
            </div>
            <div class="col-sm">
              <%= death_form.input :province,
                collection: ISO3166::Country.new('CA').subdivisions.
                  map  { |p| [ p[1].translations['en'], p[0] ] },
                required: false,
                hint: 'Leave blank unless Canada',
                wrapper: :scihist_horizontal_form %>
            </div>

            <div class="col-sm">
              <%= death_form.input :country, priority: ["US","CA"],
                include_blank: "(Leave country blank)",
                required: false,
                wrapper: :scihist_horizontal_form %>
             </div>
          </div>
        <% end %>
      </div>
    <h4>Education</h4>
    <%= f.repeatable_attr_input(:interviewee_school, simple_form_input_args: { :label => "" }, build: :at_least_one) do |sub_form| %>
      <div class="border p-3 mb-3">
        <div class="row ml-2">
          <div class="col-sm">
            <%= sub_form.input :date,
              hint: 'YYYY-MM-DD or YYYY-MM or YYYY',
              wrapper: :scihist_horizontal_form %>
          </div>
          <div class="col-sm">
            <%= sub_form.input :institution,  input_html: { data: { "scihist-qa-autocomplete" => qa_search_vocab_path("assign_fast", "corporate")}}, wrapper: :scihist_horizontal_form %>
          </div>
        </div>
        <div class="row ml-2">
          <div class="col-sm">
            <%= sub_form.input :degree, wrapper: :scihist_horizontal_form %>
          </div>
          <div class="col-sm">
           <%= sub_form.input :discipline, wrapper: :scihist_horizontal_form %>
          </div>
        </div>
      </div>
    <% end %>
    <h4>Career</h4>
    <%= f.repeatable_attr_input(:interviewee_job, simple_form_input_args: { :label => "" }, build: :at_least_one) do |sub_form| %>
      <div class="border p-3 mb-3">
        <div class="row ml-2">
          <div class="col-sm">
            <%= sub_form.input :start, wrapper: :scihist_horizontal_form,
              hint: 'YYYY-MM-DD or YYYY-MM or YYYY'%>
          </div>
          <div class="col-sm">
            <%= sub_form.input :end, wrapper: :scihist_horizontal_form,
              hint: 'YYYY-MM-DD or YYYY-MM or YYYY'%>
          </div>
        </div>
        <div class="row ml-2">
          <div class="col-sm">
            <%= sub_form.input :institution,  input_html: { data: { "scihist-qa-autocomplete" => qa_search_vocab_path("assign_fast", "corporate")} }, wrapper: :scihist_horizontal_form %>
          </div>
          <div class="col-sm">
            <%= sub_form.input :role, wrapper: :scihist_horizontal_form %>
          </div>
        </div>
      </div>
    <% end %>
    <h4>Honors and awards</h4>
    <%= f.repeatable_attr_input(:interviewee_honor, simple_form_input_args: { :label => "" }, build: :at_least_one) do |sub_form| %>
      <div class="border p-3 mb-3">
        <div class="row ml-2">
          <div class="col-sm">
            <%= sub_form.input :date,
              hint: 'YYYY-MM-DD or YYYY-MM or YYYY',
              wrapper: :scihist_horizontal_form %>
          </div>
          <div class="col">
            <%= sub_form.input :honor, wrapper: :scihist_horizontal_form %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
