<%= simple_form_for(@work.oral_history_content, url: submit_oh_bio_admin_work_path(@work), :html=> { novalidate: true, method: :put}) do |f| %>
  <div class="form-inputs">
    <h3>Birth</h3>

    <% if @work.oral_history_content.errors.attribute_names.include?(:interviewee_birth) %>
      <div class="alert alert-danger mr-2">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        <% @work.oral_history_content.interviewee_birth.errors.errors.each do |err| %>
          <%= err.type %><br/>
        <% end %>
      </div>
    <% end %>

    <%= f.simple_fields_for :interviewee_birth do |birth_form| %>
      <%= birth_form.input :date, input_html: {:value => @work.oral_history_content!.interviewee_birth.date } %>
      <%= birth_form.input :city, input_html: {:value => @work.oral_history_content!.interviewee_birth.city } %>
      <%= birth_form.input :province, input_html: {:value => @work.oral_history_content!.interviewee_birth.province } %>
      <%= birth_form.input :state, input_html: {:value => @work.oral_history_content!.interviewee_birth.state } %>
      <%# see https://github.com/heartcombo/simple_form/issues/54 for country dropdown notes %>
      <%= birth_form.input :country, input_html: {:value => @work.oral_history_content!.interviewee_birth.country },  :as => :text %>
    <% end %>

    <h3>Death</h3>
    <% if @work.oral_history_content.errors.attribute_names.include?(:interviewee_death) %>
      <div class="alert alert-danger mr-2">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        <% @work.oral_history_content.interviewee_death.errors.errors.each do |err| %>
          <%= err.type %><br/>
        <% end %>
      </div>
    <% end %>
    <%= f.simple_fields_for :interviewee_death do |death_form| %>
      <%= death_form.input :date, input_html: {:value => @work.oral_history_content!.interviewee_death&.date } %>
      <%= death_form.input :city, input_html: {:value => @work.oral_history_content!.interviewee_death&.city } %>
      <%= death_form.input :province, input_html: {:value => @work.oral_history_content!.interviewee_death&.province } %>
      <%= death_form.input :state, input_html: {:value => @work.oral_history_content!.interviewee_death&.state } %>
      <%= death_form.input :country, input_html: {:value => @work.oral_history_content!.interviewee_death&.country },  :as => :text %>
    <% end %>
    <%= submit_tag "Save", class: "btn btn-primary" %>
<% end %>

