  <div class="d-flex justify-content-between">

    <div>
      <div class="d-flex align-items-start mt-1">
        <% if @work.representative_id.present? %>
          <%= thumb_image_tag(@work.leaf_representative, size: :mini, image_missing_text: true, class: "mr-2") %>
        <% end %>
        <div>
          <div>Managing a Work</div>
          <h1><%= @work.title %> <%= publication_badge(@work) %>   <%= link_to "Public view", work_path(@work), class: "btn btn-sm btn-outline-primary" %></h1>
          <% if @work.parent.present? %>
            <p class="h4">Member in: <%= link_to "#{@work.parent.title} (#{@work.parent.friendlier_id})", admin_work_path(@work.parent) %></p>
          <% end %>
          <div>
            <%= CartControl.new(@work.friendlier_id, cart_presence: @cart_presence).display %>
          </div>
        </div>
      </div>
    </div>



    <div class="d-flex">
      <% if can? :publish, @work %>
        <div>
          <% if @work.published? %>
            <%= link_to "UN-Publish", unpublish_admin_work_path, method: "put", class: "btn btn-outline-danger" %>
          <% else %>
            <%= link_to "Publish", publish_admin_work_path, method: "put", class: "btn btn-danger" %>
          <% end %>
        </div>
      <% end %>

      <% if can? :destroy, @work %>
        <div>
          <div class="alert alert-secondary mx-1">
            <h2 class="h4 alert-heading">
              <a data-toggle="collapse" href="#deleteBtn1" role="button" aria-expanded="false" aria-controls="deleteBtn1">
                Delete
              </a>
            </h2>
            <div class="collapse" id="deleteBtn1">
                <%= link_to('Delete', [:admin, @work], method: :delete,
                     data: { confirm: "Delete Work '#{@work.title}'?" }, class: "btn btn-danger" )%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>


<nav class="mb-2">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-metadata-tab" data-toggle="tab" href="#nav-metadata" role="tab" aria-controls="nav-home" aria-selected="true">Metadata</a>
    <a class="nav-item nav-link" id="nav-members-tab" data-toggle="tab" href="#nav-members" role="tab" aria-controls="nav-profile" aria-selected="false">Members</a>

    <% if @work.genre && @work.genre.include?('Oral histories') %>
      <a class="nav-item nav-link" id="nav-oral-histories-tab" data-toggle="tab" href="#nav-oral-histories" role="tab" aria-controls="nav-profile" aria-selected="false">Oral History</a>
    <% end %>

  </div>
</nav>

<div class="tab-content">
  <div class="tab-pane show active" id="nav-metadata" role="tabpanel" aria-labelledby="nav-metadata-tab">

        <p>
          <%= link_to "Edit Metadata", edit_admin_work_path(@work), class: "btn btn-primary" %>
          <% if Admin::WorksController.can_demote_to_asset?(@work) %>
            <%= link_to "Demote to Asset",
                  demote_to_asset_admin_work_path(@work),
                  method: "put",
                  class: "btn btn-outline-primary",
                  data: { confirm: "All work metadata on #{@work.title} will be lost, this is not reversible. Are you sure?" } %>
          <% end %>
        </p>

        <%= render "metadata", work: @work %>

  </div>
  <div class="tab-pane" id="nav-members" role="tabpanel" aria-labelledby="nav-members-tab">
    <div class="admin-work-toolbar d-flex flex-wrap">
      <div class="alert alert-secondary mx-1">
        <h2 class="h4 alert-heading">Add New Members</h2>
        From:
        <%= link_to "Files", admin_asset_ingest_path(@work), class: "btn btn-primary" %>
        <%= link_to "New Child Work", new_admin_work_path(parent_id: @work), class: "btn btn-primary" %>
      </div>

      <div class="alert alert-secondary mx-1">
        <h2 class="h4 alert-heading">Re-order Members</h2>
        <%= link_to "Manual", reorder_members_admin_work_path(@work), class: "btn btn-primary" %>
        <%= link_to "Alphabetical", reorder_members_admin_work_path(@work), method: "put", class: "btn btn-primary", data: { confirm: "Re-ordering members alphabetically by title can't be undone" } %>
      </div>
    </div>

    <p><%= @work.members.count  %> members</p>

    <%= render "member_list_table", work: @work %>
  </div>

  <% if @work.genre && @work.genre.include?('Oral histories') %>
    <div class="tab-pane" id="nav-oral-histories" role="tabpanel" aria-labelledby="nav-oral-histories-tab">
      <div class="card bg-light mb-3">
        <h2 class="card-header h3">Combined Audio Derivative Files</h2>
        <div class="card-body">
          <% if work_audio_members.count == 0 %>
            This oral history doesn't have any audio files associated with it.
          <% else %>
            <% if combined_audio_fingerprint.present? %>
              <% if CombinedAudioDerivativeCreator.new(@work).fingerprint != combined_audio_fingerprint %>
                <p>
                  Combined audio derivatives exist for this oral history, but they are not up to date.
                </p>
                <p>
                  <%= link_to "Regenerate combined audio derivatives", create_combined_audio_derivatives_admin_work_path(@work), method: "put", class: "btn btn-primary" %>
                </p>
              <% else %>
                <p>
                  The following combined audio derivatives are up to date:
                </p>
                  <ul>
                    <li>
                      mp3:
                      <% if combined_mp3_audio.present? %>
                        <small class="text-muted">
                          <%= link_to combined_mp3_audio,  combined_mp3_audio %>
                        </small>
                      <% end %>
                    </li>

                    <!--
                    <li>
                      webm:
                        <% if combined_webm_audio.present? %>
                          <small class="text-muted">
                            <%= link_to  combined_webm_audio, combined_webm_audio %>
                          </small>
                        <% end %>
                    </li>
                    -->
                  </ul>
                <p>
                  Use the mp3 link as the OHMS Media URL.
                </p>
                <p>
                  The fingerprint for these URLS is <code><%=@work.oral_history_content!.combined_audio_fingerprint %></code>.
                </p>
              <% end %>
            <% else %>
              <p>
                  This oral history has <%= work_audio_members.count %>  audio segment(s).
              </p>
              <p>
                There are no combined audio derivatives for this oral history yet.
              </p>
              <p>
                <%= link_to "Create combined audio derivatives", create_combined_audio_derivatives_admin_work_path(@work), method: "put", class: "btn btn-primary" %>
              </p>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="card bg-light mb-3">
        <h2 class="card-header h3">OHMS XML attached</h2>
        <div class="card-body">
          <dl class="row">
            <% if @work.oral_history_content!.ohms_xml.present? %>
              <dt class="col-sm-6">attached?</dt><dd class="col-sm-6"><span class="text-success font-weight-bold">YES</span></dd>
              <dt class="col-sm-6">id</dt><dd class="col-sm-6"><%= @work.oral_history_content!.ohms_xml.record_id %></dd>
              <dt class="col-sm-6">dt</dt><dd class="col-sm-6"><%= @work.oral_history_content!.ohms_xml.record_dt %></dd>
              <dt class="col-sm-6">accession</dt><dd class="col-sm-6"><%= @work.oral_history_content!.ohms_xml.accession %></dd>
            <% else %>
              <dt class="col-sm-6">attached?</dt><dd class="col-sm-6"><span class="text-danger font-weight-bold">NO</span></dd>
            <% end %>
          </dl>
          <hr>
          <h3 class="h4">Upload New OHMS XML file</h3>
          <%= form_with(url: submit_ohms_xml_admin_work_path(@work), local: true, multipart: true, method: :put) do %>
            <%= file_field_tag 'ohms_xml', accept: "application/xml" %>
            <%= submit_tag "Upload", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

