<div class="d-flex justify-content-between">

  <div>
    <div class="d-flex align-items-start mt-1">
      <% if @work.representative_id.present? %>
        <%= thumb_image_tag(@work.leaf_representative, size: :mini, image_missing_text: true, class: "me-2") %>
      <% end %>
      <div>
        <div>Managing a Work</div>
        <h1><%= @work.title %> <%= publication_badge(@work) %>   <%= link_to "Public view", work_path(@work), class: "btn btn-sm btn-outline-secondary" %></h1>
        <% if @work.parent.present? %>
          <p class="h4">Member in: <%= link_to "#{@work.parent.title} (#{@work.parent.friendlier_id})", admin_work_path(@work.parent) %></p>
        <% end %>
        <div>
          <%= render CartControlComponent.new(@work.friendlier_id, cart_presence: @cart_presence) if can?(:update, @work)%>
        </div>
      </div>
    </div>
  </div>



  <div class="d-flex">
    <div class="m-2">
      <% if @work.published? %>
        <div class="btn-group" role="group">
          <button id="UnpublishButtonGroup" type="button" class="btn btn-secondary dropdown-toggle #{'disabled' unless can?(:publish, @work)}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Unpublish
          </button>
          <div class="dropdown-menu" aria-labelledby="UnpublishButtonGroup">
            <%= link_to "Also unpublish all members",
              unpublish_admin_work_path(:cascade => "true"),
              method: "put",
              class: "dropdown-item  #{'disabled' unless can?(:publish, @work)}"
            %>
            <%= link_to "Leave members as they are",
              unpublish_admin_work_path(:cascade => "false"),
              method: "put",
              class: "dropdown-item  #{'disabled' unless can?(:publish, @work)}"
            %>
          </div>
        </div>
      <% else %>
        <div class="btn-group" role="group">
          <button id="publishButtonGroup" type="button" class="btn btn-secondary dropdown-toggle #{'disabled' unless can?(:publish, @work)}" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Publish
          </button>
          <div class="dropdown-menu" aria-labelledby="publishButtonGroup">
            <%= link_to "Also publish all members",
              publish_admin_work_path(:cascade => "true"),
              method: "put",
              class: "dropdown-item #{'disabled' unless can?(:publish, @work)}"
            %>
            <%= link_to "Leave members as they are",
              publish_admin_work_path(:cascade => "false"),
              method: "put",
              class: "dropdown-item #{'disabled' unless can?(:publish, @work)}"
            %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="m-2">
      <div class="alert alert-light">
        <h2 class="h4 alert-heading">
          <a data-bs-toggle="collapse" href="#deleteBtn1" role="button" aria-expanded="false" aria-controls="deleteBtn1">
            Delete
          </a>
        </h2>
        <div class="collapse" id="deleteBtn1">
            <%= link_to('Delete', [:admin, @work], method: :delete,
                 data: { confirm: "Delete Work '#{@work.title}'?" }, class: "btn btn-danger #{'disabled' unless can?(:destroy, @work)}" )%>
        </div>
      </div>
    </div>
  </div>
</div>


<nav class="mb-2">
  <div class="nav nav-tabs mt-2" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-metadata-tab" data-bs-toggle="tab" href="#nav-metadata" role="tab" aria-controls="nav-home" aria-selected="true">Metadata</a>
    <a class="nav-item nav-link" id="nav-members-tab" data-bs-toggle="tab" href="#nav-members" role="tab" aria-controls="nav-profile" aria-selected="false">Members</a>

    <% if @work.is_oral_history? %>
      <a class="nav-item nav-link" id="nav-oral-histories-tab" data-bs-toggle="tab" href="#nav-oral-histories" role="tab" aria-controls="nav-profile" aria-selected="false">Oral History</a>
    <% end %>

    <a class="nav-item nav-link" id="nav-ocr-tab" data-bs-toggle="tab" href="#nav-ocr" role="tab" aria-controls="nav-profile" aria-selected="false">
      <% if @work_admin_text_extract_info_component.warnings? %>
        <i class="fa fa-exclamation-triangle" aria-label="(WARNING)"></i>
      <% elsif @work.text_extraction_mode.present? %>
        <i class="fa fa-check-circle" aria-label="(ON)"></i>
      <% else %>
        <i class="fa fa-minus-circle" aria-hidden="(OFF)"></i>
      <% end %>
      <%= @work_admin_text_extract_info_component.heading_label %>
    </a>

  </div>
</nav>

<div class="tab-content">
  <div class="tab-pane show active" id="nav-metadata" role="tabpanel" aria-labelledby="nav-metadata-tab">
    <p>
      <%= link_to "Edit Metadata", edit_admin_work_path(@work), class: "btn btn-primary #{'disabled' unless can?(:update, @work)}" %>
      <% if Admin::WorksController.can_demote_to_asset?(@work) %>
        <%= link_to "Demote to Asset",
              demote_to_asset_admin_work_path(@work),
              method: "put",
              class: "btn btn-outline-secondary #{'disabled' unless can?(:destroy, @work)}",
              data: { confirm: "All work metadata on #{@work.title} will be lost, this is not reversible. Are you sure?" } %>
      <% end %>
    </p>

    <%= render "metadata", work: @work %>

  </div>
  <div class="tab-pane" id="nav-members" role="tabpanel" aria-labelledby="nav-members-tab">
    <% if @work.is_oral_history? && @work.published? %>
      <div class="admin-work-toolbar d-flex flex-wrap">
        <div class="alert alert-warning mb-3 mt-2 mx-1">
          <i class="fa fa-warning"></i>
          This is a published oral history. Be careful, adding, removing, reordering, or changing status of audio files may result in invalid combined audio derivative files and OHMS sync.
        </div>
      </div>
    <% end %>

    <div class="admin-work-toolbar d-flex flex-wrap">
      <div class="alert alert-light mx-1">
        <h2 class="h4 alert-heading">Add New Members</h2>
          From:
          <%= link_to "Files", admin_asset_ingest_path(@work), class: "btn btn-primary #{'disabled' unless can?(:update, @work)}" %>
          <%= link_to "New Child Work", new_admin_work_path(parent_id: @work), class: "btn btn-primary #{'disabled' unless can?(:update, @work)}" %>
      </div>

      <div class="alert alert-light mx-1">
        <h2 class="h4 alert-heading">Re-order Members</h2>
        <%= link_to "Manual", reorder_members_admin_work_path(@work), class: "btn btn-primary #{'disabled' unless can?(:update, @work)}" %>
        <%= link_to "Alphabetical", reorder_members_admin_work_path(@work), method: "put", class: "btn btn-primary #{'disabled' unless can?(:update, @work)}", data: { confirm: "Re-ordering members alphabetically by title can't be undone" } %>
      </div>
    </div>

    <p><%= @work.members.count  %> members</p>

    <%= render "member_list_table", work: @work %>
  </div>

  <% if @work.is_oral_history? %>
    <div class="tab-pane" id="nav-oral-histories" role="tabpanel" aria-labelledby="nav-oral-histories-tab">
      <%= render OralHistory::Admin::CombinedAudioDerivativesComponent.new(work: @work) %>
      <%= render "oral_history_biography",  work: @work %>
      <%= render OralHistory::Admin::SequenceTimestampsComponent.new(work: @work) %>
      <%= render "ohms_xml",                work: @work %>
      <%= render "oral_history_transcript", work: @work %>

      <div class="card bg-light mb-3">
        <h2 class="card-header h3">Interviewer Profiles</h2>
        <div class="card-body">
          <%= simple_form_for(@work.oral_history_content, url: update_oral_history_content_admin_work_path(@work), html: { id: :oh_interviewer_profiles}) do |f| %>
            <%= f.association :interviewer_profiles, collection: InterviewerProfile.order(:name), input_html: { "data-tom-select": "true" }, disabled: cannot?(:update, @work)%>
            <%= submit_tag "Save Changes", class: "btn btn-primary mb-3", disabled: cannot?(:update, @work)%>
          <% end %>
        </div>
      </div>

      <%= render OralHistory::Admin::AvailableByRequestComponent.new(work: @work) %>
    </div>
  <% end %>

  <div class="tab-pane" id="nav-ocr" role="tabpanel" aria-labelledby="nav-ocr-tab">
    <%= render @work_admin_text_extract_info_component %>
  </div>


</div>
