  <div class="d-flex justify-content-between">
    <div>
      <div>Managing a Work</div>
      <h1><%= @work.title %></h1>
      <% if @work.parent.present? %>
        <p>In: <%= link_to "#{@work.parent.title} (#{@work.parent.friendlier_id})", admin_work_path(@work.parent) %></p>
      <% end %>
    </div>

    <div>
      <div class="alert alert-secondary mx-1">
        <h2 class="h4 alert-heading">
          <a data-toggle="collapse" href="#deleteBtn1" role="button" aria-expanded="false" aria-controls="deleteBtn1">
            Delete
          </a>
        </h2>
        <div class="collapse" id="deleteBtn1">
            <%= link_to('Delete', [:admin, @work], method: :delete,
                 data: { confirm: "Delete Work '#{@work.title}'?" }, class: "btn btn-danger" )%>
        </div>
      </div>
    </div>
  </div>


<nav class="mb-2">
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-metadata-tab" data-toggle="tab" href="#nav-metadata" role="tab" aria-controls="nav-home" aria-selected="true">Metadata</a>
    <a class="nav-item nav-link" id="nav-members-tab" data-toggle="tab" href="#nav-members" role="tab" aria-controls="nav-profile" aria-selected="false">Members</a>
  </div>
</nav>

<div class="tab-content">
  <div class="tab-pane show active" id="nav-metadata" role="tabpanel" aria-labelledby="nav-metadata-tab">

        <p>
          <%= link_to "Edit Metadata", edit_admin_work_path(@work), class: "btn btn-primary" %>
          <% if Admin::WorksController.can_demote_to_asset?(@work) %>
            <%= link_to "Demote to Asset",
                  demote_to_asset_admin_work_path(@work),
                  method: "put",
                  class: "btn btn-outline-primary",
                  data: { confirm: "All work metadata will be lost, this is not reversible. Are you sure?" } %>
          <% end %>
        </p>

        <%= render "metadata", work: @work %>

  </div>
  <div class="tab-pane" id="nav-members" role="tabpanel" aria-labelledby="nav-members-tab">
    <div class="admin-work-toolbar d-flex flex-wrap">
      <div class="alert alert-secondary mx-1">
        <h2 class="h4 alert-heading">Add New Members</h2>
        From:
        <%= link_to "Files", admin_asset_ingest_path(@work), class: "btn btn-primary" %>
        <%= link_to "New Child Work", new_admin_work_path(parent_id: @work), class: "btn btn-primary" %>
      </div>

      <div class="alert alert-secondary mx-1">
        <h2 class="h4 alert-heading">Re-order Members</h2>
        <%= link_to "Manual", reorder_members_admin_work_path(@work), class: "btn btn-primary" %>
        <%= link_to "Alphabetical", reorder_members_admin_work_path(@work), method: "put", class: "btn btn-primary", data: { confirm: "Re-ordering members alphabetically by title can't be undone" } %>
      </div>
    </div>

    <p><%= @work.members.count  %> members</p>

    <%= render "member_list_table", work: @work %>
  </div>
</div>

