<%= simple_form_for([:admin, @interviewer_profile]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, input_html: { data: { "scihist-qa-autocomplete" => qa_search_vocab_path("assign_fast", "all") } } %>
    <%= f.input :profile, :input_html => { rows: 10 } %>
  </div>

  <div class="form-actions">
    <%= link_to 'Cancel', admin_interviewer_profiles_path, class: "btn btn-outline-secondary" %>
    <%= f.button :submit %>
  </div>
<% end %>
