<p id="notice"><%= notice %></p>

<h1>Interviewer Profiles</h1>

<%= link_to 'New Interviewer Profile', new_admin_interviewer_profile_path, class: "btn btn-outline-secondary mb-3" %>

<%= form_with(url: admin_interviewer_profiles_path, method: :get, class: 'edit-work admin-edit') do |f| %>
  <div class="row">
    <div class="input-group col-sm-10 mb-3">
      <%= f.label(:q, "Search", class: "input-group-text") %>
      <%= f.text_field(:q, value:params[:q], class: "form-control") %>
      <%= f.button("Search", class: "btn btn-primary")%>
    </div>
  </div>
<% end %>

<% if @interviewer_profiles.total_count > 0 %>
  <p>
    <%= @interviewer_profiles.offset_value + 1 %> - <%= @interviewer_profiles.offset_value + @interviewer_profiles.count %> of <%= @interviewer_profiles.total_count %>
  </p>
<% end %>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @interviewer_profiles.each do |interviewer_profile| %>
      <tr>
        <td><%= interviewer_profile.name %></td>
        <td>
          <%= link_to 'Edit', edit_admin_interviewer_profile_path(interviewer_profile), class: "btn btn-sm btn-outline-secondary" %>
          <%= link_to 'Destroy', admin_interviewer_profile_path(interviewer_profile), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @interviewer_profiles, theme: 'twitter-bootstrap-4' %>
