<p id="notice"><%= notice %></p>

<h1>Oral History: Interviewee Biographies</h1>

<%= link_to 'New Interviewee Biography', new_admin_interviewee_biography_path, class: "btn btn-outline-primary mb-3" %>

<%= form_with(url: admin_interviewee_biographies_path, method: :get, class: 'edit-work admin-edit') do |f| %>
  <div class="row">
    <div class="input-group col-sm-10 mb-3">
      <div class="input-group-prepend">
        <%= f.label(:q, "Search", class: "input-group-text") %>
      </div>
      <div class="input-group-append">
        <%= f.text_field(:q, value:params[:q], class: "form-control") %>
        <%= f.button("Search", class: "btn btn-primary")%>
      </div>
    </div>
  </div>
<% end %>

<% if @interviewee_biographies.total_count > 0 %>
  <p>
    <%= @interviewee_biographies.offset_value + 1 %> - <%= @interviewee_biographies.offset_value + @interviewee_biographies.count %> of <%= @interviewee_biographies.total_count %>
  </p>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @interviewee_biographies.each do |interviewee_biography| %>
      <tr>
        <td><%= interviewee_biography.name %></td>
        <td>
          <%= link_to 'Edit', edit_admin_interviewee_biography_path(interviewee_biography), class: "btn btn-sm btn-outline-primary" %>
          <%= link_to 'Destroy', admin_interviewee_biography_path(interviewee_biography), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-outline-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @interviewee_biographies, theme: 'twitter-bootstrap-4' %>
