<%# This is overrides the standard Blacklight zero-results template.
  The original is at:

  https://github.com/projectblacklight/blacklight/blob/v7.32.0/app/views/catalog/_zero_results.html.erb
%>
<div class="noresults" id="documents">
    <div class="noresults-text">
      <h1 class="h3 mb-4 text-danger"><%= t 'blacklight.search.zero_results.title' %></h1>
      <p>Check for typos or try modifying your search.</p>
      <p>Still can't find what you're looking for? <a href="mailto:<%= ScihistDigicoll::Env.lookup(:digital_email_address) %>">Email us.</a></p>
      <ul>
        <%- if params[:q] and params[:search_field] and params[:search_field] != blacklight_config.default_search_field&.key -%>
          <li><%= t 'blacklight.search.zero_results.search_fields', :search_fields => search_field_label(params) %> -
          <%= link_to t('blacklight.search.zero_results.search_everything', field: blacklight_config.default_search_field.label), url_for(search_state.params_for_search(search_field: blacklight_config.default_search_field.key)) %>
          </li>
        <%- end %>
      </ul>
    </div>

    <div class="noresults-image">
      <figure>
        <%= image_tag "no_results.png", 'aria-labelledby' => "noResultsCaption",
          alt: "A dejected traveling salesman, wearing a suit and a fedora, rests on his suitcase, with his briefcase nearby." %>
        <figcaption id="noResultsCaption">
          Image from: <%= link_to '"Ever Bumped by Dead Weight?"', work_path('9etr86c') %>
        </figcaption>
      </figure>
    </div>
</div>
