<h1>Collections</h1>
<p>
  <%= link_to 'New Collection', new_admin_collection_path, class: "btn btn-primary #{"disabled" unless can?(:create, Kithe::Model) }"%>
</p>


<%= simple_form_for(admin_collections_path, method: "get") do %>
  <div class="row">
    <div class="input-group col-sm-10 mb-3">
      <div class="input-group-prepend">
        <%= label_tag "title_or_id", "In Title or ID", class: "input-group-text" %>
      </div>
        <%= search_field_tag "title_or_id", params[:title_or_id], class: "form-control" %>
      <div class="input-group-append">
        <%= button_tag "Search", type: "submit", class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class="admin-filters">
    <div class="admin-filter">
        <label for="department">Department</label>
        <%= select_tag "department",
          options_for_select(Collection::DEPARTMENTS, @department),
          onchange: "this.form.submit()",
          include_blank: "Any",
          class: "custom-select" %>
    </div>
  </div>
<% end %>

<% if @collections.total_count > 0 %>
  <p>
    <%= @collections.offset_value + 1 %> - <%= @collections.offset_value + @collections.count %> of <%= @collections.total_count %>
  </p>
<% end %>

<table class="table admin-list">
  <thead>
    <tr>
      <th class="thumbnail">thumbnail</th>
      <th class="id">ID</th>
      <th class="title"><%= render(@link_maker.link(column_title: "Title", sort_field: "title")) %></th>
      <th class="department">Department</th>
      <th class="datestamp"><%= render(@link_maker.link(column_title: "Created", sort_field: "created_at")) %></th>
      <th class="datestamp"><%= render(@link_maker.link(column_title: "Last Modified", sort_field: "updated_at")) %></th>
      <th class="action"></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @collections.each do |collection| %>
      <tr>
        <td><%= thumb_image_tag(collection.leaf_representative, size: :mini, image_missing_text: true) %>
        <td><%= collection.friendlier_id %>
        <td><%= link_to(collection.title, collection_path(collection)) %><%= publication_badge(collection) %></td>
        <td><%= collection.department %></td>
        <td class="datestamp"><%=  l collection.created_at.to_date, format: :admin %> </td>
        <td class="datestamp"><%=  l collection.updated_at.to_date, format: :admin %> </td>
        <td>
          <div class="dropdown">
            <a href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</a>
            <%= admin_dropdown_for_collection(collection, labelled_by_id: "dropdownMenuButton") %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @collections, theme: 'twitter-bootstrap-4' %>


