<%= simple_form_for @oral_history_request, :url => :request_oral_history, html: { data: { blacklight_modal: "preserve" } }  do |f| %>

  <% remembered_form_values = oral_history_request_form_entry_read %>

  <div>
    <p>
      To receive files for "<%= @work.title %>" by email, please fill out the form below.

      <% if @work.oral_history_content.available_by_request_automatic? %>
        <span class="text-danger">You will receive these files immediately after submitting this form.</span>
      <% else %>
        <span class="text-danger">After your request is received, you will receive an email response, usually within
          3 business days. If permission is granted to access this interview, you will receive the files by email.
        </span>
      <% end %>
    </p>

    <p>Accessing this oral history requires a request due to privacy restrictions stipulated by the interviewee.</p>
  </div>

  <% if @oral_history_request.errors.any? %>
    <div class="kithe-form-errors-top alert alert-danger mb-4" role="alert">
      <h2 class="h4" class="alert-heading"><%= pluralize(@oral_history_request.errors.count, "error") %></h2>
      <ol class="mb-0">
        <% @oral_history_request.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ol>
    </div>
  <% end %>

  <div class="form-inputs">
    <div class="row">
      <div class="col">
        <%= f.input :patron_name,
          label: "Your name",
          input_html: { value: remembered_form_values["patron_name"]} %>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <%# we'll use the name of the belongs_to association so validation errors work well,
            this is all kind of hacky %>
        <%= f.input :oral_history_requester,
          as: :email,
          required: true,
          hint: "Links to files will be emailed to this address",
          # override to NOT be nested in oral_history_request[], we'll handle special
          input_html: {
            name: "patron_email",
            value: (remembered_form_values["patron_email"] || remembered_form_values["oral_history_requester_email"])
          },
          label: "Your email address" %>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <%= f.input :patron_institution,
          input_html: { value: remembered_form_values["patron_institution"] },
          label: "Your institution", hint: "Optional" %>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <%= f.input :intended_use,
          as: :text,
          label: "Intended use",
          hint: (@work.oral_history_content.available_by_request_automatic? ? "So that we can better understand our audience, please tell us how you plan to use the oral history you have requested." : "Please tell us how you intend to use this oral history interview to help us inform you about any relevant interviewee restrictions."),
          input_html: { value: remembered_form_values["intended_use"] },
          required: @oral_history_request.work&.oral_history_content&.available_by_request_manual_review?
        %>
      </div>
    </div>

    <%= f.hidden_field :work_friendlier_id, value: @work.friendlier_id %>

    <div class="form-actions mt-3 d-flex justify-content-end">
      <%= link_to "Cancel", work_path(@work.friendlier_id), class: "btn btn-brand-secondary me-3", data: { bl_dismiss: "modal" } %>
      <%= f.button :submit, value: "Submit request", class: "btn btn-brand-main" %>
    </div>
  </div>

  <div class="alert alert-info mt-4" role="alert">
    <p>We consider your personal information confidential. We will only use it for our records, and we will not share it with anyone outside the Science History Institute.
    </p>

    <p class="mb-0">
      If you have any questions about transcripts, recordings, or usage permissions, please contact the Center for Oral History at <%= link_to ScihistDigicoll::Env.lookup!(:oral_history_email_address), "mailto:#{ScihistDigicoll::Env.lookup!(:oral_history_email_address)}", class: "alert-link" %>.
    </p>
  </div>
<% end %>
