<h2>About</h2>


<dt>Status</dt>
<dd>
  <%= DigitizationQueueItemStatusForm.new(@admin_r_and_r_item).display %>
</dd>

<dt>Is this going into the Digital Collections?</dt>
<dd>
  <%=  @admin_r_and_r_item.is_destined_for_ingest ? 'Yes' : "No" %>.
</dd>


<% if @admin_r_and_r_item.deadline %>
  <dt>Deadline to send files to the patron</dt>
  <dd>
    <%= l(@admin_r_and_r_item.deadline, format: "%F") %>
  </dd>
<% end %>

<% if @admin_r_and_r_item.date_files_sent %>
  <dt>When files were sent</dt>
  <dd>
    <%= l(@admin_r_and_r_item.date_files_sent, format: "%F") %>
  </dd>
<% else %>
  <dt>Have files been sent to the patron?</dt>
  <dd>
    Not yet.
  </dd>
<% end %>


<dt>Is copyright research still needed for this item?</dt>
<dd>
  <%=  @admin_r_and_r_item.copyright_research_still_needed ? 'Yes' : 'No' %>.
</dd>

<dt>Collecting area</dt>
<dd><%= @admin_r_and_r_item.collecting_area.humanize%></dd>

<dt>Curator</dt>
<dd>
  <%=   @admin_r_and_r_item.curator ? @admin_r_and_r_item.curator.capitalize : "None" %>
</dd>

<%= queue_item_show_field(@admin_r_and_r_item, :patron_name) %>
<%= queue_item_show_field(@admin_r_and_r_item, :patron_email) %>

<% if @admin_r_and_r_item.bib_number.present? %>
  <p>
    <%= link_to "OPAC link (#{@admin_r_and_r_item.bib_number})", ScihistDigicoll::Util.opac_url(@admin_r_and_r_item.bib_number), target: "_blank" %>
  </p>
<% end %>

<dt>Created at</dt>
<dd>
  <%= l @admin_r_and_r_item.created_at, format: :admin %>
</dd>

<%= queue_item_show_field(@admin_r_and_r_item, :bib_number) %>
<%= queue_item_show_field(@admin_r_and_r_item, :scope, paragraphs: true, override_label: "Pages to scan for this patron") %>
<%= queue_item_show_field(@admin_r_and_r_item, :additional_pages_to_ingest, override_label: "Additional pages to ingest into the Digital Collections") %>
<%= queue_item_show_field(@admin_r_and_r_item, :location) %>
<%= queue_item_show_field(@admin_r_and_r_item, :accession_number) %>
<%= queue_item_show_field(@admin_r_and_r_item, :museum_object_id, override_label: "Object ID (Past Perfect)") %>
<%= queue_item_show_field(@admin_r_and_r_item, :box) %>
<%= queue_item_show_field(@admin_r_and_r_item, :folder) %>
<%= queue_item_show_field(@admin_r_and_r_item, :dimensions) %>
<%= queue_item_show_field(@admin_r_and_r_item, :materials) %>
<%= queue_item_show_field(@admin_r_and_r_item, :instructions, paragraphs: true) %>
<%= queue_item_show_field(@admin_r_and_r_item, :additional_notes, paragraphs: true) %>
<%= queue_item_show_field(@admin_r_and_r_item, :copyright_status, paragraphs: true) %>