<h1>Rights and Reproductions</h1>


<p>
  <%= link_to 'New R & R Item', admin_new_r_and_r_item_path, class: "btn btn-primary" %>
</p>


<% if @admin_r_and_r_items.total_count > 0 %>
  <p>
    <%= @admin_r_and_r_items.offset_value + 1 %> - <%= @admin_r_and_r_items.offset_value + @admin_r_and_r_items.count %> of <%= @admin_r_and_r_items.total_count %>
  </p>
<% end %>

<div class="table-responsive">
  <table class="table" style="table-layout: fixed; font-size: 90%; min-width: 700px;">
    <thead>
      <tr>
        <th>title</th>
        <th style="width: 7rem;">IDs</th>
        <th style="width: 11rem;">status</th>
        <th style="width: 8rem;">status changed</th>
      </tr>
    </thead>

    <tbody>
      <%@admin_r_and_r_items.each do |admin_r_and_r_item| %>
        <tr>
          <td>
            <%= link_to admin_r_and_r_item.title, admin_r_and_r_item_path(admin_r_and_r_item)%>
          </td>
          <td><%= [admin_r_and_r_item.bib_number, admin_r_and_r_item.accession_number, admin_r_and_r_item.museum_object_id].collect(&:presence).compact.join(", ") %>  </td>
          <td>
             <%= DigitizationQueueItemStatusForm.new(admin_r_and_r_item).display %>
          </td>
          <td><%= l(admin_r_and_r_item.status_changed_at.to_date, format: :admin) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @admin_r_and_r_items, theme: 'twitter-bootstrap-4' %>