<h1>Rights and Reproductions</h1>


<p>
  <%= link_to 'New R & R Item', admin_new_r_and_r_item_path, class: "btn btn-primary" %>
</p>


<% if @admin_r_and_r_items.total_count > 0 %>
  <p>
    <%= @admin_r_and_r_items.offset_value + 1 %> - <%= @admin_r_and_r_items.offset_value + @admin_r_and_r_items.count %> of <%= @admin_r_and_r_items.total_count %>
  </p>
<% end %>

<div class="table-responsive">
  <table class="table" style="table-layout: fixed; font-size: 90%; min-width: 700px;">
    <thead>
      <tr>
        <th>Title</th>
        <th >Status</th>
        <th >Deadline</th>
        <th>Bib number</th>
        <th>Accession number</th>
        <th>Object ID</th>
      </tr>
    </thead>

    <tbody>
      <%@admin_r_and_r_items.each do |admin_r_and_r_item| %>
        <tr>
          <td>
            <%= link_to admin_r_and_r_item.title, admin_r_and_r_item_path(admin_r_and_r_item)%>
          </td>

          <td>
             <%= DigitizationQueueItemStatusForm.new(admin_r_and_r_item).display %>
          </td>
          <td><%= l(admin_r_and_r_item.deadline.to_date, format: :admin) if admin_r_and_r_item.deadline%></td>


          <td><%= link_to "#{admin_r_and_r_item.bib_number}", ScihistDigicoll::Util.opac_url(admin_r_and_r_item.bib_number), target: "_blank" if admin_r_and_r_item.bib_number %>
          </td>
          <td><%= admin_r_and_r_item.accession_number %>  </td>
          <td><%= admin_r_and_r_item.museum_object_id %>  </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @admin_r_and_r_items, theme: 'twitter-bootstrap-4' %>