<%#
The HTML for an OHMS footnote reference, along with its inline tooltip.
Hovering over the link will show the tooltip; clicking on the link
will take you to the corresponding footnote at the bottom of the page via JS.
( See `app/javascript/src/js/audio/ohms_footnotes.js` . )

The tooltip hover is based on:
http://hiphoff.com/creating-hover-over-footnotes-with-bootstrap/
#%>

<%# First, an anchor, so we can link back to this footnote #%>
<a name="footnote-reference<%= number %>" id="footnote-reference<%= number %>"></a>

<%# Then, a screenreader-only footnote.
Connected to the footnote link by aria-describedby.
#%>
<span class="sr-only" id="footnote-text-<%=number%>" ><%= number %>. <%= footnote_text %></span>

<%# Then, the actual tooltip (hidden until hover;
hidden from screenreaders via aria-hidden="true";
not accessible to phone / tablet users.)
#%>
<span class="footnote" aria-hidden="true" data-toggle="ohms-tooltip" title="<%= footnote_text %>">
  <%# The actual footnote link #%>
  <a aria-describedby="footnote-text-<%=number%>" data-role="footnote-reference" data-footnote-index="<%=number%>" href="#">[<%= number %>]</a>
</span>