<div class="ohms-index-container">
  <% view.index_points.each do |index_point| %>
    <div class="ohms-index-point">
      <h3 class="ohms-index-point-title h4">
        <a href="#" data-ohms-timestamp-s="<%= index_point.timestamp %>">
          <span class="mr-3"><i class="fa fa-play-circle" aria-hidden="true"></i> <%= format_ohms_timestamp(index_point.timestamp) %></span> <%= index_point.title %>
        </a>
      </h3>


      <div class="ohms-index-list long-text-line-height">
        <% if index_point.synopsis.present? %>
          <p>
            <%= index_point.synopsis %>
          </p>
        <% end %>


        <% if index_point.partial_transcript.present? %>
          <p class="attribute">
            <span class="attribute-label">Begins with</span>
            <%= view.format_partial_transcript(index_point.partial_transcript) %>
          </p>
        <% end %>

        <% if index_point.keywords.present? %>
          <p class="attribute keywords">
            <span class="attribute-label">Keywords</span>
            <% index_point.keywords.each do |keyword| %>
              <span class="badge badge-pill badge-dark"><%= keyword %></span>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
