<%= simple_form_for([:admin, @user]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :name %>

    <%= f.input :user_type do %>
      <div class="ms-4">
        <%= f.collection_radio_buttons :user_type, User::USER_TYPES, :to_s, :humanize do |b| %>
          <div class="form-check mb-2">
            <%= b.radio_button(class: "form-check-input") %>

            <%= b.label(class: "form-check-label") do %>
              <div><%= b.text %></div>
              <div class="form-text fw-normal"><%= t(b.value, scope: "user.user_type.hint") %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= f.input :locked_out %>
  </div>

  <div class="form-actions text-end">
    <%= link_to 'Cancel', admin_users_path, class: "btn btn-outline-secondary" %>
    <%= f.button :submit %>
  </div>
<% end %>
