<h1>Users</h1>

<p>
<%= link_to 'Create New User', new_admin_user_path, class: "btn btn-primary" %>
</p>


<%= simple_form_for(admin_users_path, method: "get") do %>
  <div class="admin-filters">
    <div class="admin-filter">
        <label for="filter">Show</label>
        <%= select_tag "filter",
          options_for_select(['Current', 'All'] + @user_types_map.values, @filter),
          onchange: "this.form.submit()", class: "custom-select" %>
    </div>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Who</th>
      <th>Permissions</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %><br/><small class="text-monospace text-muted"><%= user.email %></small></td>
        <td>
          <span class="badge badge-<%= user.admin_user? ? "primary" : "light"%>"><%= user&.user_type&.titleize %></span>
          <% if user.locked_out? %>
            <span class="badge badge-danger">Locked out</span>
          <% end %>
        </td>
        <td>
          <%= link_to 'Edit', edit_admin_user_path(user), class: "btn btn-sm btn-outline-secondary" %>
          <% unless ScihistDigicoll::Env.lookup(:log_in_using_microsoft_sso)%>
            <%= link_to 'Send password reset', send_password_reset_admin_user_path(user), method: "post", class: "btn btn-sm btn-outline-secondary" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


