<%# A search form, used on the navbar, on hte home page, possibly other places.

    * This search form always does a new search, it does not preserve existing
      limits (intentionally, based on UX analysis)
    * It includes a .search-options div below the text input, with additional standard limits. When
      used in the navbar (at large sizes) this additional options area is hidden
      and automatically slides out in a drawer on search box focus.

      In other areas (such as home page, or navbar at small size collapse),
      the extra search options may be always visible.
%>

<%= form_tag search_catalog_url, method: :get, class: "search-form", role: "search" do %>
  <div class="input-group nav-search-text">
    <%= text_field_tag :q, '', class: "q form-control",
        id: "q",
        autocomplete: "off",
        #placeholder: t("blacklight.search.form.search.placeholder"),
        :"aria-label" => t('blacklight.search.form.search_field.label')
    %>

    <label class="visually-hidden" for="q"><%= t('blacklight.search.form.search_field.label') %></label>

    <button type="submit" class="btn btn-brand-dark" title="Search" id="search-submit-header">
      <%= t('blacklight.search.form.submit') %>
    </button>
  </div>

  <div class="search-options">
    <div role="group" aria-labelledby="limit-dates-heading" class="limit-dates form-group">
      <div class="limit-dates-heading" id="limit-dates-heading">
        Limit Dates
      </div>
      <div class="limit-dates-body">
        <label class="visually-hidden" for="search-option-date-from">From start year</label>
        <input type="text" inputmode="numeric" name="range[year_facet_isim][begin]" class="form-control search-option-year" autocomplete="off" placeholder="from" id="search-option-date-from" pattern="[0-9]{3,4}" title="start year (yyyy)" aria-label="From start year">
        <span class="text">&nbsp;&ndash;&nbsp;</span>
        <label class="visually-hidden" for="search-option-date-to">To end year</label>
        <input type="text" inputmode="numeric" name="range[year_facet_isim][end]" class="form-control search-option-year"  autocomplete="off" placeholder="to" id="search-option-date-to" pattern="[0-9]{3,4}" title="end year (yyyy)" aria-label="To end year">
      </div>
    </div>

    <div class="form-group checkbox">
      <label for="filter_copyright_free"><%= check_box_tag 'f[rights_facet][]', "Copyright Free", nil, id: "filter_copyright_free" %> Copyright Free Only </label>
    </div>
  </div>
<% end %>
