

<div class="answer-narrative">
  <div class="answer-introduction">
    <%= introduction %>
  </div>

  <ul class="mt-4 ai-conversation-findings">
    <% findings_hashes&.each do |hash| %>

      <li class="mb-3">
        <%= hash["answer"] %>


        <% hash["citations"].each do |citation_hash| %>
          <div><%= render OralHistory::AiConversationCitationComponent.new(citation_hash["citation_item_model"]) %></div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>


<% if can? :access_staff_functions %>
  <hr class="mt-4 mb-4">
  <details>
    <summary class="fw-bold fs-3">Admin Debug Info</summary>

    <dl class="mt-2">
      <dt>estimated cost</dt>
      <dd>
        <% if estimated_cost_in_dollars.present? %>
          $<%= ("%0.4f" % estimated_cost_in_dollars) %>
        <% else %>
          unavailable
        <% end %>
      </dd>

      <% debug_output_items.each_pair do |key, value| %>
        <dt><%= key %></dt>
        <dd><%= value %></dd>
      <% end %>

      <dt>Timing</dt>
      <dd>
        <ul>
        <% calculated_timings.each do |label, seconds| %>
          <li><%= label %> @ <%= "%.2f" % seconds %> s</li>
        <% end %>
        </ul>
      </dd>
    </dl>

    <h3>Chunks (passages) retrieved</h3>
    <% preserved_chunks_list.each_with_index do |chunk, index| %>
        <details class="mt-2">
          <summary><%= index + 1 %> (<%= chunk.id %>) <%= chunk.oral_history_content&.work&.title %>: paragraphs <%= chunk.start_paragraph_number %> - <%= chunk.end_paragraph_number %>, cosine_distance: <%= "%.3f" % chunk.neighbor_distance if chunk.neighbor_distance.present?  %></summary>

            <div class="ms-5 mt-2">
              <%= simple_format chunk.text %>
              <hr>
            </div>
        </details>
    <% end %>
  </details>
<% end %>
