<div class="ms-5 mt-3">

  <h4 class="fs-6 fw-semibold  mb-1 mt-2" style="font-size: 1rem">
    <%= link_to(link_to_source,
                target: "_blank",
                class: "default-link-style text-decoration-underline") do -%>
      <%= citation_item.short_citation_title -%> —
      ¶<%= citation_item.short_citation_paragraphs -%>
      <%- if citation_item.nearest_timecode_formatted.present? %> near <%= citation_item.nearest_timecode_formatted %><%- end -%>
    <%- end -%>


    <span data-shi-slot="footnote-badges">
      <% if citation_item.oral_history_content.has_ohms_transcript? %>
        <span class="badge bg-info text-body border border-info-subtle ms-2">Synchronized Audio</span>
      <% end %>

      <% case citation_item.oral_history_content.available_by_request_mode %>
        <% when "off" %>
          <span class="badge bg-success-subtle text-body border border-success-subtle ms-2">Immediate</span>
        <% when "automatic" %>
          <span class="badge bg-warning border border-warning-subtle text-body ms-2">Upon request</span>
        <% when "manual_review" %>
          <span class="badge bg-danger-subtle border border-danger-subtle text-body ms-2">With approval</span>
      <% end %>
    </span>
  </h4>

  <div data-shi-slot="footnote-quote border-left border-2 ps-1" class="text-muted small" data-scihist-citation-quote-container="true">
    <span class="citation-quote-truncated" data-scihist-citation-quote-truncated="true">
      <%= citation_item.quote.truncate(55, separator: /[., \s]+/, omission: "…") %>
      <%= link_to "Read more", "#", data: { scihist_citation_quote_show: "true" }, class: "default-link-style" %>
    </span>
    <span class="citation-quote-full" style="display: none" data-scihist-citation-quote-full="true"><%= citation_item.quote %></span>
  </div>
</div>
