

<div class="answer-narrative">
  <%= introduction %>

  <% findings_hashes.each do |hash| %>
    <hr>
    <p><%= hash["answer"] %></p>


    <% hash["citations"].each do |citation_hash| %>
      <p><%= render OralHistory::AiConversationCitationComponent.new(citation_hash["citation_item_model"]) %></p>
    <% end %>


  <% end %>
</div>

<% if false && footnote_list.present? %>
  <h3 class="fw-bold mt-5 mb-4">Interviews Referenced</h3>

  <% footnote_list.each do |footnote_item_data| %>
    <div id="<%= footnote_item_data.anchor %>" class="mb-3">

      <h4 class="fs-6 fw-semibold  mb-1 mt-4">
        <%= link_to "##{footnote_item_data.ref_anchor}", class: "default-link-style" do %>
          <span class="badge bg-primary rounded-pill"><%= footnote_item_data.number %></span>
        <% end %>

        <%= link_to(link_from_ai_conversation_footnote(footnote_item_data),
                    target: "_blank",
                    "data-shi-slot" => "footnote-title",
                    class: "default-link-style text-decoration-underline") do  -%>
          <%= footnote_item_data.short_citation_title -%> —
          ¶<%= footnote_item_data.short_citation_paragraphs -%>
          <%= footnote_item_data.nearest_timecode_formatted.present? ? " near <span>#{footnote_item_data.nearest_timecode_formatted}</span>".html_safe :  "" -%>
        <%- end %>

        <span data-shi-slot="footnote-badges">
          <% if footnote_item_data.oral_history_content.has_ohms_transcript? %>
            <span class="badge bg-info text-body border border-info-subtle ms-2">Synchronized Audio</span>
          <% end %>

          <% case footnote_item_data.oral_history_content.available_by_request_mode %>
            <% when "off" %>
              <span class="badge bg-success-subtle text-body border border-success-subtle ms-2">Immediate</span>
            <% when "automatic" %>
              <span class="badge bg-warning border border-warning-subtle text-body ms-2">Upon request</span>
            <% when "manual_review" %>
              <span class="badge bg-danger-subtle border border-danger-subtle text-body ms-2">With approval</span>
          <% end %>
        </span>
      </h4>

      <div data-shi-slot="footnote-quote">
        “<%= footnote_item_data.quote %>”
      </div>
    </div>
  <% end %>
<% end %>


<% if can? :access_staff_functions %>
  <hr class="mt-4 mb-4">
  <details>
    <summary class="fw-bold fs-3">Admin Debug Info</summary>

    <dl class="mt-2">
      <dt>estimated cost</dt>
      <dd>
        <% if estimated_cost_in_dollars.present? %>
          $<%= ("%0.4f" % estimated_cost_in_dollars) %>
        <% else %>
          unavailable
        <% end %>
      </dd>

      <% debug_output_items.each_pair do |key, value| %>
        <dt><%= key %></dt>
        <dd><%= value %></dd>
      <% end %>

      <dt>Timing</dt>
      <dd>
        <ul>
        <% calculated_timings.each do |label, seconds| %>
          <li><%= label %> @ <%= "%.2f" % seconds %> s</li>
        <% end %>
        </ul>
      </dd>
    </dl>

    <h3>Chunks (passages) retrieved</h3>
    <% preserved_chunks_list.each_with_index do |chunk, index| %>
        <details class="mt-2">
          <summary><%= index + 1 %> (<%= chunk.id %>) <%= chunk.oral_history_content&.work&.title %>: paragraphs <%= chunk.start_paragraph_number %> - <%= chunk.end_paragraph_number %>, cosine_distance: <%= "%.3f" % chunk.neighbor_distance if chunk.neighbor_distance.present?  %></summary>

            <div class="ms-5 mt-2">
              <%= simple_format chunk.text %>
              <hr>
            </div>
        </details>
    <% end %>
  </details>
<% end %>
