<% if birth_info.present? || death_info.present? %>
  <table class="work chf-attributes">
    <tbody>
      <% if birth_info.present? %>
        <tr>
          <th>Born</th>
          <td><%= birth_info %></td>
        </tr>
      <% end %>
      <% if death_info.present? %>
        <tr>
          <th>Died</th>
          <td><%= death_info %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if schools.present? %>
  <h3 class="h4">Education</h3>

  <div class="table-responsive mb-3">
    <table class="table">
      <thead>
        <tr>
          <th>Year</th>
          <th>Institution</th>
          <th>Degree</th>
          <th>Discipline</th>
        </tr>
      </thead>
      <tbody>
        <% schools.each do |school| %>
          <tr>
            <td class="text-nowrap"><%= FormatSimpleDate.new(school.date).display %></td>
            <td><%= school.institution %></td>
            <td><%= school.degree %></td>
            <td><%= school.discipline %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<% if grouped_jobs.present? %>
  <h3 class="h4">Professional Experience</h3>
  <div class="mb-3">
    <% grouped_jobs.each_pair do |institution, jobs| %>
      <h4 class="h6 mb-0 pt-2 border-top font-weight-semi-bold"><%= institution %></h4>
        <ul class="d-table list-unstyled mb-2 pl-3">
          <% jobs.each do |job| %>
            <li class="d-table-row">
              <span class="d-table-cell p-2 text-nowrap"><%= formatted_job_dates(job.start, job.end) %></span>
              <span class="d-table-cell p-2"><%= job.role %></span>
            </li>
          <% end %>
        </ul>
    <% end %>
  </div>
<% end %>

<% if honors.present? %>
  <h3 class="h4">Honors</h3>
  <table class="table mb-3">
    <thead>
      <tr>
        <th>Year(s)</th>
        <th>Award</th>
      </tr>
    </thead>
    <tbody>
      <% honors.each do |honor| %>
        <tr>
          <td class="text-nowrap"><%= FormatSimpleDate.new(honor.start_date, honor.end_date).display %></td>
          <td><%= sanitized_honor_string(honor.honor) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

