<% if file_list_members.present? %>
  <h2 class="attribute-sub-head">
    Complete transcript of interview
  </h2>
  <div class="downloads-pdf">
    <div class="other-files sans-serif">
      <% file_list_members.each_with_index do |member, index| %>
        <%= render FileListItemComponent.new(member,
              index: index,
              view_link_attributes: {
                'data-analytics-category' => 'Work',
                'data-analytics-action' => "view_oral_history_transcript_pdf",
                'data-analytics-label' => member.parent.friendlier_id
              }
            )
        %>
      <% end %>
      <p><small>The published version of the transcript may diverge from the interview audio due to edits to the transcript made by staff of the Center for Oral History, often at the request of the interviewee, during the transcript review process.</small></p>
    </div>
  </div>
<% end %>

<% if combined_m4a_audio_url.present? && combined_derivatives_up_to_date? %>
  <h2 class="attribute-sub-head">
    <% if audio_members.count == 1 %>
      Audio File <small class="text-muted">Web-quality download</small>
    <% else %>
      Complete Interview Audio File <small class="text-muted">Web-quality download</small>
    <% end %>
  </h2>
  <div class="combined-audio-download-links">
    <div class="combined-audio-download-icon-container">
      <a href="<%= combined_m4a_audio_download_url %>"
        data-analytics-category="Work"
        data-analytics-action="download_combined_audio_derivatives"
        data-analytics-label="<%= work.friendlier_id %>"
        >
        <i class="fa fa-download" aria-hidden="true"></i>
        Web-quality M4A
      </a>
    </div>
    <div class="combined-audio-download-link-size">
      <small><%= combined_display_m4a_audio_size %></small>
    </div>
  </div>
<% end %>


<h2 class="attribute-sub-head sound-file-header">
  <% if audio_members.count > 1 %>
    <%= audio_members.count %> Separate Interview Segments
  <% else %>
    1 Interview Segment
  <% end %>
  <small class="text-muted">Archival-quality <%= "download".pluralize(audio_members.count) %></small>
</h2>

<div class="sans-serif track-listings" data-role="track-listings" >
  <% audio_members.each do |track| %>
    <div  class="track-listing" data-role="track-listing"
          data-bs-title="<%= track.title %>"
          data-member-id="<%= track.id %>"
          data-original-url="<%= download_path(track.file_category, track.id) %>"
      >

      <% if start_time_for(track) %>
        <div class="icon">
          <a
            class="play-link"
            title="Listen to '<%= track.title%>'"
            aria-label="Listen to '<%= track.title%>'"
            href="#"
            data-role="play-link"
            data-ohms-timestamp-s="<%= start_time_for(track) %>"
            data-analytics-category='Work'
            data-analytics-action="play_oral_history_audio_segment"
            data-analytics-label="<%= work.friendlier_id %>"
          >
            <i class="fa fa-play-circle" aria-hidden="true"></i>
          </a>
        </div>
      <% end %>


      <div class="title">
        <% if start_time_for(track) %>
          <a
            class="title play-link"
            title="Listen to '<%= track.title%>'"
            aria-label="Listen to '<%= track.title%>'"
            href="#"
            data-role="play-link"
            data-ohms-timestamp-s="<%= start_time_for(track) %>"
            data-analytics-category='Work'
            data-analytics-action="play_oral_history_audio_segment"
            data-analytics-label="<%= work.friendlier_id %>"
          >
            <%= track.title %>
            <div class="start-time">
              starts at <%= format_ohms_timestamp(start_time_for(track))%>
            </div>
            <% unless track.published? %>
              <span title="Private" class="badge text-bg-warning">Private</span>
            <% end %>
          </a>
        <% else %>
            <%= track.title %>
            <% unless track.published? %>
              <span title="Private" class="badge text-bg-warning">Private</span>
            <% end %>
        <% end %>
      </div>
      <div class="action">
        <%= render DownloadDropdownComponent.new(track, display_parent_work: track.parent, use_link:true) %>
      </div>
    </div>
  <% end %>
</div>

