<p class="footnote-page-bottom-container">
    <a id="footnote-<%= footnote_reference %>" data-role="ohms-navbar-aware-internal-link" href="#footnote-reference-<%= footnote_reference %>" >
    <%= footnote_reference %>.</a> <span id="footnote-text-<%= footnote_reference %>"><%= footnote_text%></span>
</p>
