<span class="footnote" data-toggle="ohms-tooltip" title="<%= footnote_text %>">
  <a id="footnote-reference<%= number %>" aria-describedby="footnote-text-<%=number%>" data-role="ohms-navbar-aware-internal-link" href="#footnote<%= number%>">[<%= number %>]</a>
</span>
