<a  class="footnote"
    data-toggle="ohms-reference"
    data-bs-content="<%= escaped_footnote_text %>"
    <% if footnote_is_html %> data-bs-html="true" <% end %>
    data-bs-custom-class="transcript-footnote-popover"
    data-bs-trigger="hover focus"
    aria-label="footnote <%= number %>"
    data-role="ohms-navbar-aware-internal-link"
    href="#footnote-<%= number%>"
    aria-describedby="footnote-text-<%=number%>"
    <% if show_dom_id %> id="footnote-reference-<%= number %>"<% end %>
    >
  <%= link_content %> [<%= number %>]
</a>
