<span class="footnote" aria-hidden="true" data-toggle="ohms-tooltip" title="<%= footnote_text %>">
  <a id="footnote-reference<%= number %> aria-describedby="footnote-text-<%=number%>" data-role="footnote-reference" data-footnote-index="<%=number%>" href="#">[<%= number %>]</a>
</span>
