<div class="ohms-transcript-container">
  <% display_paragraphs do |html_text:, fragment_id:, page_marker: nil, start_seconds:nil, speaker_label:nil| %>
      <div class="ohms-transcript-paragraph-wrapper">
        <p class="ohms-transcript-paragraph" data-searchable-transcript-line="true" id="<%= fragment_id %>">
          <% if page_marker.present? %>
            <span class="ohms-transcript-timestamp text-muted">Page <%= page_marker %></span>
          <% end %>

          <% if start_seconds %>
            <%=  content_tag(
                    "a",
                    format_ohms_timestamp(start_seconds),
                    href: "#{base_link}#t=#{start_seconds}",
                    class: "ohms-transcript-timestamp default-link-style",
                      # must be formatted exactly the same in JS transcript highlighter
                      # code that searches for it.
                    data: { "ohms_timestamp_s" => "%.3f" % start_seconds.round(3)}
                  )
            %>
          <% end %>

          <% if speaker_label.present? %>
            <span class="transcript-speaker"><%= speaker_label %></span>:
          <% end %>

          <%= html_text %>
        </p>
    </div>
  <% end %>
</div>

<% if sanitized_footnotes.present? %>
  <hr />

  <div class="mx-1 my-2"><strong>NOTES</strong></div>

  <div class="footnote-list mx-1 mb-5">
    <% sanitized_footnotes.each_pair do |reference, footnote_text| %>
        <%= render ::OralHistory::FootnoteComponent.new(footnote_reference: reference, footnote_text: footnote_text) %>
    <% end %>
  </div>
<% end %>



