<div class="ohms-transcript-container">
  <% display_paragraphs do |html_text:, fragment_id:, page_marker: nil, start_seconds:nil, speaker_label:nil| %>
      <div class="ohms-transcript-paragraph-wrapper">
        <p class="ohms-transcript-paragraph" data-searchable-transcript-line="true" id="<%= fragment_id %>">
          <% if page_marker.present? %>
            <%= render_page_marker(page_marker) %>
          <% end %>

          <% if start_seconds %>
            <%= render_timestamp_marker(start_seconds) %>
          <% end %>

          <% if speaker_label.present? %>
            <span class="transcript-speaker"><%= speaker_label %></span>:
          <% end %>

          <%= html_text %>
        </p>
    </div>
  <% end %>
</div>

<% if sanitized_footnotes.present? %>
  <hr />

  <div class="mx-1 my-2"><strong>NOTES</strong></div>

  <div class="footnote-list mx-1 mb-5">
    <% sanitized_footnotes.each_pair do |reference, footnote_text| %>
        <%= render ::OralHistory::FootnoteComponent.new(footnote_reference: reference, footnote_text: footnote_text) %>
    <% end %>
  </div>
<% end %>



