<!DOCTYPE html>

<%# Layout for 'admin' portions of our pages. Compare to 'application' layout
    used for public portions including Blacklight controllers.

    This 'admin' layout puts an admin menu on every page, although with certain
    Rails controller actions blacklisted from having the menu.

    Right now, even though we have separate layout for 'admin', we do _not_ segregate
    our CSS and JS assets, only the single pipelined application.js and application.css,
    with JS/CSS shared by both.
%>

<html>
  <head>
    <title>Science History Institute Digital Collections</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Instead of loading via local build, we are loading uppy the heavy-weight way manually
        from CDN. For somewhat 'legacy' reasons. We may 'fix' this in future.

        Uppy recommends against this, but we're doing it for now, until we get it working
        as a proper webpacker dependency. %>


    <link href="https://releases.transloadit.com/uppy/v2.1.0/uppy.min.css" rel="stylesheet" />
    <script src="https://releases.transloadit.com/uppy/v2.1.0/uppy.min.js"></script>

    <%= render "layouts/head_tag_common" %>

    <%# we mainly exclusively use vite, not sprockets -- but still use sprockets
        to get blacklight_range_limit assets %>

    <%= vite_stylesheet_tag 'application.scss', media: "all" %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application', defer: true %>

    <%# admin-specific JS built by vite, will also include css if needed automatically %>
    <%= vite_javascript_tag 'admin', defer: true %>
  </head>

  <body>
    <div class="container-fluid">
      <%= render "flash_message_display" %>

      <% if ["edit", "new", "display_attach_form", "reorder_members_form", "add_files"].include?(params[:action].to_s) %>
        <%= yield %>
      <% else %>
        <div class="d-sm-flex admin-wrapper">
          <div class="admin-nav flex-shrink-0">
            <ul class="list-unstyled sticky-top px-3 pb-3 pt-1 mt-2 me-3 bg-light border">
              <li><h2 class="h4">Admin</h2></li>
              <% if ScihistDigicoll::Env.lookup(:service_level) %>
                <%= content_tag "li", ScihistDigicoll::Env.lookup(:service_level).upcase, class: ["text-center p-1 mb-2 font-weight-bold", ("bg-warning" if ScihistDigicoll::Env.staging?)] %>
              <% end %>

              <% if Rails.cache.fetch("Asset.promotion_failed", expires_in: 5.minutes) { Asset.promotion_failed.count > 0 } %>
                <li>
                  <%= link_to admin_assets_path(promotion_failed: true), class: "text-danger" do %>
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Asset ingest failed
                  <% end %>
                </li>
              <% end %>

              <li><%= link_to  "Works", admin_works_path %></li>
              <li><%= link_to  "Assets", admin_assets_path %></li>
              <li><%= link_to "Collections", admin_collections_path %></li>
              <li><%= link_to "Digitization Queue", admin_digitization_queue_items_path %></li>
              <% if can? :admin, User %>
                <li><%= link_to "Users", admin_users_path %></li>
              <% end %>
              <li><%= link_to "Public Search", search_catalog_path %></li>
              <li>
                <% if can?(:update, Kithe::Model) %>
                  <%= link_to admin_cart_items_path do %>
                    Cart <span class="badge text-bg-secondary" data-role="cart-counter"><%= current_user.works_in_cart.count %></span>
                  <% end %>
                <% end %>
              </li>

              <li><hr></li>
              <li><%= link_to "Oral History Requests", admin_oral_history_requests_path %></li>
              <li><%= link_to "Interviewer Profiles", admin_interviewer_profiles_path %></li>
              <li><%= link_to "Interviewee Biographies", admin_interviewee_biographies_path %></li>
              <li><%= link_to "OH AI Q&A Log", admin_oh_ai_conversations_path %></li>

              <li><hr></li>
              <li><%= link_to "Job Queues", admin_resque_server_path %></li>
              <li><%= link_to "Fixity Report", admin_fixity_report_path %></li>
              <li><%= link_to "Storage Report", admin_storage_report_path %></li>
              <li><%= link_to "Orphan Report", admin_orphan_report_path %></li>
              <li><hr></li>
              <% if current_user %>
                <li><%= link_to "Logout", logout_path %></li>
              <% else %>
                <li><%= link_to 'Login', new_user_session_path %></li>
              <% end %>
            </ul>
          </div>
          <div class='admin-content flex-grow-1'>
            <%= yield %>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
