<!DOCTYPE html>

<%# Layout for 'admin' portions of our pages. Compare to 'application' layout
    used for public portions including Blacklight controllers.

    This 'admin' layout puts an admin menu on every page, although with certain
    Rails controller actions blacklisted from having the menu.

    Right now, even though we have separate layout for 'admin', we do _not_ segregate
    our CSS and JS assets, only the single pipelined application.js and application.css,
    with JS/CSS shared by both.  (Currently the general 'application' layout is not
    loading our webpacker JS, but that could change.)
%>

<html>
  <head>
    <title>Science History Institute Digital Collections</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Instead of loading via webpacker, we are loading uppy the heavy-weight way manually
        from CDN. For somewhat 'legacy' reasons. We may 'fix' this in future.

        Uppy recommends against this, but we're doing it for now, until we get it working
        as a proper webpacker dependency.

        Fetch and promise polyfills are required for Uppy to work on IE11. (which we may
        not really need it to, does our staff use IE?) %>

    <script src="https://unpkg.com/babel-polyfill@6.26.0/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/whatwg-fetch@2.0.3/fetch.js"></script>

    <link href="https://transloadit.edgly.net/releases/uppy/v1.3.0/uppy.min.css" rel="stylesheet" />
    <script src="https://transloadit.edgly.net/releases/uppy/v1.3.0/uppy.min.js"></script>

    <%= render "layouts/head_tag_common" %>

    <%# lazysizes gets it's own "pack", loaded early without 'defer', per lazysizes doc suggestion %>
    <%= javascript_pack_tag 'lazysizes' %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

    <%= javascript_include_tag 'application', defer: true %>
    <%= javascript_pack_tag 'application', defer: true %>
    <%= javascript_pack_tag 'admin', defer: true %>

  </head>

  <body>
    <div class="container-fluid">
      <%= render "flash_message_display" %>

      <% if ["edit", "new", "display_attach_form", "reorder_members_form", "add_files"].include?(params[:action].to_s) %>
        <%= yield %>
      <% else %>
        <div class="d-sm-flex admin-wrapper">
          <div class="admin-nav flex-shrink-0">
            <ul class="list-unstyled sticky-top px-3 pb-3 pt-1 mt-2 mr-3 bg-light border">
              <li><h2 class="h4">Admin</h2></li>
              <li><%= link_to  "Works", admin_works_path %></li>
              <li><%= link_to "Collections", admin_collections_path %></li>
              <li><%= link_to "Digitization Queue", collecting_areas_admin_digitization_queue_items_path %></li>
              <% if can? :admin, User %>
                <li><%= link_to "Users", admin_users_path %></li>
              <% end %>
              <li><%= link_to "Public Search", search_catalog_path %></li>
              <li><hr></li>
              <li><%= link_to "Job Queues", admin_resque_server_path %></li>
              <li><%= link_to "Fixity Report", admin_fixity_report_path %></li>


              <br>
              <% if current_user %>
                <li><%= link_to("Logout", destroy_user_session_path, method: :delete) %></li>
              <% else %>
                <li><%= link_to('Login', new_user_session_path)  %></li>
              <% end %>
            </ul>
          </div>
          <div class='admin-content flex-grow-1'>
            <%= yield %>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
