<!DOCTYPE html>

<%# since all we have is an admin section at present, this is more like the admin layout,
will prob have to be extracted and separated from end-user layout at some point. Note
it includes an admin menu.  %>

<html>
  <head>
    <title>Science History Institute Digital Collections</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# we aren't using an ES6 toolchain, so are loading uppy the heavy-weight way.
        uppy recommends against this, but we're doing it for now, but we only do it
        on pages that ask for it with `content_for(:load_uppy, true)`

        Note we are not curerntly loading fetch and promise polyfills for IE11, we may
        want to, or maybe it's fine our file uploading doens't work on IE %>
    <% if content_for?(:load_uppy) %>
      <link href="https://transloadit.edgly.net/releases/uppy/v0.28.0/dist/uppy.min.css" rel="stylesheet" />
      <script src="https://transloadit.edgly.net/releases/uppy/v0.28.0/dist/uppy.min.js"></script>
    <% end %>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%# trying to include our webpacker-managed scripts with defer for better browser
        load performance.  works until we do something that doesn't... %>
    <%= javascript_pack_tag 'application', defer: true %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container-fluid">
      <% {  notice: 'alert-info',
            error: 'alert-danger',
            alert: 'alert-warning'
          }.each do |type, css_class| %>
        <% if flash[type] %>
          <div class="notice alert <%= css_class %> alert-dismissible fade show" role="alert">
            <%= flash[type] %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
      <% end %>

      <% if ["edit", "new", "display_attach_form"].include?(params[:action].to_s) %>
        <%= yield %>
      <% else %>
        <div class="d-sm-flex admin-wrapper">
          <div class="admin-nav">
            <ul class="list-unstyled sticky-top px-3 pb-3 pt-1 mt-2 mr-3 bg-light border">
              <li><h2 class="h4">Admin</h2></li>
              <li><%= link_to  "Works", admin_works_path %></li>
              <li><%= link_to "Collections", collections_path %></li>
            </ul>
          </div>
          <div class='admin-content flex-grow-1'>
            <%= yield %>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>
