<!DOCTYPE html>

<%# This is our 'front-end' Rails layout; see also the 'admin' layout for back-end pages.

    This one _began_ with the out of the box Blacklight layout, but customizing
    it to have less assumptions so we could let Blacklight have a lighter touch
    on our app, and let non-Blacklight controllers use this layout.

    Based on a combination of:

    * https://github.com/projectblacklight/blacklight/blob/v7.0.1/app/views/layouts/blacklight.html.erb
    * https://github.com/projectblacklight/blacklight/blob/v7.0.1/app/views/layouts/blacklight/base.html.erb

    Some Blacklight features that are still in here:

    * `content_for(:sidebar)` to provide sidebar to the layout, triggering
      top-level HTML making room for sidebar.
    * providing the blacklight shared/modal with DOM for Bootstrap modal skeleton that
      can be re-used by any JS that needs a modal.

    Right now, even though we have separate layout for 'admin', we do _not_ segregate
    our CSS and JS assets, only the single pipelined application.js and application.css,
    with JS/CSS shared by both.  (Currently the general 'application' layout is not
    loading our webpacker JS, but that could change.)
%>

<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Internet Explorer use the highest version available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title><%= render_page_title %></title>
    <%= opensearch_description_tag application_name, opensearch_catalog_url(format: 'xml') %>
    <%= render "layouts/head_tag_common" %>

    <%# goes first and separate per lazysizes docs %>
    <%= javascript_pack_tag 'lazysizes' %>

    <%= stylesheet_link_tag "application", media: "all" %>

    <%= javascript_include_tag "application", defer: true %>
    <%= javascript_pack_tag "application", defer: true %>

    <%= csrf_meta_tags %>
    <%= content_for(:head) %>
  </head>

  <body class="<%= render_body_class %> scihist-main-layout">
    <% if current_user %>
      <%= render 'front_end_admin_navbar' %>
    <% end %>

    <%= render 'layouts/scihist_masthead' %>

    <%# Blacklight put a search form here, we include our own local one in scihist_masthead instead,
        integrated into the masthead -%>

    <div id="mainContainer" class="container-fluid">
      <%= content_for(:container_header) %>
      <%= render 'flash_message_display' %>
      <% if content_for? :full_width_layout %>
        <%# The only template to use this is homepage/index . %>
        <%= yield %>
      <% else %>
        <div class="row">
          <% if content_for? :sidebar %>
            <section id="content" role="main" class="order-last">
              <%= yield %>
            </section>
            <section id="sidebar" class="page-sidebar order-first">
              <%= content_for(:sidebar) %>
            </section>
          <% else %>
            <section class="col-md-12">
              <%= yield %>
            </section>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= render partial: 'shared/modal' %>
    <%= render partial: 'layouts/scihist_footer' %>
    <%= render 'application/accept_cookies_banner' %>
  </body>
</html>
