<!DOCTYPE html>

<%# This is our 'front-end' Rails layout; see also the 'admin' layout for back-end pages.

    This one _began_ with the out of the box Blacklight layout, but customizing
    it to have less assumptions so we could let Blacklight have a lighter touch
    on our app, and let non-Blacklight controllers use this layout.

    Based on a combination of:

    * https://github.com/projectblacklight/blacklight/blob/v7.0.1/app/views/layouts/blacklight.html.erb
    * https://github.com/projectblacklight/blacklight/blob/v7.0.1/app/views/layouts/blacklight/base.html.erb

    Some Blacklight features that are still in here:

    * `content_for(:sidebar)` to provide sidebar to the layout, triggering
      top-level HTML making room for sidebar.
    * providing the blacklight shared/modal with DOM for Bootstrap modal skeleton that
      can be re-used by any JS that needs a modal.
%>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Internet Explorer use the highest version available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- try to improve performance of typekit fonts noted as perf hit
        https://developer.chrome.com/docs/lighthouse/performance/uses-rel-preconnect/ -->
    <link rel="preconnect" href="https://use.typekit.net" crossorigin>
    <link rel="preconnect" href="https://p.typekit.net" crossorigin>

    <%= render 'layouts/google_analytics_4' %>

    <title><%= render_page_title %></title>
    <%= opensearch_description_tag application_name, opensearch_catalog_url(format: 'xml') %>

    <%# we mainly exclusively use vite, not sprockets -- but still use sprockets
        to get blacklight_range_limit assets

        Javascript tags with defer FIRST in head may be more efficient
    %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application', defer: true %>
    <%= vite_stylesheet_tag 'application.scss', media: "all" %>

    <%= render "layouts/head_tag_common" %>

    <%= csrf_meta_tags %>
    <%= content_for(:head) %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->
  </head>

  <body class="<%= render_body_class %> scihist-main-layout <%= content_for :body_classes %>">
    <% if show_ie_unsupported_warning? %>
      <%= render 'ie_unsupported_warning' %>
    <% end %>

    <% if can? :access_staff_functions %>
      <%= render 'front_end_admin_navbar' %>
    <% end %>

    <%= render ScihistMasthead.new(suppress_product_subhead: content_for(:suppress_product_subhead)) %>

    <%# Blacklight put a search form here, we include our own local one in scihist_masthead instead,
        integrated into the masthead -%>

    <main id="mainContainer" class="container-fluid">
      <%= content_for(:container_header) %>
      <%= render 'flash_message_display' %>
      <% if content_for? :full_width_layout %>
        <%# The only template to use this is homepage/index . %>
        <%= yield %>
      <% else %>
        <div class="row">
          <% if content_for? :sidebar %>
            <section id="content" class="order-last"
              <%= %Q{aria-label="#{content_for(:content_aria_label)}"}.html_safe if content_for(:content_aria_label) %>
            >
              <%= yield %>
            </section>
            <section id="sidebar" class="page-sidebar order-first"
                <%= %Q{aria-label="#{content_for(:sidebar_aria_label)}"}.html_safe if content_for(:sidebar_aria_label) %>
            >
              <%= content_for(:sidebar) %>
            </section>
          <% else %>
            <section class="col-md-12">
              <%= yield %>
            </section>
          <% end %>
        </div>
      <% end %>
    </main>

    <%= render partial: 'shared/modal' %>

    <% if @show_deai_header || content_for(:show_deai_header) %>
      <section class="deai-footer" aria-label="Statement on Harmful or Offensive Content">
        <p class="shi-full-width-inner">
          The Science History Institute recognizes there are materials in our collections that may be offensive or harmful, containing racist, sexist, Eurocentric, ableist, or homophobic language or depictions. The history of science is not exempt from beliefs or practices harmful to traditionally marginalized groups. The Institute is engaged in ongoing efforts to responsibly present and address the evidence of oppression and injustice inextricable from the history of science. If you would like to learn more about our ongoing efforts or if you encounter harmful, inaccurate, or insufficient descriptions, please contact us at <a href="mailto:digital@sciencehistory.org">digital@sciencehistory.org</a>.
        </p>
      </section>
    <% end %>
    <%= render ScihistFooterComponent.new %>
  </body>
</html>
