<h1 class="mb-4">Orphaned File Report</h1>

<p>
  Checks whether our stored files actually are have links to them somewhere in our database.
  To save space, this report only lists the total <em>number</em> of "orphaned" files, along with a few sample links.
  The report also tells you when the files were last checked. Reports are run weekly, but we only keep the latest one.
</p>





<% if @report_available == false %>
  <p>No reports found.</p>
<% else %>
  <h2 class="border-bottom">Latest report</h2>
  <h4>Report id</h4>
  <p><%= @report.id %></p>
  <hr/>
  <h4>Started at</h4>
  <p><%= l(@report.start_time, format: :short) if @report.start_time %></p>
  <hr/>
  <h4>Completed successfully at</h4>
  <p class="text-muted small">If this date is present, the audit checked all assets.</p>
  <p><%= l(@report.end_time, format: :short) if @report.end_time %></p>
  <hr/>


  <h4>Originals</h4>
  <p class="text-muted small">Original files without a corresponding asset in the database.</p>
  <p>
    <% if @report.orphaned_originals_count > 0 %>
      <span class="text-danger">
        <i class="fa fa fa-thumbs-down" aria-hidden="true"></i>There are <%= @report.orphaned_originals_count %> orphaned original files.
      </span>
      <ul>
        <% @report.orphaned_originals_sample.each do |url|%>
          <li>
            <%= link_to display_s3_url(url, storage: Shrine.storages[:store]), S3ConsoleUri.from_uri(url).console_uri %>
          </li>
        <% end %>
        <% if @report.orphaned_originals_count > @report.orphaned_originals_sample.length %>
          <li>[...]</li>
        <% end %>
      </ul>
      To delete orphaned originals:
      <code>
        rails runner 'OrphanS3Originals.new(show_progress_bar: false).delete_orphans'
      </code>
    <% else %>
      <span class="text-success">
        <i class="fa fa fa-thumbs-up" aria-hidden="true"></i>
      </span>
      All original files OK.
    <% end %>
  </p>

  <hr/>
  <h4>Public derivatives</h4>
  <p class="text-muted small">Public derivatives without a corresponding asset in the database.</p>
  <p>
    <% if @report.orphaned_public_derivatives_count > 0 %>
      <span class="text-danger">
        <i class="fa fa fa-thumbs-down" aria-hidden="true"></i>  There are <%= @report.orphaned_public_derivatives_count %> orphaned public derivatives.
      </span>
      <ul>
        <% @report.orphaned_public_derivatives_sample.each do |url|%>
          <li>
            <%= link_to display_s3_url(url, storage: Shrine.storages[:kithe_derivatives]), S3ConsoleUri.from_uri(url).console_uri %>
          </li>
        <% end %>
        <% if @report.orphaned_public_derivatives_count > @report.orphaned_public_derivatives_sample.length %>
          <li>[...]</li>
        <% end %>
      </ul>
      To delete orphaned public derivatives:
      <code>
        rails runner 'OrphanS3Derivatives.new(show_progress_bar: false).delete_orphans'
      </code>

    <% else %>
      <span class="text-success">
        <i class="fa fa fa-thumbs-up" aria-hidden="true"></i>
      </span>
      All public derivatives OK
    <% end %>
  </p>


  <hr/>
  <h4>Restricted derivatives</h4>
  <p class="text-muted small">Restricted derivatives without a corresponding asset in the database.</p>
  <p>
    <% if @report.orphaned_restricted_derivatives_count > 0  %>
      <span class="text-danger">
        <i class="fa fa fa-thumbs-down" aria-hidden="true"></i> There are <%= @report.orphaned_restricted_derivatives_count %> orphaned restricted derivatives.
      </span>
      <ul>
        <% @report.orphaned_restricted_derivatives_sample.each_with_index do |url, i|%>
          <li>
            <%= link_to display_s3_url(url, storage: Shrine.storages[:restricted_kithe_derivatives]), S3ConsoleUri.from_uri(url).console_uri %>
          </li>
        <% end %>
        <% if @report.orphaned_restricted_derivatives_count > @report.orphaned_restricted_derivatives_sample.length %>
          <li>[...]</li>
        <% end %>
      </ul>
      To delete restricted derivatives:
      <code>
        rails runner 'OrphanS3RestrictedDerivatives.new(show_progress_bar: false).delete_orphans'
      </code>
    <% else %>
      <span class="text-success">
        <i class="fa fa fa-thumbs-up" aria-hidden="true"></i>
      </span>
      All restricted derivatives OK
    <% end %>
  </p>


  <hr/>
  <h4>Video derivatives</h4>
  <p class="text-muted small">Video derivatives without a corresponding video asset in the database.</p>
  <p>
    <% if @report.orphaned_video_derivatives_count > 0  %>
      <span class="text-danger">
        <i class="fa fa fa-thumbs-down" aria-hidden="true"></i> There are <%#= @report.orphaned_video_derivatives_count %> orphaned video derivatives.
      </span>
      <ul>
        <% @report.orphaned_video_derivatives_sample.each_with_index do |url, i|%>
          <li>
            <%= link_to display_s3_url(url, storage: Shrine.storages[:video_derivatives_storage]), S3ConsoleUri.from_uri(url).console_uri %>
          </li>
        <% end %>
        <% if @report.orphaned_video_derivatives_count > @report.orphaned_video_derivatives_sample.length %>
          <li>[...]</li>
        <% end %>
      </ul>
      To delete video derivatives:
      <code>
        rails runner 'OrphanS3VideoDerivatives.new(show_progress_bar: false).delete_orphans'
      </code>
    <% else %>
      <span class="text-success">
        <i class="fa fa fa-thumbs-up" aria-hidden="true"></i>
      </span>
      All video derivatives OK
    <% end %>
  </p>

  <hr/>
  <h4>DZI tiles</h4>
  <p class="text-muted small">Deep zoom tiles without a corresponding asset in the database.</p>
  <p>
    <% if @report.orphaned_dzi_count > 0 %>
      <span class="text-danger">
        <i class="fa fa fa-thumbs-down" aria-hidden="true"></i> There are <%= @report.orphaned_dzi_count %> orphaned deep zoom tiles:
      </span>
      <ul>
        <% @report.orphaned_dzi_sample.each_with_index do |url, i|%>
          <li>
            <%= link_to display_s3_url(url, storage: Shrine.storages[:dzi_storage]), S3ConsoleUri.from_uri(url).console_uri %>
          </li>
        <% end %>
        <% if @report.orphaned_dzi_count > @report.orphaned_dzi_sample.length %>
          <li>[...]</li>
        <% end %>
      </ul>
      To delete orphaned deep zoom tiles:
      <code>
        rails runner 'OrphanS3Dzi.new(show_progress_bar: false).delete_orphans'
      </code>
    <% else %>
      <span class="text-success">
        <i class="fa fa fa-thumbs-up" aria-hidden="true"></i>
      </span>
      All tiles OK
    <% end %>
  </p>
<% end %>
